---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{#partial "hero"}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_sitemap}}
		<div class="page-header sitemap-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_sitemap}}" />
	{{else}}
		<div class="page-header sitemap-header">
	{{/if}}
        <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}
{{#partial "page"}}

<div class="page">
    <section class="page-content">
        {{{region name="404_above_search"}}}
        <p class="u-textAlignCenter page-not-found">
            {{lang 'page_not_found.message'}}
        </p>

        {{> components/common/search-box}}
		{{#if theme_settings.custom_404_show_categories}}
		<ul class="subcategories-grid">
			{{#each categories}}
			<li class="subcategories-grid-item">
				<div class="subcategories-container">
					<a href="{{url}}">
					{{#if image}}
						<span class="subcategories-image"><img src="{{getImage image 'category_card_size'}}" alt="{{name}}"></span>
					{{else}}
						<span class="subcategories-blank">View Category</span>
					{{/if}}
						<span class="subcategories-name">{{name}}</span>
					</a>
				</div>
			</li>
			{{/each}}
		</ul>
		{{/if}}
		
		{{{region name="404_below_search"}}}
		{{> components/custom/client/client-404}}
		
		{{#if theme_settings.custom_404_show_sitemap}}
		<ul class="sitemap-list">
		    <li class="sitemap-list-item">
		        <h2>{{lang 'footer.info'}}</h2>
		        <ul>
				{{#each pages}}
					{{#if children}}
					<li class=sitemap-{{dashcase name}}>
						<a href="{{url}}">{{name}}</a>
						<ul>
						{{#each children}}
							{{#if children}}
							<li>
								<a href="{{url}}">{{name}}</a>
								<ul>
								{{#each children}}
									<li><a href="{{url}}">{{name}}</a></li>
								{{/each}}
								</ul>
							</li>
							{{else}}
								<li><a href="{{url}}">{{name}}</a></li>
							{{/if}}
						{{/each}}
						</ul>
					</li>
					{{else}}
					<li><a href="{{url}}">{{name}}</a></li>
		            {{/if}}
		        {{/each}}
		        </ul>
		    </li>
		    <li class="sitemap-list-item">
		        <h2>{{lang 'footer.categories'}}</h2>
		        <ul>
				{{#each categories}}
					{{#if children}}
					<li>
						<a href="{{url}}">{{name}}</a>
						<ul>
						{{#each children}}
							{{#if children}}
							<li>
								<a href="{{url}}">{{name}}</a>
								<ul>
								{{#each children}}
									<li><a href="{{url}}">{{name}}</a></li>
								{{/each}}
								</ul>
							</li>
							{{else}}
								<li><a href="{{url}}">{{name}}</a></li>
							{{/if}}
						{{/each}}
						</ul>
					</li>
					{{else}}
					<li><a href="{{url}}">{{name}}</a></li>
		            {{/if}}
		        {{/each}}
		        </ul>
		    </li>
		    <li class="sitemap-list-item">
		        <h2>{{lang 'footer.brands'}}</h2>
		        <ul>
                {{#each shop_by_brand}}
                    <li>
                        <a href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                	<li>
						<a href="{{urls.brands}}">{{lang 'common.view_all'}}</a>
					</li>
		        </ul>
		    </li>
		</ul>
		{{/if}}
    </section>
</div>

{{/partial}}
{{> layout/base}}
