{{assignVar "blogVideo" "off"}}
{{#each post.tags}}
	{{#startsWith '_youtube:' name}}
	{{assignVar "blogVideo" "on"}}
	{{/startsWith}}
{{/each}}
<article class="blog blog-video-{{getVar 'blogVideo'}}">
	<div class="blog-post-container">	
	    <div class="blog-post-figure">		
			{{#if (getVar "blogVideo") '===' 'off'}}
		        {{#if post.thumbnail}}
		            <figure class="blog-thumbnail">
		                <a href="{{post.url}}" title="{{post.title}}">
		                    {{> components/common/responsive-img
		                        image=post.thumbnail
		                        fallback_size=theme_settings.blog_size
		                        lazyload=theme_settings.lazyload_mode
		                    }}
		                </a>
		            </figure>
		        {{/if}}
			{{else}}
				{{#each post.tags}}
					{{#startsWith '_youtube:' name}}
					<figure class="blog-thumbnail">
			            <div class="blog-video">
							<iframe
			                id="player"
			                class="lazyload"
			                type="text/html"
			                width="640"
			                height="390"
			                frameborder="0"
			                webkitAllowFullScreen
			                mozallowfullscreen
			                allowFullScreen
			                data-src="//www.youtube.com/embed/{{{after (split name '_youtube:') 1}}}?rel=0"
			                data-video-player>
			            	</iframe>
						</div>
					</figure>
					{{/startsWith}}
				{{/each}}
			{{/if}}
	    </div>

	    <div class="blog-post-body">
	        <header class="blog-header">
				{{#unless is_blog_post}}
				<h2 class="blog-title">
					<a href="{{post.url}}" title="{{post.title}}">{{post.title}}</a>
				</h2>
				{{/unless}}
	            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
	        </header>

	        <div class="blog-post">
				{{{region name="blog_banner"}}}
	            {{#if post.body}}
	                {{{post.body}}}
	            {{else}}
	                {{{post.summary}}}
	                {{#if post.show_read_more}}
	                    &hellip; <a class="blog-link" href="{{url}}" title="{{post.title}}" aria-label="{{post.title}} {{lang 'blog.read_more'}}">{{lang 'blog.read_more'}}</a>
	                {{/if}}
	            {{/if}}
	        </div>

	        {{#if show_tags}}
	            {{#if post.tags}}
	                <ul class="tags">
	                    {{#each post.tags}}
						{{#startsWith '_' name}}
						{{else}}
	                    <li class="tag">
	                        <a href="{{url}}" title="{{name}}">#{{name}}</a>
	                    </li>
						{{/startsWith}}
	                    {{/each}}
	                </ul>
	            {{/if}}
	        {{/if}}

	        {{>components/common/share url=post.url}}

	    </div>
	</div>
</article>
