<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-label"
                       itemprop="item"
                       href="{{url}}"
                       {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span itemprop="name">{{name}}</span>
                    </a>
                    <meta itemprop="position" content="{{add @index 1}}" />
                </li>
            {{/each}}
        {{/unless}}
		{{#each breadcrumbs}}
		    {{#if @index 1}}
		        <span class="breadcrumb-menu breadcrumb-menu-1">{{name}}</span>
		    {{/if}}
		    {{#if @index 2}}
		        <span class="breadcrumb-menu breadcrumb-menu-2">{{name}}</span>
		    {{/if}}
		    {{#if @index 3}}
		        <span class="breadcrumb-menu breadcrumb-menu-3">{{name}}</span>
		    {{/if}}
		{{/each}}
    </ol>
</nav>
