{{#unless theme_settings.hide_breadcrumbs }}
<nav aria-label="Breadcrumb">
	<ol class="breadcrumbs">
	{{#each breadcrumbs}}
		<li class="breadcrumb {{#if @last}}is-active{{/if}}">
			<a class="breadcrumb-label"
			href="{{url}}"
			{{#if @last}}aria-current="page"{{/if}}
			>
				<span>{{name}}</span>
			</a>
		</li>
	{{/each}}
    </ol>
</nav>
{{/unless}}

{{#each breadcrumbs}}
	{{#if @index 1}}
	<span class="breadcrumb-menu breadcrumb-menu-1">{{#if name '===' 'All Brands'}}Brands{{else}}{{name}}{{/if}}</span>
	{{/if}}
	{{#if @index 2}}
	<span class="breadcrumb-menu breadcrumb-menu-2">{{name}}</span>
	{{/if}}
	{{#if @index 3}}
	<span class="breadcrumb-menu breadcrumb-menu-3">{{name}}</span>
	{{/if}}
{{/each}}

{{#unless theme_settings.hide_breadcrumbs }}
<script type="application/ld+json"  nonce="{{nonce}}">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
        {
            "@type": "ListItem",
            "position": {{add @index 1}},
            "item": {
                "@id": {{{JSONstringify url}}},
                "name": {{{JSONstringify name}}}
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
{{/unless}}
