{{#if currency_selector.currencies.length '>' 1}}
    <li class="navUser-item navUser-item--currency">
        <a class="navUser-action navUser-action--currencySelector has-dropdown"
           href="#"
           data-dropdown="currencySelection"
           aria-controls="currencySelection"
           aria-expanded="false"
        >
			<span class="navUser-icon{{#if theme_settings.custom_header_icon_style '===' 'outline'}} navUser-icon-outline{{/if}}">{{#each currency_selector.currencies}}{{#if is_active}}{{{flag}}}{{/if}}{{/each}} {{lang 'common.currency' code=currency_selector.active_currency_code}}</span>
			{{#if theme_settings.custom_header_icon_text}}
			<span class="navUser-text">
            	<i class="icon" aria-hidden="true">
                	<svg>
                    	<use href="#icon-chevron-down" />
                	</svg>
            	</i>
			</span>
			{{/if}}
        </a>
        <ul class="dropdown-menu" id="currencySelection" data-dropdown-content aria-hidden="true" tabindex="-1">
            {{#each currency_selector.currencies}}
            <li class="dropdown-menu-item">
                <a href="{{{switch_url}}}" data-currency-code="{{{code}}}">
					<span class="currency-flag">{{{flag}}}</span>
					<span class="currency-text">{{#if is_active}}<strong>{{name}}</strong>{{else}}{{name}}{{/if}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
{{/if}}
