<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
<header class="header{{#if theme_settings.custom_header_fixed}} header-fixed{{else}} header-unfixed{{/if}}" role="banner">
    <a href="#" class="mobileMenu-toggle mobileMenu-{{theme_settings.custom_header_icon_style}}" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}
    <div class="navPages-container{{#unless theme_settings.custom_header_scroll_navpages}} navPages-container-hide{{/unless}} navPages-{{theme_settings.custom_header_icon_style}}" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
	{{> components/custom/client/client-header}}
</header>
{{#if theme_settings.custom_header_show_bar}}
	{{> components/custom/header-bar}}
{{/if}}

{{#if theme_settings.custom_b2b}}
	{{> components/custom/b2b-message}}
{{/if}}

{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<div class="header-globalregion"{{#unless theme_settings.custom_header_global_region}} style="display:none;"{{/unless}}>
	{{{region name="header_bottom--global"}}}
</div>
{{{region name="header_bottom"}}}