---
blog:
    posts:
        limit: 100
        pages: 100
        summary: 200
customer:
    wishlists:
        limit: 10
---

{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header blog-header">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page">
	{{assignVar "tag" "hide"}}
	{{#if (getVar "tag") '!==' 'show'}}
	{{#each blog.posts}}
		{{#if tags}}
			{{assignVar "tag" "show"}}
		{{/if}}
	{{/each}}
	{{/if}}
	{{#if (getVar "tag") '===' 'show'}}
	<aside class="page-sidebar page-sidebar-vertical">
		<nav>
			<div class="sidebarBlock sidebarCategories">
				<h2 class="sidebarBlock-heading">Filter by Tag</h2>
				<ul class="navList navList-tag">
				{{#each blog.posts}}
					{{#if tags}}
						{{#each tags}}
							<li class="navList-item">
								<a class="navList-action" href="{{url}}">#{{name}}</a>
							</li>
						{{/each}}
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</nav>
	</aside>
	{{/if}}
	<div class="blog-grid">
    {{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}
	</div>
    {{> components/common/paginator pagination.blog}}
</section>

{{/partial}}
{{> layout/base}}
