---
blog:
    posts:
        limit: 24
        pages: 100
        summary: 200
customer:
    wishlists:
        limit: 10
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "hero"}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_blog}}
		<div class="page-header blog-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_blog}}" />
	{{else}}
		<div class="page-header blog-header">
	{{/if}}
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page">
	{{{region name="blog_top"}}}
	{{{region name="blog_top--global"}}}
	{{assignVar "tag" "hide"}}
	{{#if (getVar "tag") '!==' 'show'}}
	{{#each blog.posts}}
		{{#if tags}}
			{{assignVar "tag" "show"}}
		{{/if}}
	{{/each}}
	{{/if}}
	{{#if (getVar "tag") '===' 'show'}}
	<aside class="page-sidebar page-sidebar-vertical">
		<nav>
			<div class="sidebarBlock sidebarSearch">
				<form class="form form-blog" role="search" action="/search.php?section=content&search_query=" method="get">
					<div class="form-field form-field--input">
						<input class="form-input form-blog-search" name="blog_query" type="search">
						<button class="button button--primary" type="submit">
		                    <i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-search" /></svg></i>
						</button>
					</div>
				</form>
			</div>
			<div class="sidebarBlock sidebarCategories">
				<h2 class="sidebarBlock-heading">Filter by Tag</h2>
				<ul class="navList navList-tag">
				{{#each blog.posts}}
					{{#if tags}}
						{{#each tags}}
							{{#startsWith '_' name}}
							{{else}}
							<li class="navList-item">
								<a title="{{name}}" class="navList-action" href="{{url}}">#{{name}}</a>
							</li>
							{{/startsWith}}
						{{/each}}
					{{/if}}
				{{/each}}
				</ul>
			</div>
		</nav>
		{{{region name="blog_aside"}}}
		{{{region name="blog_aside--global"}}}
	</aside>
	{{/if}}
	<div class="blog-grid">
    {{#each blog.posts}}
        {{> components/blog/post post=this theme_settings=../theme_settings}}
    {{/each}}
	</div>
    {{> components/common/paginator pagination.blog}}
	{{{region name="blog_bottom"}}}
	{{{region name="blog_bottom--global"}}}
</section>

{{/partial}}
{{> layout/base}}
