---
blog:
    recent_posts:
        limit: 10
customer:
    wishlists:
        limit: 10
---
{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header blogpost-header">
		{{> components/custom/client/client-blogpost-header}}
        <h1 class="page-heading">{{blog.post.title}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
<div class="page">
	<div class="page-content">
		{{> components/custom/client/client-blogpost-top}}
		{{{region name="blog_post_top"}}}
		{{{region name="blog_post_top--global"}}}
		{{> components/blog/post post=blog.post show_tags=true is_blog_post=true}}
		{{{region name="blog_post_bottom"}}}
		{{{region name="blog_post_bottom--global"}}}
		{{> components/custom/client/client-blogpost-bottom}}
	</div>
	<aside class="page-sidebar page-sidebar-vertical">
		<nav>
			<div class="sidebarBlock sidebarRecentPosts">
				<a class="button button--primary" href="{{blog.url}}" title="back to all blog posts"><strong>&larr; {{blog.name}}</strong></a>
				<h2 class="sidebarBlock-heading">{{lang 'blog.recent_posts'}}</h2>
				<ul class="navList">
				{{#each blog.recent_posts}}
					<li class="navList-item">
						<a class="navList-action" href="{{url}}" title="{{title}}">{{title}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
		</nav>
		{{{region name="blog_post_aside"}}}
		{{{region name="blog_post_aside--global"}}}
	</aside>
</div>
{{/partial}}
{{> layout/base}}
