---
blog:
    posts:
        limit: 5
        pages: 3
        summary: 200
customer:
    wishlists:
        limit: 10
---

{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header blog-header">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page">
    

    {{#each blog.posts}}
        {{> components/blog/post post=this}}
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</section>

{{/partial}}
{{> layout/base}}
