---
cart: true
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}

{{#partial "hero"}}
{{{region name="cart_below_menu"}}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_cart}}
		<div class="page-header checkout-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_cart}}" />
	{{else}}
		<div class="page-header checkout-header">
	{{/if}}
        {{> components/cart/page-title}}
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
{{inject 'invalidEntryMessage' (lang 'cart.invalid_entry_message')}}
<div class="page">

    <div class="page-content" data-cart>
		
        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>
		{{> components/custom/client/client-cart-top}}
		{{{region name="cart_above_table"}}}
        {{#if cart.items.length}}
        <div class="loadingOverlay"></div>
		<div class="cart-content-wrapper">
            <div data-cart-content class="cart-content-items cart-content-padding-right">
                {{> components/cart/content}}
            </div>
			<div class="cart-content-container">
				<div class="cart-content-totals">
					<div data-cart-totals class="cart-content-padding-right">
                		{{> components/cart/totals}}
            		</div>
					{{{region name="cart_below_totals"}}}
				</div>
				<div class="cart-content-actions">
		        {{#or customer (unless settings.hide_price_from_guests)}}
		            
		            {{#if cart.show_primary_checkout_button}}
		                <div class="cart-actions cart-content-padding-right">
		                    <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}" data-primary-checkout-now-action>
								<i class="icon" aria-hidden="true"><svg><use href="#icon-lock" /></svg></i> <strong>&nbsp;{{lang 'cart.checkout.button'}}</strong>
							</a>
		                    {{#if cart.show_multiple_address_shipping}}
		                        <a class="button checkoutMultiple button--multiple" href="{{urls.checkout.multiple_address}}">
		                            {{lang 'cart.preview.checkout_multiple'}}
		                        </a>
		                    {{/if}}
		                </div>
		            {{else}}
		                <div class="cart-actions cart-content-padding-right">
		                    <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
		                </div>
		            {{/if}}
					
		            <div data-cart-additional-checkout-buttons class="cart-additionalCheckoutButtons cart-content-padding-right">
		                {{> components/cart/additional-checkout-buttons}}
		            </div>
	            {{else}}
	                <div class="cart-actions cart-content-padding-right">
	                    <a class="button" href="{{urls.auth.login}}" title="{{lang 'cart.login_to_checkout'}}">{{lang 'cart.login_to_checkout'}}</a>
	                </div>
	            {{/or}}
					{{> components/custom/client/client-cart-bottom}}
					{{{region name="cart_below_buttons"}}}
				</div>
			</div>
		</div>
        {{else}}
			<h3 tabindex="0">{{lang 'cart.checkout.empty_cart'}}</h3>
        {{/if}}
		{{{region name="cart_below_table"}}}
    </div>
</div>
{{/partial}}
{{> layout/base}}
