---
category:
    shop_by_price: {{theme_settings.shop_by_price_visibility}}
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{inject 'apiToken' settings.storefront_api.token}}
{{inject "cardVariantData" theme_settings.custom_card_variant_data}}
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "hero"}}
{{{region name="category_below_menu"}}}
<div class="container container-hero">
	{{#if breadcrumbs.[1].name '==' 'Brands'}}
		<div class="page-header category-header">
	{{else}}
		{{#if theme_settings.custom_page_header_image_depth '==' 'none'}}
			{{#if breadcrumbs.[1].name '==' category.name}}
				{{#if category.image}}
					<div class="page-header category-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
				    {{> components/common/responsive-img
				        image=category.image
				        fallback_size=theme_settings.zoom_size
				        lazyload=theme_settings.lazyload_mode
				        class="page-header-image"
				    }}
				{{else}}
					<div class="page-header category-header">
				{{/if}}
			{{else}}
				<div class="page-header category-header">
			{{/if}}
		{{else}}
			{{#if category.image}}
				<div class="page-header category-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
			    {{> components/common/responsive-img
			        image=category.image
			        fallback_size=theme_settings.zoom_size
			        lazyload=theme_settings.lazyload_mode
			        class="page-header-image"
			    }}
			{{else}}
				<div class="page-header category-header">
			{{/if}}
		{{/if}}
	{{/if}}
	{{#unless theme_settings.hide_category_page_heading }}
		    <h1 class="page-heading">{{#contains head.title " | "}}{{{first (before (split head.title ' | ') 1)}}}{{else}}{{category.name}}{{/contains}}</h1>
	{{/unless}}
	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
{{{region name="category_below_header"}}}
<div class="category-description{{#if category.image}} category-description-image{{/if}}{{#if category.description}}{{#if theme_settings.custom_category_description_trim}} category-description-trim{{/if}}{{/if}}">
	{{{category.description}}}
</div>
{{#if category.description}}
	{{#if theme_settings.custom_category_description_trim}}
		<div class="category-description-button" style="display: none;">
			<a class="button button--secondary">
				<span class="category-description-more">{{lang 'search.faceted.show-more'}}</span>
				<span class="category-description-less">{{lang 'search.faceted.show-less'}}</span>
			</a>
		</div>
	{{/if}}
{{/if}}

{{assignVar "catbrand" "inactive"}}
{{#if breadcrumbs.[1].name '==' 'Brands'}}
	{{#each breadcrumbs}}
		{{#if @last}}
			{{#if @index 1}}
				{{assignVar "catbrand" "active"}}
			{{/if}}
		{{/if}}
	{{/each}}
{{/if}}

{{assignVar "subimage" "inactive"}}
{{#if category.subcategories}}
	{{#each category.subcategories}}
		{{#if image}}
			{{assignVar "subimage" "active"}}
		{{/if}}
	{{/each}}
{{/if}}
{{#if (getVar "b2b-products") '===' 'show'}}
{{#if category.subcategories}}
    <div class="subcategories-above subcategories--{{theme_settings.custom_category_sidebar_display}}{{#unless category.products}} subcategories--noproducts{{/unless}}">
		<ul class="subcategories-grid{{#if (getVar 'subimage') '===' 'active'}} subcategories-grid-image{{/if}}{{#unless breadcrumbs.[1].name '==' 'Brands'}}{{#unless theme_settings.custom_category_show_blocks}} subcategories-grid-blockless{{/unless}}{{/unless}}">
			{{#each category.subcategories}}
			<li class="subcategories-grid-item subcategories-grid-item-{{dashcase (lowercase (sanitize name))}}">
				<div class="subcategories-container">
				{{#if ../theme_settings.custom_category_show_blocks}}
					<a href="{{url}}">
					{{#if (getVar "subimage") '===' 'active'}}
						{{#if image}}
						<span class="subcategories-image"><img src="{{getImage image 'category_card_size'}}" alt="{{name}}"></span>
						{{else}}
						<span class="subcategories-blank"></span>
						{{/if}}
					{{/if}}
						<span class="subcategories-name">{{name}}</span>
					</a>
				{{else if ../breadcrumbs.[1].name '==' 'Brands'}}
					<a href="{{url}}">
					{{#if (getVar "subimage") '===' 'active'}}
						{{#if image}}
						<span class="subcategories-image"><img src="{{getImage image 'category_card_size'}}" alt="{{name}}"></span>
						{{else}}
						<span class="subcategories-blank"></span>
						{{/if}}
					{{/if}}
						<span class="subcategories-name">{{name}}</span>
					</a>
				{{else}}
					<a href="{{url}}">
						<span class="subcategories-name">{{name}}</span>
					</a>
				{{/if}}
				</div>
			</li>
			{{/each}}
		</ul>
    </div>
{{/if}}
{{/if}}

<div class="page">
{{#and (if category.products) (if (getVar "catbrand") '===' 'inactive')}}
	{{#if (getVar "b2b-products") '===' 'show'}}
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar page-sidebar-{{theme_settings.custom_category_sidebar_display}} toggle-content is-open" id="faceted-search-container">
            {{> components/category/sidebar}}
			{{{region name="category_aside"}}}
			{{{region name="category_aside--global"}}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar page-sidebar-{{theme_settings.custom_category_sidebar_display}} toggle-content is-open" id="faceted-search-container">
            {{> components/category/sidebar}}
			{{{region name="category_aside"}}}
			{{{region name="category_aside--global"}}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar page-sidebar-{{theme_settings.custom_category_sidebar_display}} toggle-content is-open" id="faceted-search-container">
                {{> components/category/sidebar}}
				{{{region name="category_aside"}}}
				{{{region name="category_aside--global"}}}
            </aside>
        {{/if}}
	{{else if theme_settings.custom_category_show_parents}}
		{{#if breadcrumbs.[2]}}
        	<aside class="page-sidebar page-sidebar-{{theme_settings.custom_category_sidebar_display}} toggle-content is-open" id="faceted-search-container">
            	{{> components/category/sidebar}}
				{{{region name="category_aside"}}}
				{{{region name="category_aside--global"}}}
        	</aside>
    	{{/if}}
    {{/if}}
	{{/if}}

    <div class="page-content" id="product-listing-container">
		{{{region name="category_above_content"}}}
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
{{else}}
    <div class="page-content" id="product-listing-container">
	{{{region name="category_above_content"}}}
		{{#unless category.subcategories}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
		{{/unless}}
	{{{region name="category_below_content"}}}
    </div>
{{/and}}
{{{region name="category_below_all"}}}
</div>

{{/partial}}
{{> layout/base}}
