---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---

{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header compare-header">
    	<h1 class="page-heading">{{lang 'compare.header' products=comparisons.length}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
{{inject 'comparisons' comparisons}}
{{inject 'compareRemoveMessage' (lang 'compare.no_remove')}}
<div class="page">
    <div class="page-content">

        <table class="compareTable">
            <tr class="compareTable-row">
                <th class="compareTable-heading"></th>
                {{#each comparisons}}
                <th class="compareTable-product">
                    <article class="card">
                        <figure class="card-figure">
                            <a class="card-figure__link" aria-label="{{name}}" href="{{url}}" data-event-type="product-click">
                                <div class="card-img-container">
                                    {{> components/common/responsive-img
                                        image=image
                                        class="card-image"
                                        fallback_size=../theme_settings.product_size
                                        lazyload=../theme_settings.lazyload_mode
                                        default_image=../theme_settings.default_image_product
                                    }}
                                </div>
                            </a>
                            <a class="compareTable-removeProduct" data-comparison-remove href="{{#if remove_url}}{{remove_url}}{{else}}#{{/if}}">
                                <svg class="icon">
                                    <use href="#icon-close"></use>
                                </svg>
                            </a>
                        </figure>
                        <div class="card-body">
                            {{#if brand.name}}
                                <p class="card-text"><a href="{{brand.url}}">{{ brand.name }}</a></p>
                            {{/if}}
                            <h3 class="card-title">
                                <a href="{{url}}">{{ name }}</a>
                            </h3>
                            {{#or ../customer (unless ../settings.hide_price_from_guests)}}
                                {{#if price_range}}
                                    {{> components/products/price-range}}
                                {{else}}
                                    {{> components/products/price price=price}}
                                {{/if}}
                            {{else}}
                                {{> components/common/login-for-pricing}}
                            {{/or}}
                        </div>
                    </article>
                </th>
                {{/each}}
            </tr>
            <tr class="compareTable-row">
                <th class="compareTable-heading"></th>
                {{#each comparisons}}
                    <td class="compareTable-action">
                        {{#if show_cart_action}}
                            {{#if has_options}}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                            {{/if}}
                            {{#if pre_order}}
                                <a href="{{url}}" data-event-type="product-click" class="button button--primary" data-product-id="{{id}}">
                                    {{lang 'products.pre_order'}}
                                </a>
                            {{/if}}
                            {{#if add_to_cart_url}}
                                <a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--primary" data-product-id="{{id}}">
                                    {{lang 'products.add_to_cart'}}
                                </a>
                            {{/if}}
                            {{#if out_of_stock_message}}
                                <a href="{{url}}" class="button button--primary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                            {{/if}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">{{lang 'products.description'}}</span>
                </th>
                {{#each comparisons}}
                <td class="compareTable-item">{{{ summary }}}</td>
                {{/each}}
            </tr>
            {{#if settings.show_product_rating}}
                <tr class="compareTable-row">
                    <th class="compareTable-heading">
                        <span class="compareTable-headingText">{{lang 'products.reviews.rating_label'}}</span>
                    </th>
                    {{#each comparisons}}
                    <td class="compareTable-item">
                        {{#if rating}}
                            {{> components/products/ratings rating=rating}}
                        {{else}}
                            {{lang 'products.reviews.no_reviews'}}
                    {{/if}}
                    </td>
                    {{/each}}
                </tr>
            {{/if}}
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">{{lang 'products.availability'}}</span>
                </th>
                {{#each comparisons}}
                <td class="compareTable-item">
                    {{#if availability}}
                        {{ availability }}
                    {{else}}
                        {{lang 'common.not_applicable'}}
                    {{/if}}
                </td>
                {{/each}}
            </tr>
			<!--
            <tr class="compareTable-row">
                <th class="compareTable-heading">
                    <span class="compareTable-headingText">{{lang 'common.other_details'}}</span>
                </th>
                {{#each comparisons}}
                    <td class="compareTable-item">
                        {{#if custom_fields}}
                            <ul>
                                {{#each custom_fields}}
                                    <li>{{name}}: {{{value}}}</li>
                                {{/each}}
                            </ul>
                        {{else}}
                            {{lang 'common.not_applicable'}}
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
			-->
        </table>
		
		<div id="table" class="field-block">
			
		</div>
		
		<script>
			let custom = [];
			{{#each comparisons}}
				{{#if custom_fields}}
					{{#each (sortBy custom_fields "name")}}
						{{#unless name "==" "hidden"}}
							{{#startsWith "_" name}}
							{{else}}
								var cfName = "{{uppercase name}}";
								if (!(custom.some(e => e.name === cfName))) {
									custom.push({ name: "{{uppercase name}}" });
								}
							{{/startsWith}}
						{{/unless}}
					{{/each}}
				{{/if}}
			{{/each}}

			{{#each comparisons}}
				{{#if custom_fields}}
					{{#each (sortBy custom_fields "name")}}
						{{#unless name "==" "hidden"}}
							{{#startsWith "_" name}}
								{{else}}
								var cfName{{../id}} = "{{uppercase name}}";
								if (custom.some(e => e.name === cfName{{../id}})) {
									for (let i = 0; i < custom.length; i++) {
										if (custom[i]["name"] === cfName{{../id}}) {
											custom[i]['prod{{../id}}']='{{{value}}}';
										}
									}
								}
							{{/startsWith}}
						{{/unless}}
					{{/each}}
				{{/if}}
			{{/each}}

			let div = document.getElementById('table');
			
			custom.sort(function(a, b){
			    if (a.name < b.name) { return -1; }
			    if(a.firstname > b.firstname) { return 1; }
			    return 0;
			})
			
			for (let field of custom) {
				let ul = document.createElement('ul');
	
				let li = document.createElement('li');
				li.textContent = field.name;
				ul.appendChild(li);
				
				{{#each comparisons}}
				let li{{@index}} = document.createElement('li');
				if (field.prod{{id}}) {
					li{{@index}}.innerHTML = field.prod{{id}};
				} else {
					li{{@index}}.textContent = "";
				}
				ul.appendChild(li{{@index}});
				{{/each}}
				
				div.appendChild(ul);
			}
		</script>
			<!--
				{{assignVar "fieldname" "unknown"}}
				{{#each comparisons}}
					<div class="field-block">
					{{#if custom_fields}}
						{{#each (sortBy custom_fields "name")}}
						<ul class="field-data">
							{{assignVar "fieldname" name}}
							<li><strong>{{getVar "fieldname"}}:</strong></li>
							{{#each ../../comparisons}}
								{{#if custom_fields}}
									{{assignVar "fieldindex" 0}}
									{{#each custom_fields}}
										{{#if (getVar "fieldname") "===" name}}
											/* {{incrementVar "fieldindex"}} */ <<==== CHANGE THIS TO COMMENTS
											{{#if (getVar "fieldindex") "===" 1}}
												<li>
											{{/if}}
											<span>{{value}}</span>
											{{#if @last}}
												</li>
												{{assignVar "fieldindex" 0}}
											{{/if}}
										{{else}}
											{{#if @last}}
												{{#if (getVar "fieldindex") "===" 0}}
													<li>N/a</li>
												{{/if}}
											{{/if}}
										{{/if}}
									{{/each}}
								{{/if}}
							{{/each}}
						</ul>
						{{/each}}
					{{/if}}
					</div>
				{{/each}}
			-->
    </div>
</div>

{{/partial}}
{{> layout/base}}
