---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---

{{#partial "hero"}}
{{#unless (lowercase page.title) '===' 'iframe'}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_contact}}
		<div class="page-header contact-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_contact}}" />
	{{else}}
		<div class="page-header contact-header">
	{{/if}}
    {{#unless theme_settings.hide_contact_us_page_heading }}
        <h1 class="page-heading">{{#contains head.title " | "}}{{{before (split head.title ' | ') 1}}}{{else}}{{page.title}}{{/contains}}</h1>
    {{/unless}}
	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/unless}}
{{/partial}}

{{#partial "page"}}
<section class="page">

	{{#if page.sub_pages}}
	    <aside class="page-sidebar page-sidebar-vertical">
	    <nav>
			<div class="sidebarBlock sidebarCategories">
				<h2 class="sidebarBlock-heading">{{ page.title }}</h2>
	        	<ul class="navList">
	        	{{#each page.sub_pages}}
	            	<li class="navList-item"><a class="navList-action" href="{{url}}">{{title}}</a></li>
	        	{{/each}}
	        	</ul>
			</div>
	    </nav>
		</aside>
	{{/if}}
	
	{{#if page.sub_pages}}
	<div id="contact-us-page" class="page-content">
	{{else}}
	<div id="contact-us-page" class="page-content page-content--centered">
	{{/if}}
	{{{region name="page_builder_content"}}}
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
			{{#unless (lowercase page.title) '==' 'iframe'}}
				<p>{{{page.content}}}</p>
			{{/unless}}
            {{> components/page/contact-us-form}}
        {{/if}}
	{{{region name="page_builder_bottom"}}}
    </div>
{{{region name="page_builder_content_editor_area_bottom"}}}
</section>
{{#if (lowercase page.title) '==' 'iframe'}}
	{{#if theme_settings.custom_product_question}}
		{{#if forms.contact.rma}}
		<script>
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const getParam = urlParams.get('rma');
			if (getParam) {
				const oldVal = document.getElementById('contact_rma');
				const newVal = oldVal.value = getParam;
			}
		</script>
		<script>
			function sendHeight(){
			  var actual_height = document.querySelector('.body').scrollHeight;
			  var pass_data = {
			    'contentheight':actual_height
			  }
			  parent.postMessage(JSON.stringify(pass_data),"*");
			}
			window.onload = function(){
			  sendHeight();
			}
		</script>
		{{/if}}
	{{/if}}
{{/if}}

{{/partial}}

{{> layout/base}}
