---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---

{{#partial "hero"}}
{{{region name="page_below_menu"}}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_info}}
		<div class="page-header info-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_info}}" />
	{{else}}
		<div class="page-header info-header">
	{{/if}}
    {{#unless theme_settings.hide_page_heading }}
	    <h1 class="page-heading">{{#contains head.title " | "}}{{{first (before (split head.title ' | ') 1)}}}{{else}}{{page.title}}{{/contains}}</h1>
    {{/unless}}
	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page page-standard">
{{{region name="page_builder_content_editor_area_top"}}}
{{#if page.sub_pages}}
	<div class="subcategories-above subcategories--vertical">
		<div class="accord-wrapper">	
	    	<div class="accord accord-{{dashcase (lowercase (sanitize page.title))}} accord-active">
				<div class="accord-heading">
					<h4 class="accord-title">
						{{page.title}}
						<div class="accord-icon"><span class="accord-chevron">&nbsp;</span></div>
					</h4>
				</div>
				<div class="accord-body" style="display: block;">
	            {{#each page.sub_pages}}
			    	<div class="accord accord-{{dashcase (lowercase (sanitize title))}}">
						<div class="accord-link">
							<a href="{{url}}" title="{{title}}">{{title}}</a>
						</div>
					</div>
				{{/each}}
				</div>
			</div>
		</div>
    </div>
{{/if}}

{{assignVar "pagetype" "child"}}
{{#if breadcrumbs.[1].name '===' page.title}}
	{{assignVar "pagetype" "parent"}}
{{/if}}
    <aside class="page-sidebar page-sidebar-vertical page-sidebar-{{getVar 'pagetype'}}">
    	<nav>
			<div class="sidebarBlock sidebarCategories">
				<h2 class="sidebarBlock-heading">{{ page.title }}</h2>
	            <div class="accord-wrapper accord-menu">	
	            {{#each pages}}
					{{#or (if (lowercase name) '===' 'header') (if (lowercase name) '===' 'iframe')}}
					{{else}}
	                {{#if children}}
	                <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../breadcrumbs.[1].name '===' name}} accord-active{{/if}}">
						<div class="accord-link">
							<a href="{{url}}" title="{{name}}">{{name}}</a>
							<div class="accord-icon"><span class="accord-chevron">&nbsp;</span></div>
						</div>
	                    <div class="accord-body"{{#if ../breadcrumbs.[1].name '===' name}} style="display:block;"{{/if}}>
	                    {{#each children}}
							{{#if children}}
	                        <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../../breadcrumbs.[2].name '===' name}} accord-active{{/if}}">
								<div class="accord-link">
			                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
									<div class="accord-icon"><span class="accord-chevron">&nbsp;</span></div>
								</div>
			                    <div class="accord-body"{{#if ../../breadcrumbs.[2].name '===' name}} style="display:block;"{{/if}}>
								{{#each children}}
									{{#if children}}
			                        <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../../../breadcrumbs.[3].name '===' name}} accord-active{{/if}}">
										<div class="accord-link">
					                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
											<div class="accord-icon"><span class="accord-chevron">&nbsp;</span></div>
										</div>
					                    <div class="accord-body"{{#if ../../../breadcrumbs.[3].name '===' name}} style="display:block;"{{/if}}>
										{{#each children}}
							                <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../../../../breadcrumbs.[4].name '===' name}} accord-active{{/if}}">
												<div class="accord-link">
							                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
												</div>
											</div>
										{{/each}}
										</div>
									</div>
									{{else}}
					                <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../../../breadcrumbs.[3].name '===' name}} accord-active{{/if}}">
										<div class="accord-link">
					                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
										</div>
									</div>
									{{/if}}
								{{/each}}
								</div>
							</div>
							{{else}}
			                <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../../breadcrumbs.[2].name '===' name}} accord-active{{/if}}">
								<div class="accord-link">
			                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
								</div>
							</div>
							{{/if}}
	                    {{/each}}
	                    </div>
	                </div>
	                {{else}}
	                <div class="accord accord-{{dashcase (lowercase (sanitize name))}}{{#if ../breadcrumbs.[1].name '===' name}} accord-active{{/if}}">
						<div class="accord-link">
	                    	<a href="{{url}}" title="{{name}}">{{name}}</a>
						</div>
					</div>
	                {{/if}}
					{{/or}}
	            {{/each}}
				</div>
			</div>
    	</nav>
	</aside>

	{{#if page.sub_pages}}
	<div class="page-content">
	{{else}}
	<div class="page-content page-content--centered">
	{{/if}}
	{{{region name="page_builder_content"}}}
        {{#replace '%%Syndicate%%' page.content}}
            {{> components/page/rss_feed}}
        {{else}}
            {{{page.content}}}
        {{/replace}}
	{{{region name="page_builder_bottom"}}}
    </div>

    {{#if page.feed}}
        <ul>
            {{#each page.feed}}
                <li>
                    <h6><a href="{{url}}" target="_blank">{{title}}</a></h6>
                    <p>{{content}}</p>
                </li>
            {{/each}}
        </ul>
    {{/if}}
{{{region name="page_builder_content_editor_area_bottom"}}}
</section>

{{/partial}}

{{> layout/base}}
