---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{inject 'productId' product.id}}

{{#partial "hero"}}
{{assignVar "payment" "inactive"}}
{{assignVar "breadcrumb" "inactive"}}
{{#filter product.custom_fields 'hidden' property='name'}}
	{{#if value '==' 'payment'}}
		{{assignVar "payment" "active"}}
	{{/if}}
{{/filter}}
{{#filter product.custom_fields 'breadcrumb' property='name'}}
	{{assignVar "breadcrumb" "active"}}
{{/filter}}
<div class="container container-hero">
	<div class="page-header product-header">
    	{{#unless theme_settings.custom_product_title_left}}<h1 class="page-heading">{{product.title}}</h1>{{/unless}}
		{{#unless (getVar 'payment') '===' 'active'}}
			{{#if (getVar 'breadcrumb') '===' 'active'}}
				{{> components/custom/breadcrumbs-product}}
			{{else}}
				{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
			{{/if}}
		{{/unless}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
	{{#unless (getVar 'payment') '===' 'active'}}
	{{#each product.shipping_messages}}
		{{> components/common/alert/alert-info message}}
	{{/each}}
	{{/unless}}
    <div itemscope itemtype="http://schema.org/Product" {{#if (getVar 'payment') '===' 'active'}} class="payment-product"{{/if}}>
        {{> components/products/product-view schema=true  }}

        {{{region name="product_below_content"}}}
    </div>
{{/partial}}
{{#partial "base"}}
{{#unless (getVar 'payment') '===' 'active'}}
	{{#or product.related_products product.similar_by_views}}
		<div class="related-similar">
			<div class="container">
				{{> components/products/tabs}}
			</div>
		</div>
	{{/or}}
{{/unless}}
{{/partial}}
{{> layout/base}}
