---
product_results:
    limit: {{theme_settings.searchpage_products_per_page}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.searchpage_products_per_page}}
{{inject 'searchResultsCount' (lang 'search.results.count' count=result_count search_query=(sanitize forms.search.query))}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "hero"}}
{{{region name="search_below_menu"}}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_search}}
		<div class="page-header search-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_search}}" />
	{{else}}
		<div class="page-header search-header">
	{{/if}}
	{{#if forms.search.query}}
		{{#if (getVar "b2b-products") '===' 'show'}}
    		{{>components/search/heading}}
		{{else}}
			<h1 class="page-heading">Search</h1>
		{{/if}}
	{{else}}
		<h1 class="page-heading">Search</h1>
	{{/if}}  
	{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
{{{ stylesheet '/assets/scss/vendor/jstree/style.css' }}}
<section class="nav">
    <nav class="navBar navBar--sub search-nav">
        <span id="search-tabs-widget-description" class="aria-description--hidden">
            {{lang 'search.tabs_accesibility_hint'}}
        </span>
        <ul role="tablist" class="navBar-section account-navigation" data-search-page-tabs>
			{{#if (getVar "b2b-products") '===' 'show'}}
            <li role="presentation" class="navBar-item">
                <a aria-describedby="search-tabs-widget-description" role="tab" aria-controls="product-listing-container" id="search-results-product-count" class="navBar-action" href="{{forms.search.product_url}}" data-product-results-toggle>
                    {{>components/search/product-count}}
                </a>
            </li>
			{{/if}}
            <li role="presentation" class="navBar-item">
                <a aria-describedby="search-tabs-widget-description" role="tab" aria-controls="search-results-content" id="search-results-content-count" class="navBar-action" href="{{forms.search.content_url}}" data-content-results-toggle>
                    {{>components/search/content-count}}
                </a>
            </li>
            {{#unless product_results.faceted_search_enabled}}
                <li class="navBar-item navBar-item--separate">
                    <a class="navBar-action toggleLink" data-collapsible="advanced-search-content" href="#" aria-controls="advanced-search-content" aria-expanded="false">
                        <span class="toggleLink-text toggleLink-text--on">
                            {{lang 'forms.search.hide'}}
                        </span>
                        <span class="toggleLink-text toggleLink-text--off">
                            {{lang 'forms.search.show'}}
                        </span>
                    </a>
                </li>
            {{/unless}}
        </ul>
    </nav>
    {{#unless product_results.faceted_search_enabled}}
        {{>components/search/advanced-search}}
    {{/unless}}
</section>

<section class="page">
	{{#if (getVar "b2b-products") '===' 'show'}}
    	{{#if product_results.faceted_search_enabled}}
        <aside class="page-sidebar{{#if forms.search.section '!=' 'product'}} u-hiddenVisually{{/if}} toggle-content is-open" id="faceted-search-container">
            {{> components/faceted-search/index product_results}}
        </aside>
    	{{/if}}
	{{/if}}
    <div class="page-content">
		{{#if (getVar "b2b-products") '===' 'show'}}
        	{{#if forms.search.has_suggestions}}
            <div class="panel panel--large">
                <div class="panel-body">
                    {{#if forms.search.suggested_query}}
                        <div class="search-suggestion">
                            {{lang 'forms.search.did_you_mean'}} <strong>{{forms.search.suggested_query.query}}</strong>
                            <a href="{{forms.search.suggested_query.url}}" class="search-refine">{{lang 'forms.search.refine'}}</a>
                        </div>

                        {{#if result_count '===' 0}}
                            <div class="search-suggestion">
                                <p>
                                    {{lang 'forms.search.your_search_for'}}
                                    "<strong>{{{sanitize forms.search.query}}}</strong>"
                                    {{lang 'forms.search.no_match'}}
                                </p>
                            </div>
                        {{/if}}
                    {{/if}}

                    {{#if category_results.length}}
                        <div class="search-suggestion">
                            <h5 class="suggestion-title">{{lang 'forms.search.categories'}}</h5>
                            <ul class="category-suggestion-list">

                                {{#each category_results}}
                                <li class="category-suggestion">

                                    {{#each this}}
                                        <a href="{{url}}">{{name}}</a>
                                        {{#unless @last}} > {{/unless}}
                                    {{/each}}

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/if}}

                    {{#if brand_results.length}}
                        <div class="search-suggestion">
                            <h5 class="suggestion-title">{{lang 'forms.search.brand'}}</h5>
                            {{#each brand_results}}
                                <a href="{{url}}">{{name}}</a>
                                {{#unless @last}}, {{/unless}}
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if result_count '===' 0}}
                        <div class="search-suggestion">
                            <h5 class="suggestion-title">{{lang 'forms.search.suggestions.title'}}</h5>
                            <ul>
                                <li>{{lang 'forms.search.suggestions.line1'}}</li>
                                <li>{{lang 'forms.search.suggestions.line2'}}</li>
                                <li>{{lang 'forms.search.suggestions.line3'}}</li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
            </div>
        	{{/if}}
		{{/if}}
        <div role="tabpanel" id="search-results-content" aria-labelledby="search-results-content-count" {{#if forms.search.section '!=' 'content'}}class="u-hidden"{{/if}}>
            {{> components/search/content-listing}}
        </div>
		{{#if (getVar "b2b-products") '===' 'show'}}
        <div role="tabpanel" id="product-listing-container" aria-labelledby="search-results-product-count" {{#if forms.search.section '!=' 'product'}}class="u-hidden"{{/if}}>
            {{> components/search/product-listing}}
        </div>
		{{/if}}
        {{{region name="search_below_content"}}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
