---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    wishlists:
        limit: 10
---
{{#partial "hero"}}
<div class="container container-hero">
	{{#if theme_settings.custom_page_header_image_sitemap}}
		<div class="page-header sitemap-header page-header-image page-header-{{theme_settings.custom_page_header_image_depth}}">
	    <img class="page-header-image" src="/product_images/uploaded_images/{{theme_settings.custom_page_header_image_sitemap}}" />
	{{else}}
		<div class="page-header sitemap-header">
	{{/if}}
        <h1 class="page-heading">{{lang 'sitemap.page_title'}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}
{{#if (getVar "b2b-products") '===' 'show'}}
<ul class="sitemap-list">
{{#each sitemap}}
    <li class="sitemap-list-item">
        <h2>{{label}}</h2>
        <ul>
            {{#each body}}
            <li class=sitemap-{{dashcase label}}>
                <a href="{{url}}">{{label}}</a>
                {{#if children}}
                    <ul>
                    {{#each children}}
                        {{> components/sitemap/links}}
                    {{/each}}
                    </ul>
                {{/if}}
            </li>
            {{/each}}
            {{#if show_all_link}}
            <li>
                <a href="{{subsection_url}}">{{lang 'sitemap.show_all_link'}}</a>
            </li>
            {{/if}}
        </ul>
    </li>
{{/each}}
</ul>
{{/if}}
{{/partial}}
{{> layout/base}}
