{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header account-header">
    <h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        {{> components/common/alert/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
