<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
				{{#if name '===' 'Home'}}
                	<li class="breadcrumb {{#if @last}}is-active{{/if}}">
                    	<a class="breadcrumb-label"
                       		href="{{url}}"
                       	 	{{#if @last}}aria-current="page"{{/if}}
                    	>
                        	<span>{{name}}</span>
                    	</a>
                	</li>
					<li class="breadcrumb {{#if @last}}is-active{{/if}}">
	                	<a class="breadcrumb-label"
	                    	href="/brands"
	                    	{{#if @last}}aria-current="page"{{/if}}
	                	>
	                    	<span>All Brands</span>
	                	</a>
	                </li>
				{{else}}
	                <li class="breadcrumb {{#if @last}}is-active{{/if}}">
	                    <a class="breadcrumb-label"	
	                       href="{{url}}"
	                       {{#if @last}}aria-current="page"{{/if}}
	                    >
	                        <span>{{name}}</span>
	                    </a>
	                </li>
				{{/if}}
            {{/each}}
        {{/unless}}
			<span class="breadcrumb-menu breadcrumb-menu-1">Brands</span>
		{{#each breadcrumbs}}
		    {{#if @index 1}}
		    <span class="breadcrumb-menu breadcrumb-menu-2">{{name}}</span>
		    {{/if}}
		{{/each}}
    </ol>
</nav>
