{{#if theme_settings.custom_header_show_bar}}
<div class="header-bar">
	<div class="container">
	{{#or theme_settings.custom_phone_show theme_settings.custom_email_show}}
		{{#and theme_settings.custom_header_show_bar_message1 theme_settings.custom_header_show_bar_message2}}
			<ul class="header-bar-message-double header-bar-contact-active">
		{{else if theme_settings.custom_header_show_bar_message1}}
			<ul class="header-bar-message-single header-bar-contact-active">
		{{else if theme_settings.custom_header_show_bar_message2}}
			<ul class="header-bar-message-single header-bar-contact-active">
		{{else}}
			<ul>
		{{/and}}
	{{else}}
		{{#and theme_settings.custom_header_show_bar_message1 theme_settings.custom_header_show_bar_message2}}
			<ul class="header-bar-message-double header-bar-contact-none">
		{{else if theme_settings.custom_header_show_bar_message1}}
			<ul class="header-bar-message-single header-bar-contact-none">
		{{else if theme_settings.custom_header_show_bar_message2}}
			<ul class="header-bar-message-single header-bar-contact-none">
		{{else}}
			<ul>
		{{/and}}
	{{/or}}
			{{#if theme_settings.custom_header_show_bar_message1}}
			<li class="header-bar-message">
				<span class="header-bar-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-{{theme_settings.custom_header_bar_message1_icon}}" /></svg></i></span>
				<span class="header-bar-text">{{{theme_settings.custom_header_bar_message1_text}}}</span>
			</li>
			{{/if}}
			{{#if theme_settings.custom_header_show_bar_message2}}
			<li class="header-bar-message">
				<span class="header-bar-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-{{theme_settings.custom_header_bar_message2_icon}}" /></svg></i></span>
				<span class="header-bar-text">{{{theme_settings.custom_header_bar_message2_text}}}</span>
			</li>
			{{/if}}
			{{#all settings.phone_number theme_settings.custom_phone_show}}
			<li class="header-bar-contact">
				<span class="header-bar-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone" /></svg></i></span>
				<span class="header-bar-text">{{lang 'footer.call_us' phone_number=settings.phone_number}}</span>
			</li>
			{{/all}}
			{{#if theme_settings.custom_email_show}}
			<li class="header-bar-contact">
				<span class="header-bar-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-envelope" /></svg></i></span>
				<span class="header-bar-text"><a href="mailto:{{theme_settings.custom_email_address}}">{{lang 'footer.email_us'}}</a></span>
			</li>
			{{/if}}
		</ul>
	</div>
</div>
{{/if}}
