    <ul class="navPage-subMenu-list">
        {{#each children}}
			{{#if children}}
            	<li class="navPage-subMenu-item">
                    <a class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
                       href="{{url}}"
                       aria-label="{{name}}"
                    >
                        {{name}}
                        <span class="collapsible-icon-wrapper"
                            data-collapsible="navPages-{{id}}"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                        >
                            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                                <svg><use xlink:href="#icon-chevron-down" /></svg>
                            </i>
                        </span>
                    </a>
                    <ul class="navPage-childList" id="navPages-{{id}}">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}"
                               href="{{url}}"
                               aria-label="{{name}}"
                            >
                                {{name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
            	</li>
			{{/if}}
        {{/each}}
		{{assignVar "group" "hide"}}
		{{#if (getVar "group") '!==' 'show'}}
		{{#each children}}
			{{#unless children}}
				{{assignVar "group" "show"}}
			{{/unless}}
		{{/each}}
		{{/if}}
    	<li class="navPage-subMenu-item navPage-subMenu-item-group{{getVar 'group'}}">
            <a class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
               href="{{url}}"
               aria-label="{{name}}"
            >
				{{theme_settings.custom_header_group_title}}{{name}}
                <span class="collapsible-icon-wrapper"
                    data-collapsible="navPages-{{id}}-b"
                    data-collapsible-disabled-breakpoint="medium"
                    data-collapsible-disabled-state="open"
                    data-collapsible-enabled-state="closed"
                >
                    <i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg><use xlink:href="#icon-chevron-down" /></svg>
                    </i>
                </span>
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}-b">
        	{{#each children}}
				{{#unless children}}
					<li class="navPage-childList-item">
						<a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}"
							href="{{url}}"
							aria-label="{{name}}"
						>
							{{name}}
						</a>
					</li>
				{{/unless}}
			{{/each}}
            </ul>
    	</li>
        <li class="navPage-subMenu-item navPage-subMenu-mobile">
            <a class="navPage-subMenu-action navPages-action"
               href="{{url}}"
               aria-label="{{lang 'category.view_all.name' category=name}}"
            >
                {{lang 'category.view_all.name' category=name}}
            </a>
        </li>
    </ul>
