<fieldset class="form-fieldset actionBar-section page-sidebar-toggle">
	<div class="actionBar-section form-field">
	<a href="#faceted-search-container" class="toggle-click is-clicked">
		<span class="toggleLink-text toggleLink-text--on">
			<label class="form-label">
			{{#if theme_settings.custom_category_sidebar_display '==' 'vertical'}}
				{{#if category.faceted_search_enabled}}
            		<strong>Hide Categories &amp; Filters</strong>
				{{else}}
					<strong>Hide Categories</strong>
				{{/if}}
			{{else}}
				{{#if category.faceted_search_enabled}}
					<strong>Hide Filters</strong>
				{{else}}
					<strong>Hide</strong>
				{{/if}}
			{{/if}}
			</label>
            <i class="icon" aria-hidden="true">
                <svg><use xlink:href="#icon-keyboard-arrow-up"/></svg>
            </i>
        </span>
		<span class="toggleLink-text toggleLink-text--off">
			<label class="form-label">
			{{#if theme_settings.custom_category_sidebar_display '==' 'vertical'}}
				{{#if category.faceted_search_enabled}}
            		<strong>Show Categories &amp; Filters</strong>
				{{else}}
					<strong>Show Categories</strong>
				{{/if}}
			{{else}}
				{{#if category.faceted_search_enabled}}
					<strong>Show Filters</strong>
				{{else}}
					<strong>Show</strong>
				{{/if}}
			{{/if}}
			</label>
            <i class="icon" aria-hidden="true">
                <svg><use xlink:href="#icon-keyboard-arrow-down"/></svg>
            </i>
        </span>
	</a>
	</div>
</fieldset>
