<li class="productView-thumbnail videoGallery-custom">
	<a href="#" class="productView-thumbnail-link video-click button button--primary">
		<span class="toggleLink-text toggleLink-text--on">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-youtube" /></svg></i> <span>{{lang 'products.videos.hide'}}</span>
		</span>
		<span class="toggleLink-text toggleLink-text--off">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-youtube" /></svg></i> <span>{{lang 'products.videos.show'}}</span>
		</span>
	</a>
</li>