<div class="form-field form-field-{{id}} form-field-{{dashcase this.display_name}}" data-product-attribute="input-file">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_file_{{id}}">
        {{ this.display_name }}:

        {{> components/common/requireness-msg}}
    </label>

    <input
        class="form-file"
        type="file"
        id="attribute_file_{{id}}"
        name="attribute[{{this.id}}]"
        {{#and required (unless prefill)}}required{{/and}}
    >
    {{#if original_name}}
        {{{lang 'products.file_option_set' url=file_url name=original_name}}}
        <label>{{lang 'cart.remove_file'}}<input type="checkbox" name="{{file_remove}}"></label>
    {{/if}}
    <p class="form-fileDescription">
        {{#if file_size}}
            <span class="form-fileMaxText">{{lang 'products.max_filesize'}} </span><strong class="form-fileMaxSize"> {{file_size}}{{lang 'products.kilobytes_abbreviation'}}</strong>
        {{/if}}
        {{#if file_types}}
            <span class="form-fileTypeText">{{lang 'products.filetypes'}} </span><strong class="form-fileTypeList"> {{file_types}}</strong>
        {{/if}}
    </p>
</div>
