<div class="form-field form-field-{{id}} form-field-{{dashcase this.display_name}}" data-product-attribute="input-text">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_text_{{id}}">
        {{ this.display_name }}:

        {{> components/common/requireness-msg}}
    </label>

    <input class="form-input form-input--small form-input-{{id}} form-input-{{dashcase this.display_name}}" type="text" id="attribute_text_{{id}}" name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}required{{/if}} {{#if max_length}}maxlength="{{max_length}}"{{/if}}>
</div>
