<div class="form-field form-field-{{id}} form-field-{{dashcase display_name}}" data-product-attribute="textarea">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_textarea_{{id}}">
        {{display_name}}:

        {{> components/common/requireness-msg}}
    </label>

    <textarea class="form-input form-input-{{id}} form-input-{{dashcase display_name}}" id="attribute_textarea_{{id}}" name="attribute[{{id}}]" {{#if required}}required{{/if}} {{#if max_length}}maxlength={{max_length}}{{/if}}>{{prefill}}</textarea>
</div>
