{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header info-header">
        <h1 class="page-heading">{{lang 'unavailable.hibernation_title'}}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}

{{#partial "page"}}

<section class="page">
    <div class="page-content page-content--centered">
        {{> components/common/alert/alert-error (lang 'unavailable.hibernation_message')}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
