{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "hero"}}
<div class="container container-hero">
	<div class="page-header account-header">
        <h1 class="page-heading">{{lang 'account.settings.heading' }}</h1>
		{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
	</div>
</div>
{{/partial}}
{{#partial "page"}}
<div class="account account--fixed">
    {{> components/account/navigation account_page='settings'}}
    {{#if forms.edit_account.error}}
    {{> components/common/alert/alert-error forms.edit_account.error}}
    {{/if}}
    {{#if forms.edit_account.success}}
    {{> components/common/alert/alert-success forms.edit_account.success}}
    {{/if}}
    {{> components/account/edit-account}}
</div>
{{/partial}}
{{> layout/base}}
