{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{assignVar "b2b-products" "show"}}
{{assignVar "b2b-prices" "show"}}
{{#if theme_settings.custom_b2b}}
	{{#if customer.id}}
		{{#if customer_group_name '==' theme_settings.custom_b2b_pending_group}}
			{{#if theme_settings.custom_b2b_pending_hide_products}}
				{{assignVar "b2b-products" "hide"}}
			{{/if}}
			{{#if theme_settings.custom_b2b_pending_hide_prices}}
				{{assignVar "b2b-prices" "hide"}}
			{{/if}}
		{{/if}}
	{{else}}
		{{#if theme_settings.custom_b2b_guest_hide_products}}
			{{assignVar "b2b-products" "hide"}}
		{{/if}}
		{{#if settings.hide_price_from_guests}}
			{{assignVar "b2b-prices" "hide"}}
		{{/if}}
	{{/if}}
{{/if}}

{{#if (getVar "b2b-products") '===' 'show'}}
{{#if product_results.products.length}}
    {{> components/products/filter sort=pagination.product_results.sort}}
{{/if}}
<div {{#if settings.data_tag_enabled}} data-list-name="Search Results" {{/if}}>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/grid products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
        {{else}}
            {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
        {{/if}}
    {{else}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/list products=product_results.products show_compare=product_results.show_compare event="list" theme_settings=theme_settings}}
         {{else}}
            {{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings}}
        {{/if}}
    {{/if}}
</div>

{{> components/common/paginator pagination.product_results}}
{{/if}}