{{inject 'noCompareMessage' (lang 'compare.no_compare')}}

{{assignVar "b2b-products" "show"}}
{{assignVar "b2b-prices" "show"}}
{{#if theme_settings.custom_b2b}}
	{{#if customer.id}}
		{{#if customer_group_name '==' theme_settings.custom_b2b_pending_group}}
			{{#if theme_settings.custom_b2b_pending_hide_products}}
				{{assignVar "b2b-products" "hide"}}
			{{/if}}
			{{#if theme_settings.custom_b2b_pending_hide_prices}}
				{{assignVar "b2b-prices" "hide"}}
			{{/if}}
		{{/if}}
	{{else}}
		{{#if theme_settings.custom_b2b_guest_hide_products}}
			{{assignVar "b2b-products" "hide"}}
		{{/if}}
		{{#if settings.hide_price_from_guests}}
			{{assignVar "b2b-prices" "hide"}}
		{{/if}}
	{{/if}}
{{/if}}

{{#if category.products}}
	{{#if (getVar "b2b-products") '===' 'show'}}
    {{> components/products/filter sort=pagination.category.sort}}

    <div data-list-name="Category: {{category.name}}" role="region" aria-label="{{lang 'category.product_label'}}">
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
        {{else}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
        {{/if}}
    </div>

    {{> components/common/paginator pagination.category}}
	{{/if}}
{{else}}
    {{#if category.search_error}}
        <p>{{lang 'search.errorMessage'}}</p>
    {{else}}
        <p data-no-products-notification
           role="alert"
           aria-live="assertive"
           tabindex="-1"
        >
            {{lang 'categories.no_products'}}
        </p>
    {{/if}}
{{/if}}
