<nav>
{{assignVar "showparentnosubs" "false"}}
{{#and (if theme_settings.custom_category_show_parents)(unless category.subcategories)}}
{{assignVar "showparentnosubs" "true"}}
{{/and}}
{{#or (if theme_settings.custom_category_sidebar_display '==' 'vertical') (if (getVar "showparentnosubs") '===' 'true')}}
{{#if theme_settings.custom_category_show_parents}}
	{{#each categories}}
    {{#if ../breadcrumbs.[1].name '===' name}}
        {{#if children}}
        <div class="sidebarBlock sidebarCategories sidebarCategories-parents">
            <h2 class="sidebarBlock-heading">
				{{#if ../theme_settings.custom_category_show_parents}}
				<a href="{{url}}" title="name">{{name}}</a>
				{{else}}
				{{name}}
				{{/if}}
			</h2>
            <ul class="navList">
            {{#each children}}
                {{#if children}}
                <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}}{{#if is_active}} activeCategory{{/if}}">
                    <a class="navList-action{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
                    <ul>
                    {{#each children}}
						{{#if children}}
                        <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}} navList-item-sub">
                            <a class="navList-action navList-action-sub{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
							<ul>
							{{#each children}}
								{{#if children}}
		                        <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}} navList-item-sub">
		                            <a class="navList-action navList-action-sub{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
									<ul>
									{{#each children}}
				                        <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}} navList-item-sub">
				                            <a class="navList-action navList-action-sub{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
				                        </li>
									{{/each}}
									</ul>
		                        </li>
								{{else}}
		                        <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}} navList-item-sub">
		                            <a class="navList-action navList-action-sub{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
		                        </li>
								{{/if}}
							{{/each}}
							</ul>
                        </li>
						{{else}}
                        <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}} navList-item-sub">
                            <a class="navList-action navList-action-sub{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
                        </li>
						{{/if}}
                    {{/each}}
                    </ul>
                </li>
                {{else}}
                <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}}{{#if is_active}} activeCategory{{/if}}">
                    <a class="navList-action{{#if is_active}} activePage{{/if}}" href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
        {{/if}}
    {{/if}}
	{{/each}}
{{else}}
    {{#if category.subcategories}}
        <div class="sidebarBlock sidebarCategories sidebarCategories-children">
            <h2 class="sidebarBlock-heading">{{category.name}}</h2>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item navList-item-{{dashcase (lowercase (sanitize name))}}">
                    <a class="navList-action" href="{{url}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/if}}
{{/or}}

{{#if category.faceted_search_enabled}}
	{{> components/faceted-search/index category}}
{{else}}
	{{> components/category/shop-by-price}}
{{/if}}
</nav>
