<div class="footer-phone-container">
	<div class="footer-phone-left">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		<span>UK / EUR</span>
	</div>
	<div class="footer-phone-right">
		<span><strong>(0203) 514-3290</strong></span>
	</div>
</div>
<div class="footer-phone-container">
	<div class="footer-phone-left">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		<span>USA / CAN</span>
	</div>
	<div class="footer-phone-right">
		<span><strong>(628) 239-3871</strong></span>
	</div>
</div>
<div class="footer-phone-container" style="margin-bottom: 1.5rem;">
	<div class="footer-phone-left">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		<span>AUS / NZ</span>
	</div>
	<div class="footer-phone-right">
		<span><strong>(2) 5632-3082</strong></span>
	</div>
</div>
<p><a href="mailto:customerservice@brain-smart.net">customerservice (at) brain-smart.net</a></p>
	