
        <li class="navUser-item navUser-item--custom navUser-item--custom-mobile">
            <a class="navUser-action navUser-action--custom has-dropdown"
			   href="#"
               data-dropdown="customDropdown"
			   aria-controls="customDropdown"
			   aria-expanded="false"
               aria-label="Phone"
            >
				<span class="navUser-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone{{#unless theme_settings.custom_header_icon_style '===' 'solid'}}-{{theme_settings.custom_header_icon_style}}{{/unless}}" /></svg></i></span>
            </a>
			<ul class="dropdown-menu" id="customDropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
	            <li class="dropdown-menu-item">
				{{#contains settings.request.host ".es"}}
					<span>¿Necesitas ayuda? Llámanos al:</span>
					<div><strong>{{settings.phone_number}}</strong></div>
					<div style="margin-top: .75rem;"><a href="/hacer-una-pregunta/" title="Consulta" class="button button--primary">Consulta</a></div>
				{{else}}
					<span>Need help? Call us on:</span>
					<div><strong>{{settings.phone_number}}</strong></div>
					<div style="margin-top: .75rem;"><a href="/enquiry-form/" title="Enquiry" class="button button--primary">Enquiry</a></div>
				{{/contains}}
				</li>
	        </ul>
        </li>
		<li class="navUser-item navUser-item--custom navUser-item--custom-desktop">
		{{#contains settings.request.host ".es"}}
			<span>¿Necesitas ayuda?</span>
			<div><a href="/hacer-una-pregunta/" title="Consulta" class="button button--primary">Consulta</a></div>
		{{else}}
			<span>Need help?</span>
			<div><a href="/enquiry-form/" title="Enquiry" class="button button--primary">Enquiry</a></div>
		{{/contains}}
		</li>
		<li class="navUser-item navUser-item--custom navUser-item--custom-desktop">
		{{#contains settings.request.host ".es"}}
			<span>Llámanos al:</span>
		{{else}}
			<span>Call us on:</span>
		{{/contains}}
			<div><strong>{{settings.phone_number}}</strong></div>
		</li>