                {{#if settings.show_product_reviews}}		
					<div{{#unless theme_settings.show_product_reviews}} style="display: none;"{{/unless}}>
                    	<a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}" 
						class="button button--secondary productView-reviewLink productView-reviewLink--new" 
						{{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}} 
						role="button"
                    	>
                       		{{lang 'products.reviews.new'}}
                    	</a>
					</div>
                {{/if}}