{{#and product.price.price_range (if theme_settings.price_ranges '==' true)}}
<script>
let arr = [];
	{{#each gql.data.site.product.variants.edges}}
	    {{#with node}}
	        {{#each productOptions.edges}}
	            {{#with node}}
	                {{#each values.edges}}
	                    {{#with node}}
						console.log("displayname: {{dashcase (lowercase (sanitize label))}}");
							    let q{{../../../../sku}} = document.querySelector(".productView-options .form-field-{{dashcase (lowercase (sanitize ../../displayName))}} .form-select .form-select-option-{{dashcase (lowercase (sanitize label))}}");
							    //console.log(query{{../../../../sku}});
								if (q{{../../../../sku}}) {
									console.log("2: match: {{../../../../inclTax.price.value}}");
									arr.push('{{../../../../inclTax.price.value}}');
								} else {
									console.log("2: Not Found");
								}
						{{/with}}
	                {{/each}}
	            {{/with}}
	        {{/each}}
	    {{/with}}
	{{/each}}
	console.log("array:" + arr);
if (arr.length) {
	const priceDiv = document.querySelectorAll(".productView-price .price-section--withTax .price--withTax")[0];
	if (priceDiv.innerText.includes('From ')) {
	//if (priceDiv.innerText.includes(' - ')) {
		priceDiv.style.opacity = "0";
	}
	const priceMinMath = Math.min.apply(Math, arr);
	const priceMin = (Math.round(priceMinMath * 100) / 100).toFixed(2);
	function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
	}
	console.log("priceMin" + priceMin);
	const priceFormatted = "{{#if currency_selector.active_currency_code '==' 'GBP'}}£{{else if currency_selector.active_currency_code '==' 'CAD'}}${{else if currency_selector.active_currency_code '==' 'AUD'}}${{else if currency_selector.active_currency_code '==' 'USD'}}${{else}}€{{/if}}" + numberWithCommas(priceMin);
	console.log("priceFormatted" + priceFormatted);
	const priceRange = priceDiv.innerText;
	//const priceTrim = priceRange.substring(priceRange.indexOf(' - ') + 1);
	//const priceMax = priceRange.substring(priceRange.indexOf('-') + 2);
	const priceFrom = priceRange.substring(priceRange.indexOf('From ') + 5);
	console.log("priceFrom" + priceFrom);
	let priceUpdate;
	//if (priceFormatted == priceMax) {
	if (priceFormatted == priceFrom) {
		priceUpdate = priceFrom;
	} else {
		//priceUpdate = priceFormatted + " " + priceTrim;
		priceUpdate = priceFormatted;
	}
	console.log("price update:" + priceUpdate);
	const priceSaved = document.querySelectorAll(".productView-price .price-section--saving .price--saving")[0];
	const priceSavedCheck = priceSaved.innerText;
	const priceRRP = document.querySelectorAll(".productView-price .price-section--withTax .price--rrp")[0];
	const priceRRPCheck = priceRRP.innerText;
	
	let priceSavedFormatted;
	if (!priceSavedCheck.trim().length && !priceRRPCheck.trim().length) {
		priceSavedFormatted = false;
	} else {
		const priceRRPValue = priceRRP.innerText.replace(/[^0-9.]/g, '');
		const priceSavedMath = priceRRPValue - priceMin;
		const priceSavedValue = (Math.round(priceSavedMath * 100) / 100).toFixed(2);
		priceSavedFormatted = "{{#if currency_selector.active_currency_code '==' 'GBP'}}£{{else if currency_selector.active_currency_code '==' 'CAD'}}${{else if currency_selector.active_currency_code '==' 'AUD'}}${{else if currency_selector.active_currency_code '==' 'USD'}}${{else}}€{{/if}}" + numberWithCommas(priceSavedValue);
	}
	setTimeout(function() {
		priceDiv.style.opacity = "1";
		// priceDiv.innerHTML = priceUpdate;
		priceDiv.innerHTML = "From " + priceUpdate;
		if (priceSavedFormatted) {
			priceSaved.innerHTML = priceSavedFormatted;
		}
	}, 2000);
} else {
 	setTimeout(function() {
		const priceDiv2 = document.querySelectorAll(".productView-price .price-section--withTax .price--withTax")[0];
		priceDiv2.innerHTML = "From {{product.price.rrp_with_tax.formatted}}";
		console.log("default price: {{product.price.rrp_with_tax.formatted}}");
 	}, 2000);
	
}
</script>
{{/and}}
<script>
var timePrice = 0;
var formSelect = document.querySelectorAll(".productView-options .form-select, .productView-options .form-radio");
var alertBox = document.querySelector(".add-to-cart-wrapper .alertBox.productAttributes-message");
var alertBoxTrigger = "Due:";
var alertBoxButton = '<div class="alertBox-buttons"><a class="button button--primary" href="/pre-order-now-to-avoid-disappointment/">PRE ORDER</a><a class="button button--secondary" href="/cycle-to-work-pre-order/">Cycle To Work</a></div>';

for (let i = 0; i < formSelect.length; i++) {
	formSelect[i].addEventListener("change", function() {
		clearTimeout(timePrice);
	    timePrice = setTimeout(function() {
			// Klarna
			var newPriceCurrency = document.querySelector(".productView-price span[data-product-price-with-tax]").textContent;
			var newPriceNumber = Number(newPriceCurrency.replace(/[^0-9\.-]+/g,""));		
			var newPriceKlarna = newPriceNumber * 100;
			document.querySelector('klarna-placement').dataset.purchaseAmount = newPriceKlarna;
			window.Klarna.OnsiteMessaging.refresh();
			// Pre Order (on change)
			if (alertBox.style.display != 'none') {
				var alertBoxText = document.querySelector(".add-to-cart-wrapper .alertBox-message").textContent;
				var alertBoxLink = document.querySelector('.alertBox-buttons');
				if (alertBoxText.indexOf(alertBoxTrigger) !== -1) {
					if (!(alertBoxLink)) {
						alertBox.innerHTML += alertBoxButton;
					}
				} else {
					if (alertBoxLink) {
						alertBoxLink.remove();
					}
				}
			} else {
				if (alertBoxLink) {
					alertBoxLink.remove();
				}
			}
			//Pre Order In Stock
			if (formSelect[i].classList.contains('form-select-size')) {
				const selectValue = formSelect[i].options[formSelect[i].selectedIndex].getAttribute('aria-label');
				const selectPhrase = "In Stock";
				const instockButton = document.getElementById("form-action-preorder");
				if (selectValue.includes(selectPhrase)) {
					instockButton.style.display = 'flex';
				} else {
					instockButton.style.display = 'none';
				}
			}
	    }, 1000);
	});
}

window.addEventListener("pageshow", function (event) {
	var historyTraversal = event.persisted,
		perf = window.performance,
		perfEntries = 
		perf && perf.getEntriesByType && perf.getEntriesByType("navigation"),
		perfEntryType = perfEntries && perfEntries[0] && perfEntries[0].type,
		navigationType = perf && perf.navigation && perf.navigation.type;
	if (historyTraversal || perfEntryType === "back_forward" || navigationType === 2) {
		// Pre Order (on forward/back)
		clearTimeout(timePrice);
		timePrice = setTimeout(function() {
	  		var alertBoxText2 = document.querySelector(".add-to-cart-wrapper .alertBox-message").textContent;
			var alertBoxLink2 = document.querySelector('.alertBox-buttons');
			if (alertBoxText2.indexOf(alertBoxTrigger) !== -1) {
				if (!(alertBoxLink2)) {
					alertBox.innerHTML += alertBoxButton;
				}
			}
		}, 1000);
	}
});
</script>

{{#filter product.custom_fields 'faq' property='value' }}
<script>
	window.onload = function() {    
	    let elements = document.querySelectorAll(".productView-options .form-label");
	    for (let i = 0; i < elements.length; i++) {
			elements[i].classList.add("faq-label");
	        elements[i].onclick = function (e) {
				const get_text = elements[i].textContent;
				const trim_text = get_text.substring(0, get_text.indexOf(":")).trim();
				const dash_text = trim_text.replace(/\s+/g, '-').toLowerCase();
				const accord_text = "accord_" + dash_text;
	            console.log(accord_text);
				const faqId = document.getElementById(accord_text);
				if (faqId) {
					faqId.classList.add("accord-active");
					faqId.querySelector(".accord-body").style.display = 'block';
					const y = faqId.getBoundingClientRect().top + window.scrollY;
					if (window.innerWidth < 801) {
						window.scroll({
						  top: y - 50,
						  behavior: 'smooth'
						});
					} else {
						window.scroll({
						  top: y,
						  behavior: 'smooth'
						});
					}
					e.preventDefault();
				}
	        }
	    }
	};
</script>
{{/filter}}


<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<!-- <script src="https://cdn11.bigcommerce.com/s-h4smy34w/content/imegawidget-custom.js"></script> -->
<!-- <script src="{{cdn 'webdav:imegawidget-custom.js'}}"></script> -->
<!-- <script>
		$(document).ready(function(){
		    imegaCalculator.init({
		        apiKey: 'a8346514700102e3a47df85b9ff606ad',
		        description: '{{ product.title }}',
		        insertion: 'after',
		        element: '.productView-options',
		        margin:'1rem 0',
		        priceElement: '.price--actual',
		        amount: '{{ product.price.with_tax.value }}', //use if priceElement not set
		        financeFilter:getFinanceFilter('{{ product.title }}')
		    });
		});
		function getFinanceFilter(productDesc) 
		{
		 
            const tiers = {
                'Tier 1' : ['Sale'],
                'Tier 2' : ['| Evil', '| Yeti'],
                'Tier 3' : ['| Cube', '| Gocycle', '| Mondraker', '| Whyte', '| Transition', '| Moustache', '| Marin'],
                'Tier 4' : ['| Trek', '| Nukeproof', '| Ragley', '| NS Bikes', '| Orbea'],
                'Tier 5' : ['Evil', 'Yeti'],
                'Tier 6' : ['Cube', 'Gocycle', 'Mondraker', 'Whyte', 'Transition', 'Moustache', 'Marin'],
                'Tier 7' : ['Trek', 'Nukeproof', 'Ragley', 'NS Bikes', 'Orbea'],
            };
            var filter;
        
            for (var key in tiers) {
                const filterFinder = tiers[key].some(element => {
                    if (productDesc.includes(element)) {
                        return true;
                    }
                });
                if (filterFinder) {
                    filter = key;
                    break;
                }
            }
            if (!filter) {
                filter = 'ALL';
            }
		    return filter;
		}
		jQuery.noConflict(true);
</script>  -->
<!-- <script type="text/javascript">
	jQuery("#imega-widget").appendTo('#imega-widget-anchor')    
</script> -->
