{{#or (if product.sku '===' 'FS-CFW') (if product.sku '===' 'FS-CFM')}}
<div class="productView-image-ingredients">
    <ul>
        <li class="ingredient-cfw">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-chasteberry.png"><span></span></div>
            <h3>Chasteberry</h3>
        </li>
        <li class="ingredient-cfm ingredient-cfw">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-larginine.png"><span></span></div>
            <h3>L-Arginine</h3>
        </li>
        <li class="ingredient-cfm">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-ltaurine.png"><span></span></div>
            <h3>L-Aurine</h3>
        </li>
        <li class="ingredient-cfm">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-lcarnitine.png"><span></span></div>
            <h3>L-Carnitine</h3>
        </li>
        <li class="ingredient-cfm ingredient-cfw">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-greentea.png"><span></span></div>
            <h3>Green Tea Extract</h3>
        </li>
        <li class="ingredient-cfw">
            <div><img src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/nutrient-magnesium.png"><span></span></div>
            <h3>Magnesium</h3>
        </li>
    </ul>
	<div class="full-list">
		<a class="button button--secondary scroll-click" href="#ingredients">All Ingredients</a>
	</div>
</div>
{{/or}}
</div>
<div class="productView-trust-wrap">
	<div class="productView-trust-2">
		<ul>
			<li><img title="FertilitySmart Conceive For Women All Natural Premium Ingredients" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/all-natural-premium-ingredients.png" alt="FertilitySmart Conceive For Women All Natural Premium Ingredients"></li>
			<li><img title="FertilitySmart Conceive For Women Six Times Award Winner" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-for-men-six-times-award.png" alt="FertilitySmart Conceive For Women Six Times Award Winner"></li>
			<li><img title="FertilitySmart Conceive For Women Award Winner" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/tasteforlife.png" alt="FertilitySmart Conceive For Women Award Winner"></li>
			<li><img title="FertilitySmart Conceive For Women GMP Certified" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/gmp-certified.png" alt="FertilitySmart Conceive For Women GMP Certified"></li>
			<li><img title="FertilitySmart Natural Products" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/icons-npa.jpg"></li>
			<li><img title="FertilitySmart PCI Level 1" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/icons-pci.jpg"></li>
		</ul>
	</div>
</div>
<div class="productView-trust-wrap">
	<div class="productView-trust-1">
		<ul>
			<li><img title="FertilitySmart Contains No Fillers" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-no-fillers-2x.png" alt="FertilitySmart Contains No Fillers"></li>
			<li><img title="fertilitysmart-contains-no-artificial-flavours.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-contains-no-artificial-flavours.png" alt="fertilitysmart-contains-no-artificial-flavours.png"></li>
			<li><img title="fertilitysmart-contains-no-preservatives.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-contains-no-preservatives.png" alt="fertilitysmart-contains-no-preservatives.png"></li>
			<li><img title="fertilitysmart-not-tested-on-animals.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-not-tested-on-animals.png" alt="fertilitysmart-not-tested-on-animals.png"></li>
			<li><img title="fertilitysmart-contains-no-sugar.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-contains-no-sugar.png" alt="fertilitysmart-contains-no-sugar.png"></li>
			<li><img title="fertilitysmart-contains-no-gelatin.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-contains-no-gelatin.png" alt="fertilitysmart-contains-no-gelatin.png"></li>
			<li><img title="fertiltysmart-contains-no-gluten.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertiltysmart-contains-no-gluten.png" alt="fertiltysmart-contains-no-gluten.png"></li>
			<li><img title="fertilitysmart-contains-no-lactose.png" src="https://cdn11.bigcommerce.com/s-costxe5lpb/stencil/4293dca0-9f79-0138-ac30-0242ac110010/e/473113a0-95af-013b-2a6e-5a2e99bf64ad/img/client/fertilitysmart-contains-no-lactose.png" alt="fertilitysmart-contains-no-lactose.png"></li>
		</ul>
	</div>								
</div>