<div class="cart-actions cart-content-padding-right">
	<a class="button button--primary button--finance" href="{{urls.checkout.single_address}}" title="Apply For Finance">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-discount" /></svg></i> <strong>&nbsp;Apply For Finance</strong>
	</a>
	<a class="button button--primary button--cycle" href="/cycle-to-work-pre-order/" title="Cycle To Work">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-bicycle" /></svg></i> <strong>&nbsp;Pay via 'Cycle To Work'</strong>
	</a>
	<klarna-placement
	  data-key="top-strip-promotion-badge"
	  data-locale="en-GB"
	></klarna-placement>
	{{> components/common/payment-icons}}
</div>
<div class="cart-terms" style="display: none;">
	<div class="cart-terms-agree">
		<span class="cart-terms-message">I agree with the <a target="_blank" href="/terms-and-conditions/">Terms &amp; Conditions</a></span>
		<a class="button button--primary cart-terms-click" href="#">Yes</a>
	</div>
</div>