	<div class="uk-delivery">
	<h3>UK Deliveries</h3>
        <div class="content">
            <p> We offer two delivery options for all orders placed online. Both are DHL Express Next Working Day services.</p>
			<p>
            <table>
                <tbody><tr>
                    <td>Next Business Day</td>
                    <td>£7.95*</td>
                </tr>
                <tr>
                    <td>Next Business Day (Pre 1pm)</td>
                    <td>£12.95</td>
                </tr>
            </tbody></table>
			</p>
            <p>*Orders of £70.00 (ex VAT) or more qualify for this service free of charge.</p>
            <p> Same-day delivery service throughout the UK and some parts of Europe is available on request. Please contact the sales team prior to placing your order.</p>
        </div>
	</div>
	<div class="european-delivery">
        <h3>European Deliveries</h3>
        <p>We use DHL Express Worldwide for all our international shipping.</p>
        <p>All orders are shipped from the UK using Delivered Duty Paid (DDP).</p>
		<p>
        <table>
            <tbody><tr>
                <td>Next Possible Business Day</td>
                <td>Starting at £14.95 *</td>
            </tr>
        </tbody></table>
        </p>
        <p>*Orders of £70.00 or more qualify for this service free of charge.</p>
        <p>Transit time is usually 1 day; however, this can vary depending on country. Please contact the sales team if you require further information for a confirmed accurate delivery.</p> 
	</div>
	<div class="worldwide-delivery">
        <h3>Worldwide Delivery</h3>
        <p>We use DHL Express Worldwide for all our international shipping. This service is Delivered Duty Paid (DDP).</p>
        <p>
		<table>
            <tbody><tr>
                <td>Next Possible Business Day</td>
                <td>Starting at £40.00*</td>
            </tr>
        </tbody></table>
		</p>
        <p>*Orders of £200.00 or more qualify for this service free of charge.</p>
        <p>Transit time varies, please contact the sales team if you require further information.</p>
    </div>
	<p>For further details on Shipping, Returns, Order Tracking and Account Orders please visit our <a href="/delivery-returns">Delivery &amp; Returns</a> page.</p>
	

	<div class="page-tabs">
		<h3>FAQ</h3>
		<ul class="tabs" data-tab="" role="tablist">
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-1" aria-selected="false">What warranty do GBICS offer?</a>
				<div id="tab-1" class="tab-content">
					<div class="tab-content-center">
						<p>For a comprehensive breakdown of our warranty please follow this link https://www.gbics.com/warranty/</p>
					</div>
				</div>
			</li>
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-2" aria-selected="false">Will using a third-party transceiver invalidate my vendor product warranty?</a>
				<div id="tab-2" class="tab-content">
					<div class="tab-content-center">
						<p>No, this is a common misconception that using a third-party transceiver invalidates your warranty with the manufacturer.</p>
					</div>
				</div>
			</li>
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-3" aria-selected="false">Do you offer discounts for volume orders?</a>
				<div id="tab-3" class="tab-content">
					<div class="tab-content-center">
						<p>Absolutely, GBICS has a team of dedicated Account Directors that will work with you on your project. For commercial support please contact us via sales@gbics.com or call 01285 886444</p>
					</div>
				</div>
			</li>
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-4" aria-selected="false">How can I confirm compatibility?</a>
				<div id="tab-4" class="tab-content">
					<div class="tab-content-center">
						<p>We offer a 100% compatibility promise on over 100 vendors, across multiple data rates and form factors. We continually add to our compatibility portfolio as technology continues to evolve and new products are released. For further information and to speak with a member of the team please call us on 01285 886444 and we’ll be happy to discuss your requirement.></p>
					</div>
				</div>
			</li>
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-5" aria-selected="false">Are GBICS products certified?</a>
				<div id="tab-5" class="tab-content">
					<div class="tab-content-center">
						<p>Yes. All GBICS products are CE Marked and RoHS compliant to meet the European safety directives and have passed certification for Laser Safety in UKAS accredited laboratories. GBICS.com is also an official ISO9001:2015 certified company as approved by the British Assessment Bureau.</p>
					</div>
				</div>
			</li>
			<li class="tab"><a class="tab-title" tabindex="0" href="#tab-6" aria-selected="false">Can I place an order via Purchase Order?</a>
				<div id="tab-6" class="tab-content">
					<div class="tab-content-center">
						<p>Yes. In fact over 85% of our business is managed through credit accounts. Please see https://www.gbics.com/credit-accounts/ for details.</p>
					</div>
				</div>
			</li>
		</ul>
	</div>