<div class="form-field custom-size-guide">
	<label class="form-label">&nbsp;</label>
	<i style="vertical-align: top; margin-right: 5px;" class="icon" aria-hidden="true"><svg><use xlink:href="#icon-ruler" /></svg></i><span style="line-height: 16px;"><a class="custom-guide-link" href="#tab-description">Size Guide</a></span>
</div>
{{#if product.stock_level '>' 0}}
<div class="form-field form-field--stock-custom">
	<label class="form-label form-label--alternate">
		Stock Availability
	</label>
	<i style="vertical-align: top; margin-right: 5px;" class="icon" aria-hidden="true"><svg><use xlink:href="#icon-tick" /></svg></i> <span style="line-height: 16px;" data-product-stock>In Stock</span>
</div>
{{/if}}
