<div class="productView-options-region" style="display: none;">
	<strong>THIS PRODUCT IS NOT AVAILABLE IN YOUR REGION</strong>
</div>
{{#each breadcrumbs}}
{{#if name '===' 'OLPRO EXTRA'}}
<style>
	html.glopal div.productView-options-region {
		display: block !important;
	    padding: .75rem;
	    border: 1px solid #000;
	    margin: 1rem 0;
	    text-align: center;
	}
	html.glopal #add-to-cart-form {
		display: none !important;
	}
</style>
{{/if}}
{{/each}}

<div class="buy-icons">
	<div class="buy-icon buy-icon-1">
		<span class="buy-icon-image">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-delivery-outline" /></svg></i>
		</span>
		<span class="buy-icon-text">
			Free Delivery
		</span>
	</div>
	<div class="buy-icon buy-icon2">
		<span class="buy-icon-image">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-guarantee-outline" /></svg></i>
		</span>
		<span class="buy-icon-text">
			Lifetime Warranty
		</span>
	</div>
	<div class="buy-icon buy-icon2">
		<span class="buy-icon-image">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-returns-outline" /></svg></i>
		</span>
		<span class="buy-icon-text">
			Free Returns
		</span>
	</div>
</div>

<div class="klarna-promo">
	<klarna-placement
  data-key="credit-promotion-badge"
  data-locale="en-GB"
  data-purchase-amount="{{#if product.price.without_tax.value}}{{multiply product.price.without_tax.value 100}}{{else}}{{multiply product.price.with_tax.value 100}}{{/if}}"
></klarna-placement>
</div>