<li class="navUser-item navUser-item--custom navUser-item--home">
	<a class="navUser-action" href="{{urls.home}}">
		<span class="navUser-icon">
		<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-home{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i></a>
		</span>
</li>
<li class="navUser-item navUser-item--custom navUser-item--ultra">
	<a class="navUser-action" href="/ultra-with-cognicetam/">ULTRA</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--focus">
	<a class="navUser-action" href="/focus/">FOCUS</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--memory">
	<a class="navUser-action" href="/memory/">MEMORY</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--mood">
	<a class="navUser-action" href="/mood/">MOOD</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--stories">
	<a class="navUser-action" href="/success-stories/">SUCCESS STORIES</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--questions">
	<a class="navUser-action" href="/questions/">QUESTIONS?</a>
</li>
<li class="navUser-item navUser-item--phone">
	<a class="navUser-action navUser-action--phone has-dropdown"
		href="#"
		data-dropdown="phoneDropdown"
		aria-controls="phoneDropdown"
		aria-expanded="false"
		aria-label="Phone"
	>
	<span class="navUser-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-phone{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i></span>
	{{#if theme_settings.custom_header_icon_text}}
	<span class="navUser-text">
		Phone<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
	</span>
	{{/if}}
	</a>
	<ul class="dropdown-menu" id="phoneDropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    	<li class="dropdown-menu-item">
            <span>
				UK / EUROPE<br>
				<strong>(0203) 514-3290</strong>
			</span>
		</li>
    	<li class="dropdown-menu-item">
            <span>
				USA / CANADA<br>
				<strong>(628) 239-3871</strong>
			</span>
		</li>
    	<li class="dropdown-menu-item">
            <span>
				AUS / NZ<br>
				<strong>(2) 5632-3082</strong>
			</span>
		</li>
    </ul>
</li>