<div class="product-message-container">
	<div class="product-message message-GBP">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the UK</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-AUD">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Australia</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-CAD">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Canada</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-EUR">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Europe</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-HKD">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Hong Kong</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-NZD">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in New Zealand</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-NOK">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Norway</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-ZAR">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in South Africa</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-SEK">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Sweden</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-CHF">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Switzerland</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-AED">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the United Arab Emirates</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-USD">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the USA</span>
		    </p>
		</div>
	</div>
	
	<div class="product-message message-GBP-Trek">
		<div class="alertBox alertBox--success">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">Free UK delivery on Trek Bikes <span style="display:none;">(<a href="https://www.mtbmonster.com/trek-bikes-uk-home-delivery-service/">view area covered</a>)</span></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-EUR-Whyte">
		<div class="alertBox alertBox--error" data-promotion-banner>
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">We only ship to Italy, France &amp; Belgium within the Eurozone</span>
		    </p>
		</div>
	</div>
	<div class="product-message message-GBP-Whyte">
		<div class="alertBox alertBox--success">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">Free UK delivery on Whyte bikes<span style="display:none;">Whyte bikes are only available as a click &amp; collect in store or local delivery (<a href="/local-bike-delivery-set-up/">view area covered</a>)</span></span>
		    </p>
		</div>
	</div>
</div>