{{#filter product.custom_fields 'hidden' property='name' }}
	{{#if value '==' 'payment'}}
	<div class="payment-message">
		<p><strong>Please check the amount shown above then click '{{#if ../theme_settings.custom_product_addtocart_show}}{{../theme_settings.custom_product_addtocart_text}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}' and proceed through the Checkout.</strong></p>
		<p>The team will be in touch shortly</p>
		<p>Thank you for choosing MTB Monster</p>
	</div>
	{{/if}}
{{/filter}}
<div class="klarna-promo">
<div class="klarna-heading"><strong>Klarna will appear as a payment option during checkout.</strong></div>
<klarna-placement
  data-key="credit-promotion-badge"
  data-locale="en-GB"
  data-purchase-amount="{{#if product.price.without_tax.value}}{{multiply product.price.without_tax.value 100}}{{else}}{{multiply product.price.with_tax.value 100}}{{/if}}"
></klarna-placement>
</div>
<span class="form-action-buttons form-action-buttons-2">
	<a id="form-action-cycle" href="/cycle-to-work-pre-order/?make={{hyphenate product.brand.name}}&model={{hyphenate product.title}}&price=£{{product.price.with_tax.value}}">
		<span>Buy this bike via Cyclescheme </span>
		<strong>Here</strong>
	</a>
	<!-- <input id="form-action-finance" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--secondary" type="submit" value="V12 Finance">-->
</span>
{{> components/common/payment-icons}}

