<div class="carousel-brands carousel-brands-bottom">
	<ul>
		<li><a href="https://www.mtbmonster.com/cube-bikes/"><img title="Cube Bikes" src="https://cdn11.bigcommerce.com/s-h4smy34w/images/stencil/original/image-manager/cube-logo.png?t=1693587450" alt="Cube Bikes" /></a></li>
		<li><a href="https://www.mtbmonster.com/yeti-bikes/"><img title="Yeti Bikes" src="https://cdn7.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-yeti.jpg" alt="Yeti Bikes" /></a></li>
		<li><a href="https://www.mtbmonster.com/mondraker-bikes/"><img title="Mondraker Bikes" src="https://cdn7.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-mondraker3.png" alt="Mondraker Bikes" /></a></li>
		<li><a href="https://www.mtbmonster.com/trek-bikes/"><img title="Trek Bikes" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-trek.png?t=1559835097" alt="Trek Bikes" /></a></li>
	</ul>
</div>

{{#unless currency_selector.active_currency_code '==' 'GBP'}}
	<div class="carousel-international">
		<div class="carousel-international-desk"><h2>Click the menu link above to view products available for {{currency_selector.active_currency_code}}.</h2></div>
		<div class="carousel-international-mob"><h2>Open the top left menu to view products available for {{currency_selector.active_currency_code}}.</h2></div>
	</div>
{{/unless}}