<a class="product-offer YouSave" href="/cart.php?action=add&amp;sku={{product.sku}}&amp;qty=3">
	<span class="offer-heading">3 FOR 2 OFFER!</span>
	<span class="offer-text">Add 3 Bottles And Save 33%</span>
</a>
<div class="product-offer">
	<span class="offer-heading">Our Pregnancy Success Offer</span>
	<span class="offer-text">If you become pregnant before finishing a 3 or 6 month supply, we will refund you in full for the unopened bottles</span>
</div>
<div class="product-shipping">
	<span class="header-bar-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-{{theme_settings.custom_header_bar_message2_icon}}{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i></span>
	{{> components/custom/client/client-header-bar2}}
	<span class="header-bar-text">
	{{#if theme_settings.custom_header_bar_message2_link}}
		<a href="{{theme_settings.custom_header_bar_message2_link}}">{{{theme_settings.custom_header_bar_message2_text}}}</a>
	{{else}}
		{{{theme_settings.custom_header_bar_message2_text}}}
	{{/if}}
	</span>
</div>