<li class="navUser-item navUser-item--custom navUser-item--help">
	<a class="navUser-action navUser-action--custom" href="/help/" aria-label="Discover">
		<span class="navUser-text">
			Help
		</span>
	</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--discover">
	<a class="navUser-action navUser-action--custom" href="/discover/" aria-label="Discover">
		<span class="navUser-text">
			Discover
		</span>
	</a>
</li>
<li class="navUser-item navUser-item--custom navUser-item--rewards">
	<a class="navUser-action navUser-action--custom" href="/rewards/" aria-label="Rewards">
		<span class="navUser-text">
			Rewards
		</span>
	</a>
</li>
