<p>Please send me the <strong>{{product.title}}</strong> datatsheet.</p>
<div class="cognito">
	<iframe src="https://services.cognitoforms.com/f/8rh7ntA4GkmHjvX1CwCe6Q?id=1" style="position:relative;width:1px;min-width:100%;width:100%;height:550px;" frameborder="0" scrolling="no" seamless="seamless" height="0px" width="100%" data-lf-yt-playback-inspected-yn8j1xyyzgxw0rka="true"></iframe>
	<script src="https://services.cognitoforms.com/scripts/embed.js"></script>
	<script> Cognito.prefill({ "Product": document.getElementsByClassName('productView-title')[0].innerHTML });</script>
</div>