{{assignVar "fieldFrame" "inactive"}}
{{#each product.custom_fields}}
	{{#if (lowercase name '==' 'frame')}}
	    {{assignVar "fieldFrame" "active"}}
	{{/if}}
{{/each}}

{{#if (getVar "fieldFrame") '===' 'active'}}
	<div class="product-gallery-message">
		<div class="product-gallery-message-left">
		{{#contains product.title 'Sale'}}
			<span class="product-gallery-message-link product-gallery-message-sale" target="_blank" href="/deals-discount-codes-and-vouchers/">
				<span class="product-gallery-message-text">S A L E</span>
			</span>
		{{else}}
			<span class="product-gallery-message-link product-gallery-message-finance" target="_blank" href="/deals-discount-codes-and-vouchers/">
				<span class="product-gallery-message-text">0% FINANCE up to 48 months</span>
			</span>
		{{/contains}}
		</div>
		<div class="product-gallery-message-right">
			<a class="product-gallery-message-link" target="_blank" href="/shipping-tax-and-delivery-information/">
				<span class="product-gallery-message-text">FREE UK Delivery *</span>
			</a>
		</div>
	</div>
{{/if}}