{{assignVar "fields" "inactive"}}

{{#each custom_fields}}
	{{#unless name '==' 'hidden'}}
		{{#startsWith '_' name}}
		{{else}}
			{{assignVar "fields" "active"}}
		{{/startsWith}}
	{{/unless}}
{{/each}}

{{#if (getVar "fields") '===' 'active'}}
<div class="customfields-content">
	<table class="listItem-info">
		{{#each custom_fields}}
			{{#unless name '==' 'hidden'}}
				{{#startsWith '_' name}}
				{{else}}
					{{#lt @index 5}}
					<tr>
		           		<td class="listItem-info-name customfield-label customfield-{{dashcase name}}">{{name}}:</td>
		           		<td class="listItem-info-value customfield-value customfield-{{dashcase name}}">{{{value}}}</td>
					</tr>
					{{/lt}}
				{{/startsWith}}
			{{/unless}}
		{{/each}}
	</table>
</div>
{{/if}}