{{assignVar "sku-type" "none"}}
{{#contains product.sku "ULTRA"}}{{assignVar "sku-type" "ultra"}}{{/contains}}
{{#contains product.sku "FOCUS"}}{{assignVar "sku-type" "focus"}}{{/contains}}
{{#contains product.sku "MEMORY"}}{{assignVar "sku-type" "memory"}}{{/contains}}
{{#contains product.sku "MOOD"}}{{assignVar "sku-type" "mood"}}{{/contains}}
{{#unless (getVar "sku-type") '===' 'none'}}
{{#if product.warranty}}
<div class="minidesc-content">
	{{{product.warranty}}}
</div>
{{/if}}
{{/unless}}
</div>
