<div class="footer-about">
	<div class="container">
		<div class="footer-about-center">
			<div>
				<h3>At Molly’s Mixtures we pride ourselves in offering you quality products, value for money and a first class service.</h3>
				<p>We’ve been told that buying retro sweets from us takes our customers back in time to when they were sliding on their knees at the school disco, skipping with their friends in the playground or listening to Wham LP’s in their bedroom! Customer service is important to us so tell us what you are looking for and we will do our upmost to help you.</p>
			</div>
		</div>
	</div>
</div>