<div class="footer-cta">
	<div class="container">
	{{#if page.title '==' 'Success Stories'}}
		<h2>FREQUENTLY ASKED QUESTIONS</h2>
		<p>Click the button below for answers to our commonly asked questions about FertilitySmart Conceive for Women and FertilitySmart Conceive for Men.</p>
		<a class="button button--primary" href="/questions/">Read Questions</a>
	{{else}}
		<h2>CUSTOMER TESTIMONIALS</h2>
		<p>We want to offer our sincere thanks to everyone who has offered to share their stories of success with others! We wish everyone our best in your efforts to become pregnant!</p>
		<a class="button button--primary" href="/success-stories/">Read Success Stories</a>
	{{/if}}
	</div>
</div>