<div class="container">
	<div class="footer-message-block">
		<div class="footer-message-item">
			<div class="footer-message-inner">
				<p>Handle-iT Ltd has an ever-growing presence in the manual handling industry since its establishment in 2001 supplying a variety of material handling equipment including almost anything on wheels. With the majority of stock being manufactured in the UK, Handle-iT also specialises in bespoke and made to order manual handling equipment and are experts in their field employing staff members decades of experience in the industry.</p>
				<p>Unit 19, Bulleigh Barton Farm and Commercial Units, Ipplepen, Newton Abbot, Devon, TQ12 5UA. Tel: {{lang 'footer.call_us' phone_number=settings.phone_number}} | Email: <a href="mailto:sales@handle-it.com">sales@handle-it.com</a>. Company Reg No. 4637039 | VAT Reg No. 836 905 013</p>
			</div>
		</div>
		<div class="footer-message-item">
			<div class="footer-message-inner">
				<p>Handle-iT SL, Further to five years of huge expansion within Handle-iT Ltd, including a further 15 countries added to our export clientele, coupled with the continuous unsettled environment of exporting between the UK and EU. It became apparent that growth and deliveries into the European Union would become more and more difficult. So the move to find a base in Europe where Handle-iT could continue to expand without boundaries became the natural next step. At the back end of 2022 we signed and agreement with our facilities provider for a 5 years term in our premises in Tarragona with Spain’s vibrant economy coupled with great access from the UK, and furthermore great access to the rest of the EU, along with well educated technically astute work force, the match was made for us.</p>
				<p>Handle-iT Europe SL, Ametllers 11, 43770, Mora La Nova, Tarragona, Spain. Tel: +34 877 973 047 | Email: <a href="mailto:sales.europe@handle-it.com">sales.europe@handle-it.com</a> Company Reg No. B72783582</p>
			</div>
		</div>
	</div>
</div>