<div class="product-icons-container">
	<div class="product-icons">
		<div class="product-icon" style="display: none;">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-delivery" /></svg></i>
            <a class="product-icon-text" href="/shipping-tax-and-delivery-information/">Free UK Delivery</a>
		</div>
		<div class="product-icon">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-tools" /></svg></i>
            <a class="product-icon-text" href="/how-your-bike-is-packaged/">Fully Built by a Cytech Mechanic</a>
		</div>
		<div class="product-icon">
			<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-measure" /></svg></i>
			<a class="product-icon-text" href="/bike-size-guide/">Size Guide</a>
			<!--<a class="tab-click product-icon-text" href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">Size Guide</a>-->
		</div>
	</div>
</div>
<div class="product-message-container">
	<div class="product-message message-aud">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Australia. View products available in your country <a href="/australia/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-cad">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Canada. View products available in your country <a href="/canada/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-eur">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the EU. View products available in your country <a href="/eu/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-hkd">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Hong Kong. View products available in your country <a href="/hong-kong/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-nzd">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in New Zealand. View products available in your country <a href="/new-zealand/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-nok">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Norway. View products available in your country <a href="/norway/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-sar">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Saudi Arabia. View products available in your country <a href="/saudi-arabia/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-zar">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in South Africa. View products available in your country <a href="/south-africa/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-sek">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Sweden. View products available in your country <a href="/sweden/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-chf">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in Switzerland. View products available in your country <a href="/swiss-franc/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-aed">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the United Arab Emirates. View products available in your country <a href="/united-emirates/">HERE</a></span>
		    </p>
		</div>
	</div>
	<div class="product-message message-usd">
		<div class="alertBox alertBox--error">
		    <div class="alertBox-column alertBox-icon">
		        <icon glyph="ic-error" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
		    </div>
		    <p class="alertBox-column alertBox-message">
		        <span class="alertBox-message-text">This product is unavailable in the USA. View products available in your country <a href="/usa/">HERE</a></span>
		    </p>
		</div>
	</div>
</div>