<div class="carousel-brands carousel-brands-top">
	<ul>
		<li><a href="https://www.mtbmonster.com/orbea-bikes-1/"><img title="Orbea Bikes" src="https://cdn7.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-orbea.jpg" alt="Orbea Bikes" /></a></li>
		<li><a href="https://www.mtbmonster.com/santa-cruz/"><img title="Santa Cruz" src="https://cdn11.bigcommerce.com/s-h4smy34w/images/stencil/original/image-manager/2023-scb-stack-logo-black.png?t=1691172494" alt="Santa Cruz" /></a></li>
		<li><a href="https://www.mtbmonster.com/whyte-bikes/"><img title="Whyte Bikes" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-whyte.png?t=1559835075" alt="Whyte Bikes" /></a></li>
		<li><a href="https://www.mtbmonster.com/transition-bikes/"><img title="Transition Bikes" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/logo-transition.png?t=1623175065" alt="Transition Bikes" /></a></li>
	</ul>
</div>