
                {{#if settings.show_product_reviews}}		
					<div{{#unless theme_settings.show_product_reviews}} style="display: none;"{{/unless}}>
                    	<a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}" 
						class="button button--secondary productView-reviewLink productView-reviewLink--new" 
						{{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}} 
						role="button"
                    	>
                       		{{lang 'products.reviews.new'}}
                    	</a>
					</div>
                {{/if}}
				
		<ul class="why-buy" style="padding-left: 0; padding-right: 0;">
			<li>
				<h3 style="text-align: left;">Why buy from Go Green Batteries?</h3>
			</li>
			<li>
				<a class="why-buy-link" href="/delivery/">
					<span class="why-buy-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-envelope" /></svg></i></span>
					<span class="why-buy-text"><strong>Free Delivery</strong> Same day dispatch - order by 3pm.</span>
				</a>
			</li>
			<li>
				<a class="why-buy-link" href="/delivery/">
					<span class="why-buy-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-delivery" /></svg></i></span>
					<span class="why-buy-text"><strong>Fast Delivery Options</strong> Next day & Saturday.</span>
				</a>
			</li>
			<li>
				<a class="why-buy-link" href="/why-buy/">
					<span class="why-buy-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-discount" /></svg></i></span>
					<span class="why-buy-text"><strong>Volume Discounts</strong> Best value for multiple quantities.</span>
				</a>
			</li>
			<li>
				<a class="why-buy-link" href="/business-customers/">
					<span class="why-buy-icon"><i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-tick" /></svg></i></span>
					<span class="why-buy-text"><strong>Business Customers</strong> Bespoke quotes and credit accounts.</span>
				</a>
			</li>
		</ul>