<script id="instocknotify-app-script" src="https://instocknotify.blob.core.windows.net/stencil/334aaa08795b404a9d0cbd5bb8e5844f.js?ts=61502707" type="text/javascript"></script>
<script type="text/javascript">
try {
	window.stamped_bigcommerce_product = {
		id: '{{product.id}}',
		title: '{{product.title}}',
		url: '{{product.url}}',
		imageUrl: '{{getImage product.main_image 'product'}}',
		brand: '{{product.brand.name}}',
		brandUrl: '{{product.brand.url}}',
		priceWithoutTax: '{{product.price.without_tax.value}}',
		priceWithTax: '{{product.price.with_tax.value}}',
		currency: '{{currency_selector.active_curency_code}}',
		sku: '{{product.sku}}',
		barcode: ''
	}
}catch(e){}
</script>
<script async="" id="stamped-script-widget" data-store-hash="39evn3p" src="https://cdn1.stamped.io/files/bigcommerce.min.js"></script>
<script type="text/javascript">
{{#if page_type '===' 'product'}}
const divMain = document.createElement("div"); 
divMain.setAttribute('id', 'stamped-main-widget'); 
divMain.setAttribute('class', 'stamped-main-widget stamped-style-borderless'); 
divMain.setAttribute('data-product-id',"{{product.id}}"); 
divMain.setAttribute('data-name',"{{product.title}}"); 
divMain.setAttribute('data-product-sku',"{{product.sku}}"); 
divMain.setAttribute('data-url', "{{product.url}}"); 
divMain.setAttribute('data-image-url', "{{getImage product.main_image 'product'}}"); 
document.querySelectorAll('#tab-custom2')[0].appendChild(divMain);
{{/if}}
</script>