{{#contains settings.store_name 'Pirates'}}
<img class="footer-logo footer-logo-piratescave" alt="Pirates Cave Chandlery" width="200" height="61" src="{{cdn 'assets/img/custom/logo-footer-piratescave.webp'}}">
{{/contains}}
{{#contains settings.store_name 'Anode'}}
<img class="footer-logo footer-logo-anodeoutlet" alt="Anode Outlet" width="200" height="39" src="{{cdn 'assets/img/custom/logo-footer-anodeoutlet.webp'}}">
{{/contains}}
{{#contains settings.store_name 'Fender'}}
	<h3 class="footer-info-heading" style="display:block;">{{settings.store_name}}</h3>
{{/contains}}
{{#contains settings.store_name 'Life'}}
	<h3 class="footer-info-heading" style="display:block;">{{settings.store_name}}</h3>
{{/contains}}
{{#contains settings.store_name 'All'}}
	<h3 class="footer-info-heading" style="display:block;">{{settings.store_name}}</h3>
{{/contains}}