<span class="header-bar-text header-bar-text-gbp">
{{#if theme_settings.custom_header_bar_message2_link}}
	<a href="{{theme_settings.custom_header_bar_message2_link}}">{{theme_settings.custom_homepage_featured_title}}</a>
{{else}}
	{{theme_settings.custom_homepage_featured_title}}
{{/if}}
</span>
<span class="header-bar-text header-bar-text-usd">
{{#if theme_settings.custom_header_bar_message2_link}}
	<a href="{{theme_settings.custom_header_bar_message2_link}}">{{theme_settings.custom_homepage_new_title}}</a>
{{else}}
	{{theme_settings.custom_homepage_new_title}}
{{/if}}
</span>
<span class="header-bar-text header-bar-text-aud">
{{#if theme_settings.custom_header_bar_message2_link}}
	<a href="{{theme_settings.custom_header_bar_message2_link}}">{{theme_settings.custom_homepage_top_title}}</a>
{{else}}
	{{theme_settings.custom_homepage_top_title}}
{{/if}}
</span>