{{#contains settings.request.host ".es"}}
{{else}}
<div id="flyoutBanner" class="is-open">
	<div class="flyout-container">
		<div class="flyout-button">
			<div class="flyout-hide">
				<a class="flyout-click" href="#flyoutHide">
					<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-close" /></svg></i>
				</a>
			</div>
			<div class="flyout-show">
				<a class="flyout-click" href="#flyoutShow">
					<span>E</span><span>N</span><span>Q</span><span>U</span><span>I</span><span>R</span><span>E</span>
				</a>
			</div>
		</div>
		<div class="flyout-content">
			<h3><strong>Trolleys made to your specification</strong></h3>
			<p>Handle-iT offers a design and manufacture facility in our own factories here in the southwest, where we can manage the whole process.</p>
			<p><strong><a href="/bespoke-trolley-manufacturing/">Click HERE for more information</a></strong></p>
			<h3>Need help finding your perfect trolley?</h3>
			{{#if page_type "==" "product"}}
				<p><strong><a class="button" href="/enquiry-form/?rma={{plusify (sanitize product.title)}}{{#if product.sku}}+({{plusify (sanitize product.sku)}}){{/if}}">Enquire Online Here</a></strong></p>
			{{else}}
				<p><strong><a class="button" href="/enquiry-form/?rma=General+Enquiry">Enquire Online Here</a></strong></p>
			{{/if}}
			<hr>
			<p><strong><a href="mailto:{{theme_settings.custom_email_address}}">Email the Sales Team at sales@handle-it.com</a></strong></p>
			<hr>
			<p><strong>Call the Sales Team on <span style="white-space: nowrap;">{{settings.phone_number}}</span></strong></p>
		</div>
	</div>
</div>
{{/contains}}