
	<div data-content-region="page_builder_content"></div>
<p style="text-align: left;" align="center"><span lang="EN">At MTB Monster we want you to be completely satisfied with your purchase. We have systems in place to ensure your products are correctly assembled and checked prior to delivery by our fully trained staff. All our products including bikes are very carefully packaged to prevent damage in transit, so it is unlikely that you will have any problems.</span></p>
<p><span>However, on occasion things can go wrong and if your purchase isn’t suitable for whatever reason you can find out below what can be done.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>RETURNS</span></strong></p>
<p><strong><span>What if my bike has arrived damaged or faulty?</span></strong></p>
<p><span>If your bike is faulty or damaged on delivery you must inform us by completing a&nbsp;</span><span style="color: #0000ff;"><a href="https://www.mtbmonster.com/warranty-form/"><span style="color: #0000ff;">Warranty Form</span></a></span><span><span style="color: #0000ff;">&nbsp;</span>within 48 hours of the bike being delivered. Please complete the form in full.&nbsp;</span></p>
<p>If it is a minor issue that you feel can be solved easily please&nbsp;<span style="color: #0000ff;"><a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;">contact us</span></a></span>&nbsp;within 48 hours and we will be in touch as soon as possible to assist. Please note MTB Monster will not pay out any compensation or cover any cost of repairs no matter how minor without prior agreement. If you bike lands with any issues you must<a href="https://www.mtbmonster.com/contact-us/"> <span style="color: #0000ff;"><span style="color: #0000ff;">contact us</span> </span></a>first in order to potentially be supported. We cannot be held responsible if you have taken your item to another store and they have performed substandard repairs.</p>
<p><span>What is covered?</span></p>
<ul type="disc">
<li><span>Manufacturing faults.</span></li>
<li><span>Damage in transit.</span></li>
</ul>
<p><span>What is&nbsp;<strong>not</strong>&nbsp;Covered?</span></p>
<ul type="disc">
<li><span>Items that have been damaged in a crash.</span></li>
<li><span>Items that have not been installed properly (e.g. stripped pedal threads).</span></li>
<li><span>Items that have been modified by the customer</span></li>
<li><span>Compensation for time off the bike whilst repairs are taking place.</span></li>
</ul>
<p><span>&nbsp;</span></p>
<p><strong><span>What if my bike has been delivered and I no longer want it?</span></strong></p>
<p><span>If you purchase a bike and change your mind you must&nbsp;</span><span style="color: #0000ff;"><a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;">contact us</span></a></span><span>&nbsp;within 14 days of delivery and&nbsp;express your intention to return your bike. Items must then be returned within 28 days of purchase.</span></p>
<p><span>Unwanted bikes must be returned unused, undamaged and in the original packaging (this excludes Special Orders and Custom Builds). You can either mail the bike back to us yourself or we can collect it via courier. Collecting a bike will cost you £50 for UK customers (this will be deducted from your refund amount)</span></p>
<p><span>For non-UK residents we will advise the return cost based on your address. We will endeavour to do this in the most cost-effective way possible for you but can make no guarantees of the costs involved.&nbsp;</span><span style="color: #0000ff;"><a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;">Contact us</span></a></span><span>&nbsp;to arrange this with a member of our team.</span></p>
<p><span>If you decide to return the bike yourself, please make sure you get a proof of return as we cannot be held responsible for the goods lost or damaged in transit.</span></p>
<p><span>No refunds can be made until the goods are received and checked by our team so there may be a slight delay in processing your return.</span></p>
<p><span>Please see the exceptions to this returns policy outlined below.</span></p>
<p><strong><span>What if I have custom build mountain bike?</span></strong></p>
<p><span>When ordering a Custom Mountain Bike, you will be liaising at length with a member of our team to ensure the full specification is agreed and signed off by both parties in writing. Once agreed a&nbsp;non- refundable<strong>&nbsp;</strong>50% deposit is taken so the build can commence. Changes to specification can be made along the way through discussions with the member of staff involved with your project and so your total build cost can fluctuate, this is no problem, however, if you decide to cancel the build completely you will lose your deposit. If the reason for the cancellation is unexpected we may be able to release some of the components to the value of your deposit back to yourself, this will be at the discretion of the shop manager.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>Special order Bikes &amp; Frames?</span></strong></p>
<p><span>The following special orders are non-refundable items:</span></p>
<ul type="disc">
<li><span>All bike frame orders are specifically ordered for you and therefore cannot be refunded.</span></li>
<li><span>All bikes / frames that are modified from the point of purchase are classified as a special order. For example, if you have selected specific parts to be fitted to your bike, have upgraded parts direct from the manufacturer such as rear shocks or have agreed to have an Invisi Kit fitted this would be classed as a special order.</span></li>
<li><span>Another reason your bike may be classed as a ‘special order' could be if you are ordering a bike that is not from our normal stock, for example if it is a particularly big or small size that we do not normally carry.&nbsp;</span></li>
</ul>
<p><span>&nbsp;</span></p>
<p><span>You will always be informed in writing if your purchase falls under a ‘special order’ category and if for any reason after receiving the email you decide you do not want to proceed you will have 24 hours to cancel and still get any paid monies returned.&nbsp;</span></p>
<p>&nbsp;</p>
<p><strong><span>What if I am a non-UK resident and I want to return my purchase?</span></strong></p>
<p>If you need to return your bike from overseas, please&nbsp;<a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;"><span style="color: #0000ff;">contact us</span></span>&nbsp;</a>and we will discuss the most cost-effective way of shipping your bike. The returns policy remains the same as for UK customers, only the cost of returning an unwanted bike will differ and will be calculated on an individual basis.</p>
<p><span>&nbsp;</span></p>
<p><strong><span>What if my non-bike product has been delivered and I have changed my mind?</span></strong></p>
<p><span>Items must be returned within 7 days of purchase.</span></p>
<p><span>Items must:</span></p>
<ul type="disc">
<li><span>Be returned in the package they arrived in.</span></li>
<li><span>Be returned undamaged and unused.</span></li>
<li><span>Be returned in a resealable condition.</span></li>
<li><span>Include your contact details inside the box</span></li>
</ul>
<p><span>Posting fees will not be covered by MTB Monster LTD.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>Where do I return my items to?</span></strong></p>
<p><span>MTB MONSTER LIMITED</span></p>
<p><span>Returns Department</span></p>
<p><span>Unit 4A Fairfield Business Park,</span></p>
<p><span>Longsight Road,&nbsp;</span></p>
<p><span>Clayton Le Dale,&nbsp;</span></p>
<p><span>Lancashire,&nbsp;BB2 7JA</span></p>
<p><span>All items must be inspected before they are refunded or replaced, and this can take up to 7 working days from being received. If you have any queries, please&nbsp;</span><span style="color: #0000ff;"><a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;"><span>contact us</span><span>.</span></span></a></span></p>
<p><span>Please Note – In purchasing from MTB Monster you are aware that if for any reason you need to return your bike it is your responsibility to obtain the necessary packaging and wrap the bike so that it is secure during transit. We advise you keep your original packaging in case it is needed again. If you are unsure for any reason on how to do this please&nbsp;<a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;"><span style="color: #0000ff;">contact us</span>&nbsp;</span></a>for advise.</span></p>
<p><span>&nbsp;</span></p>
<p><strong><span>WARRANTY</span></strong></p>
<p><strong><span>&nbsp;</span></strong></p>
<p><strong><span>I have a warranty issue what do I do?</span></strong></p>
<p>If you find yourself needing to return an item for a warranty inspection, you can fill in our <span style="color: #0000ff;"><a href="https://www.mtbmonster.com/warranty-form/"><span style="color: #0000ff;">warranty form&nbsp;<span>here</span></span></a></span>. This mailbox is checked regularly by a member of our mechanics team so you can be sure of a timely response. We will support you throughout the warranty process by generating returns where needed and liaising directly with the manufacturers on your behalf. You will be kept informed at every stage until your warranty is complete.</p>
<p><span>If an item is to be returned as a potential warranty issue, we will always do our very best to advise you as to our thoughts on the outcome of the inspection in advance. It is important to be aware that if an item is declined warranty by the manufacturer then you will be charged the return postage and any other costs involved. Please be aware that it is not MTB Monster Limited who determine if an item is warranty, this decision lies with the manufacturer themselves and we have no control over it.</span></p>
<p><span><br>Although we may&nbsp;need to have the product returned to MTB Monster Limited for inspection by a mechanic, most component warranties can be processed by your local authorised service centre. This can reduce the time taken to get the warranty processed while also saving any costs involved sending an item back to us.&nbsp;</span></p>
<p><span>Please note:&nbsp;If you choose to use a shop local to yourself to have warranty work carried out, any warranty parts will normally be replaced free of charge by the manufacturer (check with the shop first). However, MTB Monster Limited will not contribute in any way to the costs involved in the labour part of the warranty or any investigational work carried out by another bike shop. If you choose to use a local shop they will charge you for labour &amp; postage expenses as a result of the warranty work. Please be aware if you choose to use a local bike shop MTB Monster are not involved in the warranty work and have no influence on decisions or timescales made by the shop or manufacturer and MTB Monster are not liable for the work carried out by another shop. It is your responsibility to check that the shop is a&nbsp;authorised dealer of the brand in question and is&nbsp;suitabley&nbsp;qualified to carry out the work.</span></p>
<p><span>You are of course welcome to return your bike to MTB Monster Limited where a fully qualified mechanic will complete any warranty work and you will not be charged any labour costs. We will then post the bike back to you at our expense (UK customers only).&nbsp;</span></p>
<p>Any potential warranty issue that does need to be returned it is done so at the expense of the customer. A collection can be made through MTB Monster at a charge of £50. We will request photos of the condition of the bike prior to collection so that in the unlikely event any damage occurs in transit this is easily identified.</p>
<p><strong><span>What is covered under warranty?</span></strong></p>
<p><span>Most bikes and components are covered under warranty by the manufacturer.</span></p>
<p><span>Component warranties usually vary from 6 months to 3 years, these are specific to the manufacturer and details can be found in the product manuals or, on the manufacturer’s website. Bosch systems for electric bikes have a 2-year warranty.</span></p>
<p>Frames are usually warrantied for approximately 2-5 years and often lifetime warranties are offered if frames are registered. If this is offered, you can do this by visiting the manufacturers website and registering your bike after you have purchased the bike. &nbsp;This timeframe of warranty is determined by the manufacturer. To view the details of a&nbsp;brands specific bike frame warranties, please choose a brand from the list below to be directed to their website where you can view up to date information, if you have any questions, or have an issue with the link below please <span style="color: #0000ff;"><a href="https://www.mtbmonster.com/contact-us/"><span style="color: #0000ff;">contact us</span></a></span></p>
<p><span><strong>To view the details of a&nbsp;brands specific bike frame warranty, please choose a brand from below for more information:</strong></span></p>
<p>&nbsp;</p>
<table border="0">
<tbody>
<tr valign="top">
<td style="text-align: center;">
<p><a title="Cube warranty " href="https://www.cube.eu/en/cubeworld/news/detail/article/how-long-do-i-have-guarantee-warranty-on-my-cube-bike/"><span style="font-size: xx-small;"><img class="__mce_add_custom__" title="cubebutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/cubebutton.jpg" alt="cubebutton.jpg" width="130" height="69"></span></a></p>
</td>
<td style="text-align: center;">
<p><a title="Mondraker warranty" href="https://www.mondraker.com/nc/en/warranty-conditions"><img class="__mce_add_custom__" title="mondrakerbutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/mondrakerbutton.jpg" alt="mondrakerbutton.jpg" width="130" height="69"></a></p>
</td>
<td style="text-align: center;"><a title="NS warranty" href="https://nsbikes.com/warranty,23,pl.html"><img class="__mce_add_custom__" title="nsbutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/nsbutton.jpg" alt="nsbutton.jpg" width="130" height="69"></a></td>
</tr>
<tr valign="bottom">
<td style="text-align: center;"><address><a title="Ragley warranty" href="http://ragleybikes.com/support/ragley-frame-warranty-information/"><img class="__mce_add_custom__" title="ragleybutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/ragleybutton.jpg" alt="ragleybutton.jpg" width="130" height="69"></a></address></td>
<td style="text-align: center;"><address><a title="Orbea warranty" href="https://www.orbea.com/gb-en/warranty/"><img class="__mce_add_custom__" title="orbeabutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/orbeabutton.jpg" alt="orbeabutton.jpg" width="130" height="69"></a></address></td>
<td style="text-align: center;"><address><a title="Evil warranty" href="https://eu.evil-bikes.com/pages/warranty-policy"><img class="__mce_add_custom__" title="evilbutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/evilbutton.jpg" alt="evilbutton.jpg" width="130" height="69"></a></address></td>
</tr>
<tr valign="bottom">
<td style="text-align: center;"><a title="Nukeproof warranty" href="https://nukeproof.com/pages/warranty"><strong style="font-size: xx-small; font-style: italic;"><img class="__mce_add_custom__" title="nukeproofbutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/nukeproofbutton.jpg" alt="nukeproofbutton.jpg" width="130" height="69"></strong></a></td>
<td style="text-align: center;"><a title="Yeti warranty" href="https://yeticycles.com/warranty"><span style="font-size: xx-small;"><img class="__mce_add_custom__" title="yetibutton.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/yetibutton.jpg" alt="yetibutton.jpg" width="130" height="69"></span></a></td>
<td style="text-align: center;"><a title="Gocycle warranty" href="https://gocycle.com/product-warranty/"><img class="__mce_add_custom__" title="go-cycle-button-.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/go-cycle-button-.jpg" alt="go-cycle-button-.jpg" width="129" height="69"></a></td>
</tr>
<tr valign="bottom">
<td style="text-align: center;"><a title="Transition warranty" href="https://www.transitionbikes.com/Support.cfm"><img class="__mce_add_custom__" title="transition-button-1.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/transition-button-1.jpg" alt="transition-button-1.jpg" width="129" height="71"></a></td>
<td style="text-align: center;"><a title="Whyte warranty" href="https://whyte.bike/pages/registration"><img class="__mce_add_custom__" title="whyte-button.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/whyte-button.jpg" alt="whyte-button.jpg" width="129" height="72"></a></td>
<td style="text-align: center;"><a title="Trek warranty" href="https://www.trekbikes.com/gb/en_GB/warranty_policy/"><img class="__mce_add_custom__" title="trek-button.jpg" src="https://cdn11.bigcommerce.com/s-h4smy34w/product_images/uploaded_images/trek-button.jpg" alt="trek-button.jpg" width="131" height="72"></a></td>
</tr>
<tr valign="bottom">
<td style="text-align: center;"><address><span style="font-size: xx-small;">&nbsp;</span></address></td>
<td style="text-align: center;"><span style="font-size: xx-small;">&nbsp;</span></td>
<td style="text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p><span>Below is a list of scenarios that are not covered under warranty, this list is not exhaustive but highlights the main situations when warranty is not applicable:</span></p>
<ul>
<li>Stripped pedal threads. When you receive your new bike, you will need to fit the pedals make sure you take your time and ensure you have the right pedal for each crank arm. Do not continue to thread a pedal if it is not going in easily.&nbsp;</li>
<li>Misuse of a bike</li>
<li>Damage from causes apart from defects in material. E.g., if damage is caused by crashing your bike, it will not be covered under warranty.</li>
<li>Normal wear and tear. Components may show signs of wear and tear in less than two years depending on amount of use, type of use etc. Some components can be expected to reach the end of their normal lifespan within this timeframe.</li>
<li>Damage to products which have been improperly installed or repaired.</li>
<li>Products that have been modified, neglected or poorly maintained.</li>
<li>Electric bikes that have been derestricted; this will be evident upon diagnostics testing</li>
<li>Compensation for any inconvenience caused (such as time &amp; traveling expenses) which can be associated to the repair or warranty of a bike. Additionally&nbsp;we would not cover the costs incurred if you choose to hire a bike whilst waiting for an investigation /&nbsp;<span>resolution to take place</span>.&nbsp;</li>
<li>Riding the bike in a manner in which it was not intended for.</li>
</ul>
<p>Ultimately whether or not an item is covered under warranty, is down to the individual manufacturer</p>