{{#or (if page_type '===' 'category') (if page_type '===' 'search') (if page_type '===' 'brand')}}
<script>
    // Check if content has changed
	if (document.body.classList.contains('page-category') || document.body.classList.contains('page-brand') || document.body.classList.contains('page-search')){
	    const target = document.querySelector('#product-listing-container');
		const sortAsc = 'priceasc';
        const sortDesc = 'pricedesc';
		const product = document.getElementsByClassName('product');
	    const observer = new MutationObserver(function(mutations) {
			const sortBox = document.getElementById('sort');
			const sortParam = sortBox.options[sortBox.selectedIndex].value;
			console.log('sortParam: ' + sortParam);
			if (sortParam) {
	            if (sortParam == sortAsc || sortParam == sortDesc) {
	                let sortOrder;
	                for (let i = 0; i < product.length; i++) {
	                    if (sortParam == sortAsc) {
	                        sortOrder = product[i].getAttribute('data-price-asc');
	                    }
	                    if (sortParam == sortDesc) {
	                        sortOrder = product[i].getAttribute('data-price-desc');
	                    }
	                    product[i].style.order = sortOrder;
	                }
	            }
	        }
	    });
	    const config = { attributes: true, childList: true, characterData: true };
	    observer.observe(target, config);
	}
</script>
{{/or}}
<!--
{{#if page_type '===' 'compare'}}
<script>
	const tableRow = document.getElementsByClassName('compareTable-row');
    let rowHeading;
	let rowText;
    for (let i = 0; i < tableRow.length; i++) {
		rowHeading = tableRow[i].querySelector('.compareTable-heading');
        rowText = rowHeading.innerText;
		console.log('rowText: ' + rowText);
		if (rowText == 'MOTOR CONTROLLER' || rowText == 'MOTOR' || rowText == 'BATTERY') {
			console.log('Found: ' + rowText);
			rowHeading.classList.add('compare-label');
		}
    }
	function loadArticle() {
	   var rowClicks = document.getElementsByClassName('compare-label');
	   for (let j = 0; j < rowClicks.length; j++) {
	      rowClicks[j].onclick = function(e) {
			  e.preventDefault();
			  const rowClickText = rowClicks[j].innerText;
			  console.log('rowClickText: ' + rowClickText);
  			var url;
  			if (rowClickText == 'MOTOR CONTROLLER') {
  				url = '/latest-posts/emtb-controller-guide-2025/'
  			} else if (rowClickText == 'MOTOR') {
  				url = '/latest-posts/emtb-motor-guide-choose-the-perfect-one-2025/'
  			} else if (rowClickText == 'BATTERY') {
  				url = '/latest-posts/emtb-battery-size-guide-2025/'
  			}
  			console.log('url: ' + url);
  			// Open the modal
  			const modalContent = document.getElementById('modal-content');
  			modalContent.innerHTML = '';
  			modalContent.parentNode.classList.add('open');
  			modalContent.parentNode.setAttribute('style', 'display: block; opacity: 1; visibility: visible; height: 90vh;');
  			document.body.classList.add('has-activeModal');
  			const modalBg = document.querySelector('.modal-background');
  			if (modalBg) {
  				modalBg.removeAttribute('style');
  			} else {
  				const divBg = document.createElement('div');
  				divBg.classList.add('modal-background');
  				document.body.appendChild(divBg);
  			}

  			fetch(url).then(response => response.text()).then(html => {
	
  				// get the article content
  				const fragment = document.createDocumentFragment('div');
  				const tempDiv = document.createElement('div');
  				fragment.appendChild(tempDiv);
  				tempDiv.innerHTML = html;
  				const content = tempDiv.querySelector('.blog-post').innerHTML;
	
  				//append content to the modal
  				const modalHeight = modalContent.parentNode.clientHeight;
  				const modalBody = document.createElement('div');
  				modalBody.classList.add('modal-body');
  				modalBody.style.height = modalHeight + 'px';
  				modalBody.innerHTML = content;
  				modalContent.appendChild(modalBody);
  			})
  			.catch((err) => console.log('Can not access ' + url + ' response. Blocked by browser?' + err));
		  }
	   }
	}
	loadArticle();
</script>
{{/if}}
-->
{{#unless page_type '===' 'checkout'}}
<script>
	function getDayName(dateStr, locale) {
	    var date = new Date(dateStr);
	    return date.toLocaleDateString(locale, { weekday: 'short' });        
	}
	var dateStr = '{{moment "now" "YYYY-MM-DD"}}';
	var day = getDayName(dateStr, "en-EN");
	var whatsAppIcon = document.querySelector('.navUser-item--whatsapp');
	var whatsAppHeader = document.querySelector('.navUser-item--custom .whatsappChatButton');
	var whatsAppFooter = document.querySelector('.footer-info-col .whatsappChatButton');
	var whatsAppPage = document.querySelector('.page-content .whatsappChatButton');
	if (day != 'Sun') {
		hour = {{moment "now" "H"}};
		min = {{moment "now" "m"}};
		if (hour > 7 && hour < 17) {
			if (hour == 8) {
				if (min > 14) {
					whatsAppIcon.style.display = 'inline-block';
					whatsAppHeader.style.display = 'block';
					whatsAppFooter.style.display = 'block';
					if (whatsAppPage) {
						whatsAppPage.style.display = 'block';
					}
				}
			} else if (hour == 16) {
				if (min < 46) {
					whatsAppIcon.style.display = 'inline-block';
					whatsAppHeader.style.display = 'block';
					whatsAppFooter.style.display = 'block';
					if (whatsAppPage) {
						whatsAppPage.style.display = 'block';
					}
				}
			} else {
				whatsAppIcon.style.display = 'inline-block';
				whatsAppHeader.style.display = 'block';
				whatsAppFooter.style.display = 'block';
				if (whatsAppPage) {
					whatsAppPage.style.display = 'block';
				}
			}
		}
	}
</script>
{{/unless}}