<div class="custom-guides">
	{{#each product.custom_fields}}
		{{#if name '==' 'local'}}
			<a class="custom-guide-link" href="#tab-description">Feeding Guidelines</a>
		{{/if}}
        {{#if name '==' 'delivery'}}
			<a class="custom-guide-link" href="#tab-description">{{value}}</a>
		{{/if}}  
	{{/each}}
</div>

{{#each product.custom_fields}}
	{{#if name '==' 'food-delivery'}}
	<!--     
	<div class="custom-food-option">
		<span class="delivery-label">{{value}}</span>	
	</div>
	-->
	{{/if}}
{{/each}}