{{#if social_media}}
<div class="socialLinks--custom">
	{{#each social_media}}
	{{#if display_name '===' 'youtube'}}
	<div class="socialLinks--item-custom socialLinks--item-{{display_name}}">
        <a class="socialLinks--link-{{display_name}}"
        href="{{url}}"
        target="_blank"
        rel="noopener"
        title="{{{capitalize display_name}}}"
        >
			<img alt="Latest from MTB YouTube" width="800" height="180" src="{{cdn 'assets/img/custom/social-youtube.png'}}">
			<span>Latest from MTB YouTube</span>
        </a>
	</div>
	{{/if}}
	{{#if display_name '===' 'instagram'}}
	<div class="socialLinks--item-custom socialLinks--item-{{display_name}}">
        <a class="socialLinks--link-{{display_name}}"
        href="{{url}}"
        target="_blank"
        rel="noopener"
        title="{{{capitalize display_name}}}"
        >
			<img alt="Follow MTB on Instagram" width="800" height="180" src="{{cdn 'assets/img/custom/social-instagram.png'}}">
			<span>Follow MTB on Instagram</span>
        </a>
	</div>
	{{/if}}
	{{#if display_name '===' 'facebook'}}
	<div class="socialLinks--item-custom socialLinks--item-{{display_name}}">
        <a class="socialLinks--link-{{display_name}}"
        href="{{url}}"
        target="_blank"
        rel="noopener"
        title="{{{capitalize display_name}}}"
        >
			<img alt="Connect with MTB on FaceBook" width="800" height="180" src="{{cdn 'assets/img/custom/social-facebook.png'}}">
			<span>Engage with us on FaceBook</span>
        </a>
	</div>
	{{/if}}
	{{/each}}
</div>
{{/if}}