
	<div data-content-region="page_builder_content"></div>
            <p></p><p><strong>Delivery</strong></p>
<p>Free UK Delivery (mainland only) on all items above £60.</p>
<p>Our current delivery timescale for bikes in stock is: 5-7 working days.</p>
<p>As always once an order is placed we will liaise with you to keep you informed on the delivery of your new bike and with all new orders we will do our best to complete them in a shorter timeframe where possible. As with all things at the moment this is subject to change but please be assured will do our best, to keep you as up to date as possible, at all times.</p>
<p><a href="https://www.mtbmonster.com/how-your-bike-is-packaged/" target="_blank">How your bike is packaged</a></p>
<p><a href="https://www.mtbmonster.com/how-to-build-your-new-bike/" target="_blank">How to build your new bike</a></p>
<p><strong>International Orders</strong></p>
<p>If you are a customer who would like to purchase a bike from outside the UK, please contact us before you place the order to look at the options available to you in the current environment.&nbsp;</p>
<p>Any Questions please contact us below:</p>
<div id="wufoo-z18z3js61u8y6v8"><iframe title="Embedded Wufoo Form" id="wufooFormz18z3js61u8y6v8" class="wufoo-form-container" height="673" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://mtbmonster.wufoo.com/embed/z18z3js61u8y6v8/def/embedKey=z18z3js61u8y6v8439812&amp;entsource=&amp;referrer=https%3Awuslashwuslashwww.mtbmonster.comwuslashcustomer-servicewuslash"><a href="https://mtbmonster.wufoo.com/forms/z18z3js61u8y6v8/" title="html form">Fill out my Wufoo form!</a></iframe></div>
<script type="text/javascript">// <![CDATA[
var z18z3js61u8y6v8;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'mtbmonster',
'formHash':'z18z3js61u8y6v8',
'autoResize':true,
'height':'716',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z18z3js61u8y6v8 = new WufooForm();z18z3js61u8y6v8.initialize(options);z18z3js61u8y6v8.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');
// ]]></script><p></p>
