<div class="heroCarousel-content{{#and (if heading '==' false) (if text '==' false)}} heroCarousel-button-only{{/and}}">
	{{#if heading}}
		{{#contains heading "#"}}
    		<h3 class="heroCarousel-title" style="color: #{{{first (after (split heading '#') 1)}}} !important;">
				{{{first (before (split heading '#') 1)}}}
			</h3>
		{{else}}
			<h3 class="heroCarousel-title">
				{{{heading}}}
			</h3>
		{{/contains}}
	{{/if}}
	<div class="heroCarousel-inner">
		{{#if text}}
    		<div class="heroCarousel-description">
				{{{text}}}
			</div>
		{{/if}}
    	{{#if button_text}}
			<div class="heroCarousel-button">
				<span aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}, {{button_text}}" class="heroCarousel-action button button--primary button--large">{{{button_text}}}</span>
			</div>
    	{{/if}}
	</div>
</div>
