<section class="heroCarousel heroCarousel--{{theme_settings.custom_homepage_carousel_content}}{{#if theme_settings.custom_homepage_carousel_content_background '==' false}} heroCarousel--nobg{{/if}}{{#if carousel.slides.length '==' 1}} heroCarousel--single{{/if}}"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
		"swipe": true,
		"draggable": true,
		"touchMove": true,
		"speed": 1000,
		{{#if theme_settings.custom_homepage_carousel_transition "==" "fade"}}"fade": true,{{/if}}
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": {{theme_settings.custom_homepage_carousel_auto}},
        "autoplaySpeed": {{carousel.swap_frequency}},
        "slide": "[data-hero-slide]"
    }'
>
    {{#each carousel.slides}}
    {{#if button_text}}
    <div data-hero-slide="{{@index}}">
    {{else}}
    <a href="{{url}}" data-hero-slide="{{@index}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}">
    {{/if}}
        <div class="heroCarousel-slide{{#if ../theme_settings.homepage_stretch_carousel_images}} stretch{{/if}}{{#if @first}} heroCarousel-slide--first{{/if}} heroCarousel-slide--{{#if @index 0}}1{{else if @index 1}}2{{else if @index 2}}3{{else if @index 3}}4{{else}}5{{/if}}">
            {{#if button_text}}
            <a href="{{url}}" class="heroCarousel-image-wrapper">
            {{else}}
            <div class="heroCarousel-image-wrapper">
            {{/if}}
            {{#if @first}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image heroCarousel-image-desktop"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
            {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image heroCarousel-image-desktop"
                    fallback_size='1280w'
                    lazyload='lazyload'
                }}
            {{/if}}
			{{#if ../theme_settings.custom_homepage_carousel_mob-images}}
				{{#if @index 0}}
					<img src="/product_images/uploaded_images/{{../theme_settings.custom_homepage_carousel_mob-1}}" alt="{{{heading}}}" title="{{{heading}}}" class="heroCarousel-image heroCarousel-image-mobile">
				{{else if @index 1}}
					<img src="/product_images/uploaded_images/{{../theme_settings.custom_homepage_carousel_mob-2}}" alt="{{{heading}}}" title="{{{heading}}}" class="heroCarousel-image heroCarousel-image-mobile">
				{{else if @index 2}}
					<img src="/product_images/uploaded_images/{{../theme_settings.custom_homepage_carousel_mob-3}}" alt="{{{heading}}}" title="{{{heading}}}" class="heroCarousel-image heroCarousel-image-mobile">
				{{else if @index 3}}
					<img src="/product_images/uploaded_images/{{../theme_settings.custom_homepage_carousel_mob-4}}" alt="{{{heading}}}" title="{{{heading}}}" class="heroCarousel-image heroCarousel-image-mobile">
				{{else}}
					<img src="/product_images/uploaded_images/{{../theme_settings.custom_homepage_carousel_mob-5}}" alt="{{{heading}}}" title="{{{heading}}}" class="heroCarousel-image heroCarousel-image-mobile">
            	{{/if}}
			{{/if}}
			{{#if button_text}}
            </a>
            {{else}}
            </div>
            {{/if}}
            {{#or heading text button_text}}
                {{> components/carousel-content}}
            {{/or}}
        </div>
    {{#if button_text}}
    </div>
    {{else}}
    </a>
    {{/if}}
    {{/each}}
    {{#if carousel.slides.length '>' 1}}
        {{> components/carousel-content-announcement}}
        {{#if play_pause_button}}
            {{> components/carousel-play-pause-button}}
        {{/if}}
    {{/if}}
</section>
