// =============================================================================
// Custom > Client
// =============================================================================
//


// =============================================================================
// Header
// =============================================================================


.header-bar {
    @include breakpoint("medium") {
		position: static;
		max-height: none;
	}
}

body.with-bar .header {
    @include breakpoint("medium") {
		padding-top: 0;
	}
}

.header-logo-image {
    @include breakpoint("medium") {
		max-width: 250px;
	}
    @include breakpoint("large") {
		max-width: 350px;
	}
}

.navUser-item--currency {
	display: none;
}

.navUser-section--norm.navUser-section-left {
    @include breakpoint("large") {
		min-width: calc(100% - 700px);
	}
}

.header-bar li {
    @include breakpoint("medium") {
		padding: 1rem 0.78571rem;
		height: auto;
		
	}
    @include breakpoint("large") {
		padding: 1.5rem 0.78571rem;
	}
}

.header-bar-text {
    @include breakpoint("medium") {
		font-size: 1.25rem;
		
	}
    @include breakpoint("large") {
		font-size: 1.5rem;
	}
}

.header-bar-icon .icon {
    @include breakpoint("medium") {
		height: 1.25rem;
		width: 1.25rem;
		
	}
    @include breakpoint("large") {
		height: 1.5rem;
		width: 1.5rem;
	}
}

.navPages > ul > li > .navPages-action {
    @include breakpoint("medium") {
		font-size: 14px;
		line-height: 24px;
		
	}
    @include breakpoint("large") {
		font-size: 16px;
	}
}

.navPages-item-boxsearch .form-search-box .form-input, 
.header--boxsearch .form-search-box .form-input,
.navUser .form-search-box .form-input {
	border-top-color: #ffb41d;
	border-bottom-color: #ffb41d;
	border-left-color: #ffb41d;
}

.navPages-item-boxsearch .form-search-box .button, 
.header--boxsearch .form-search-box .button,
.navUser .form-search-box .button {
    background: #ffb41d;
    color: #000;
	border-top: 1px solid #ffb41d;
	border-right: 1px solid #ffb41d;
	border-bottom: 1px solid #ffb41d;
}

.navPages-item-boxsearch .form-search-box .button:hover,
.header--boxsearch .form-search-box .button:hover,
.navUser .form-search-box .button:hover {
    background: #ffc756;
    color: #000;
	border-top: 1px solid #ffb41d;
	border-right: 1px solid #ffb41d;
	border-bottom: 1px solid #ffb41d;
}

.navPage-subMenu {
	@include breakpoint("medium") {
		-webkit-box-shadow: 0px 13px 15px -7px rgba(0,0,0,0.15);
		box-shadow: 0px 13px 15px -7px rgba(0,0,0,0.15);
	}
}

.navPages > ul > li.navPages-item-clearance.navPages-item-category {
	display: none;
}

.navPages-list:not(.navPages-list-depth-max) .navPages-item-category .navPage-subMenu-list {
    @include breakpoint("medium") {
		border-top: 1px solid stencilColor('navPages-subMenu-separatorColor');
		border-left: 1px solid stencilColor('navPages-subMenu-separatorColor');
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
}

.navPages-list:not(.navPages-list-depth-max) .navPages-item-category .navPage-subMenu-item {
    @include breakpoint("medium") {
		padding: 0px !important;
		float: none;
		align-items: center;
		display: flex;
		border-right: 1px solid stencilColor('navPages-subMenu-separatorColor');
		border-bottom: 1px solid stencilColor('navPages-subMenu-separatorColor');
	}
}

.navPages-list:not(.navPages-list-depth-max) .navPages-item-category .navPage-subMenu-action {
    @include breakpoint("medium") {
		padding-left: 1rem;
		padding-right: 1rem;
		border-bottom: none;
	}
}

.navPages-list:not(.navPages-list-depth-max) .navPages-item-category .navPage-subMenu-item > .navPage-subMenu-action {
    margin-bottom: 0;
}

.navPages > ul > li.navPages-item-clearance.navPages-item-page > .navPages-action {
	color: #ffb41d;
    @include breakpoint("medium") {
		background: #ffb41d;
		color: #312e29;
	}
}

.navPages > ul > li.navPages-item-clearance.navPages-item-page > .navPages-action:hover {
	color: #FFC756;
    @include breakpoint("medium") {
		background: #FFC756;
		color: #312e29;
	}
}

.navPages-item-refunds-returns {
    display: none;
}


.navPages-list-simple .navPages-item-page {
    @include breakpoint("medium") {
		position: relative;
	}
}

.navPages-click .navPages-list-simple .navPages-item-page .navPage-subMenu.is-open,
.navPages-hover .navPages-list-simple .navPages-item-page:hover div.navPage-subMenu {
    @include breakpoint("medium") {
		min-width: 320px;
		left: auto;
		right: 0;
	}
}

.navPages-list-simple .navPages-item-page .navPage-subMenu-item {
    @include breakpoint("medium") {
		width: 100%;
	}
}

.navPages-list:not(.navPages-list-depth-max) .navPages-item-page .navPage-subMenu-action {
    padding: .25rem 0;
    border-bottom: 0;
    margin-bottom: 0
}

.navPages .navPage-subMenu-action:not(.navPages-action-depth-max)+.navPage-childList {
    display: none;
}



// =============================================================================
// PayPal Pay In 3
// =============================================================================


.pp-pay-in-3 {
	text-align: center;
	background-color: #01318e;
}

.pp-pay-in-3 img {
	width: 50%;
	margin: auto;
}

.pp-pay-in-3 p {
	margin-bottom: 0;
	color: #fff;
	font-weight: 700;
}

.productView .pp-pay-in-3 {
	padding: 1.5rem;
	display: flex;
	border-radius: .5rem;
}

.productView .pp-pay-in-3 img {
	max-width: 120px;
}

.productView .pp-pay-in-3 p {
	margin-top: 0;
	padding-left: 1.5rem;
	text-align: left;
}

.footer-globalregion .pp-pay-in-3 {
	padding: 3rem;
}

.footer-globalregion .pp-pay-in-3 img {
	max-width: 200px;
}

.footer-globalregion .pp-pay-in-3 p {
	margin-top: 1.5rem;
	text-align: center;
    @include breakpoint("medium") {
		font-size: 1.25rem;
		font-weight: 400;
	}
}

body.page-hire-solutions .pp-pay-in-3,
body.page-blast-media .pp-pay-in-3,
body.page-spray-booths .pp-pay-in-3 {
	display: none;
}



// =============================================================================
// Footer
// =============================================================================

.footer-payment-icons svg {
	color: #fff;
	fill: #fff;
}

.footer-info-col[data-section-type="footer-webPages"] .link-clearance {
    display: none;
}

.footer-info-col[data-section-type="footer-categories"] .link-clearance a {
    font-weight: 700;
}


// =============================================================================
// Home
// =============================================================================

/*
.page-default .tabs .tab {
	order: 2;
}

.page-default .tabs .tab-new {
	order: 1;
}
*/


// =============================================================================
// Category
// =============================================================================


.subcategories-grid-image .subcategories-container {
	border: 1px solid #eee;
	border-bottom: 0;
}

.subcategories-above .subcategories-grid-item {
	@include breakpoint("small") {
		width: 33.333333%;
	}
	@include breakpoint("medium") {
		width: 25%;
	}
	@include breakpoint("large") {
		width: 16.6666667%;
	}
}

.subcategories-grid-image .subcategories-name {
	background-color: #68737a;
	color: #fff;
	border-radius: 0;
	min-height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-price,
.listItem-price {
	display: flex;
	flex-direction: column;
}

.card-price .price-section--withoutTax,
.listItem-price .price-section--withoutTax {
	order: 1;
	color: stencilColor('color-primaryLight') !important;
}

.card-price .price-section--withTax,
.listItem-price .price-section--withTax {
	order: 2;
	color: stencilColor('color-textBase') !important;
}



// =============================================================================
// Product
// =============================================================================

.productView-description .tabs-contents table {
	width: 100% !important;
}

.page-product  .share-container {
    display: none;
}

.productView-description {
    margin-top: 0;
}

.productView-details .price-section.price-section--withoutTax,
.productView-details .price-section.price-section--withoutTax.non-sale-price--withoutTax,
.productView-details .price-section.price-section--withoutTax.rrp-price--withoutTax {
	order: 1;
	color: stencilColor('color-primaryLight') !important;
}

.productView-details .price-section.price-section--withTax,
.productView-details .price-section.price-section--withTax.non-sale-price--withTax,
.productView-details .price-section.price-section--withTax.rrp-price--withTax {
	order: 2;
	color: stencilColor('color-textBase') !important;
}

.productView-details .price-section.price-section--saving {
	order: 3;
}


.page-product .card-price .price-section--withoutTax {
	order: 1;
	padding-right: 0;
	font-weight: 400;
	flex: 1 1 auto;
}

.page-product .card-price .price-section--withTax {
	order: 2;
	padding-right: 0;
	font-weight: 700;
	flex: 1 1 auto;
}


// =============================================================================
// Pages
// =============================================================================

.page-page .page-sidebar {
	float: none;
	width: 100%;
}

.page-page .page-sidebar .sidebarCategories .sidebarBlock-heading {
    display: none;
}


.page-page .page-sidebar .sidebarCategories .navList {
    display: block;
    width: 100%;
    padding: .25rem;
    font-size: 0;
    text-align: center;
}

.page-page .page-sidebar .sidebarCategories .navList li {
    font-size: 1.125rem;
    display: inline-block;
    padding: .25rem;
}

.page-page .page-sidebar .sidebarCategories .navList li a {
    display: inline-block;
    border-radius: .25rem;
    padding: .5rem .75rem;
    border: 1px solid #00599b;
    border-radius: .25rem;
    @include breakpoint("large") {
		padding: 1rem 1.5rem;
	}
}

.page-page .page-sidebar .sidebarCategories .navList li a:hover {
    background: #00599b;
    color: #fff;
}

.page-page .page-sidebar-vertical .sidebarCategories {
    display: block;
}

.page-page .page-sidebar+.page-content,
.page-page_contact_form .page-sidebar+.page-content {
    width: 100% !important;
    float: none;
}




// =============================================================================
// Widget
// =============================================================================

.custom-widget-carousel-no .custom-widget-4,
.custom-widget-carousel-no .custom-widget-5,
.custom-widget-carousel-no .custom-widget-6 {
    flex-direction: row;
    flex-wrap: wrap;
}

.custom-widget-carousel-no .custom-widget-4 .custom-widget-item {
    min-width: 50%;
    max-width: 50%;
    @include breakpoint("medium") {
		min-width: 33.333333%;
        max-width: 33.333333%;
	}
	@include breakpoint("large") {
		min-width: 25%;
        max-width: 25%;
	}
}

.custom-widget-carousel-no .custom-widget-5 .custom-widget-item {
    min-width: 50%;
    max-width: 50%;
    @include breakpoint("medium") {
		min-width: 33.333333%;
        max-width: 33.333333%;
	}
	@include breakpoint("large") {
		min-width: 20%;
        max-width: 20%;
	}
}

.custom-widget-carousel-no .custom-widget-6 .custom-widget-item {
    min-width: 50%;
    max-width: 50%;
    @include breakpoint("small") {
		min-width: 33.333333%;
        max-width: 33.333333%;
	}
	@include breakpoint("medium") {
		min-width: 20%;
        max-width: 20%;
	}
	@include breakpoint("large") {
		min-width: 16.6666667%;
        max-width: 16.6666667%;
	}
}