// =============================================================================
// Custom > Client
// =============================================================================
//


// Legacy formatting
// =============================================================================

.span_max, .span_60, .span_50, .span_48, .span_45, .span_40, .span_36, .span_30, .span_24, .span_20, .span_15, .span_12, .span_10 {
	float: left;
	width: 100%;
}

.span_30 .span_10 {
	width: 33.33333333%;
}

.span_30 {
	@include breakpoint("medium") {
		width: 50%;
	}
}

.span_15 {
	@include breakpoint("medium") {
		width: 25%;
	}
}

.span_10 {
	@include breakpoint("medium") {
		width: 16.6666667%;
	}
}

.clear {
	clear: both;
	height: 0 !important;
	line-height: 0 !important;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.pad {
	padding: 0 8px;
}


.infopage-banner {
	position: relative;
}

.infopage-text {
	position: absolute;
	left: 8px;
	bottom: 0;
	background: rgba(255,255,255, 0.5);
	padding: 8px 12px;
}

.infopage-banner img {
	width: 100%;
}

.page-default .body {
    margin-bottom: 0;
}

// Header
// =============================================================================

.header {
	background: stencilColor("body-bg");
	@include breakpoint("medium") {
		background: stencilColor("header-backgroundColor");
		background: -moz-linear-gradient(top, stencilColor("header-backgroundColor") 0%, stencilColor("body-bg") 100%);
		background: -webkit-linear-gradient(top, stencilColor("header-backgroundColor") 0%, stencilColor("body-bg") 100%);
		background: linear-gradient(to bottom, stencilColor("header-backgroundColor") 0%, stencilColor("body-bg") 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("header-backgroundColor")', endColorstr='stencilColor("body-bg")',GradientType=0 );
	}
}

@media only screen and (max-width: 800px) {

	.header-bar {
		background: linear-gradient(to right,  #ffffff 0%,#e4e4e6 50%,#ffffff 100%);
	}
	
}


// Page Heading
// =============================================================================

.page-header {
	background: stencilColor("custom-page-header-background");
	background: -moz-linear-gradient(top, stencilColor("custom-page-header-background") 0%, stencilColor("body-bg") 100%);
	background: -webkit-linear-gradient(top, stencilColor("custom-page-header-background") 0%, stencilColor("body-bg") 100%); 
	background: linear-gradient(to bottom, stencilColor("custom-page-header-background") 0%, stencilColor("body-bg") 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("custom-page-header-background")', endColorstr='stencilColor("body-bg")',GradientType=0 );
}


// Nav Pages
// =============================================================================

.navPages {
	background: stencilColor("navPages-subMenu-backgroundColor");
	background: -moz-linear-gradient(top, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
	background: -webkit-linear-gradient(top, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
	background: linear-gradient(to bottom, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("navPages-subMenu-backgroundColor")', endColorstr='stencilColor("body-bg")',GradientType=0 );
	@include breakpoint("medium") {
		background: none;
	}
}

.navPages-container {
	@include breakpoint("medium") {
		background: none;
	}
}

.navPage-subMenu {
	@include breakpoint("medium") {
		background: stencilColor("navPages-subMenu-backgroundColor");
		background: -moz-linear-gradient(top, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
		background: -webkit-linear-gradient(top, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
		background: linear-gradient(to bottom, stencilColor("navPages-subMenu-backgroundColor") 0%, stencilColor("body-bg") 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("navPages-subMenu-backgroundColor")', endColorstr='stencilColor("body-bg")',GradientType=0 );
		border-bottom: 2px solid stencilColor("custom-page-header-background");
	}
}

.navPage-subMenu-image li {
    border: 1px solid #cda955;
    background: #fff;
}

.navPages-list:not(.navPages-list-depth-max) .navPage-subMenu-action {
    @include breakpoint("medium") {
		text-align: center;
	}
}

.navPages-list:not(.navPages-list-depth-max) > .navPages-item .navPages-action:not(.navPage-subMenu-action) {
    @include breakpoint("medium") {
		padding-left: .5rem;
		padding-right: .5rem;
	}
    @include breakpoint("xlarge") {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}


// Product
// =============================================================================


.ay-question .button {
	width: 100%;
}

.productView-brand {
	display: none;
}

h4.productView-title {
	color: #cda955;
}

.productView-under-add {
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
}

.productView-under-add .form-wishlist {
	padding-right: 4px;
}

.ay-question {
	display: inline-block;
	vertical-align: top;
}

.ay-question .button {
	padding: 10px 1.5rem;
}




// Card
// =============================================================================


.card-message-inner {
	text-align: center;
	background: #666;
	color: #fff;
	padding: .5rem;
}


// JotForm
// =============================================================================

#ay-question .formFooter-heightMask,
#ay-question .formFooter {
	display: none !important;
}

.ay-question .form-action {
	width: 100%;
}

.ay-question-link.button {
	width: 100% !important;
	margin: 0;
}

#ay-question .form-input {
    height: auto;
}



// Footer 
// =============================================================================


.footer {
	background: stencilColor("footer-backgroundColor");
	background: -moz-linear-gradient(top, stencilColor("footer-backgroundColor") 0%, stencilColor("body-bg") 100%);
	background: -webkit-linear-gradient(top, stencilColor("footer-backgroundColor") 0%, stencilColor("body-bg") 100%);
	background: linear-gradient(to bottom, stencilColor("footer-backgroundColor") 0%, stencilColor("body-bg") 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("footer-backgroundColor")', endColorstr='stencilColor("body-bg")',GradientType=0 );
}


.footer-newsletter {
	background: stencilColor("custom-footer-newsletter-background");
	background: -moz-linear-gradient(top, stencilColor("custom-footer-newsletter-background") 0%, stencilColor("body-bg") 100%);
	background: -webkit-linear-gradient(top, stencilColor("custom-footer-newsletter-background") 0%, stencilColor("body-bg") 100%);
	background: linear-gradient(to bottom, stencilColor("custom-footer-newsletter-background") 0%, stencilColor("body-bg") 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='stencilColor("custom-footer-newsletter-background")', endColorstr='stencilColor("body-bg")',GradientType=0 );
}


// Widget
// -----------------------------------------------------------------------------

.main-promo .custom-widget-item {
	padding: 0;
}

.main-promo .custom-widget-link {
	border: 0;
}

.main-promo .custom-widget-content {
	justify-content: flex-end;
	align-items: flex-end;
	left: 0;
	right: 0;
	padding-left: 10%;
	padding-right: 10%;
}

.main-promo .custom-widget-button {
	margin-top: 0;
	padding: .5rem .75rem;
	border-radius: 0;
	border: 1px solid #fff;
}

.mid-promo .custom-widget-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.mid-promo .custom-widget-list .custom-widget-item {
	width: 33.333333%;
	min-width: 33.333333%;
	@include breakpoint("medium") {
		width: 16.666667%;
		min-width: 16.666667%;
	}
}

.bottom-promo .custom-widget-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.bottom-promo .custom-widget-list .custom-widget-item {
	width: 50%;
	min-width: 50%;
	@include breakpoint("medium") {
		width: 25%;
		min-width: 25%;
	}
}

.bottom-promo .custom-widget-list .custom-widget-item:last-child {
	width: 100%;
	min-width: 100%;
	@include breakpoint("medium") {
		width: 50%;
		min-width: 50%;
	}
}

.bottom-promo .custom-widget-link {
	border: 5px solid #fff;
}




// Gallery Page
// =============================================================================

ul.gallery-items {
	display: flex;
	flex-direction: column;
	margin: 0 -2px;
	padding: 0;
	list-style: none;
	@include breakpoint("small") {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

ul.gallery-items li {
	display: flex;
	margin: 2px;
	padding: 1rem;
	list-style: none;
	flex: 1 0 100%;
	border: 1px solid #ccc;
	@include breakpoint("small") {
		flex: 1 1 50%;
	}
	@include breakpoint("medium") {
		flex: 1 1 25%;
	}
	@include breakpoint("large") {
		flex: 1 1 20%;
	}
}



// -----------------------------------------------------------------------------
//
// AY PROMOBOX
//
// -----------------------------------------------------------------------------


.ay-promobox {
	padding-top: 3rem;
	background-color: stencilColor("color-secondary");
}

.ay-promobox .container {
	padding: 0;
}

.ay-promobox ul,
.ay-promobox li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.ay-promobox .ay-promobox-14 li {
	width: 50%;
}

.ay-promobox li {
	font-size: 1rem;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 0 1.5rem 3rem 1.5rem;
}

.ay-promobox-item {
	background-color: stencilColor("color-white");
	position: relative;
	border: none;
	text-align: center;
}

.ay-promobox-item a,
.ay-promobox-item img {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	min-height: 3.5rem;
	text-align: center;
}

.ay-promobox-item img {
	display: inline-block;
}

.ay-promobox-item a:hover,
.ay-promobox-item img:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}

.ay-promobox-item span {
	display: block;
	min-height: 3.5rem;
	line-height: 1rem;
	padding: 0.75rem;
	position: absolute;
	left: 0;
	right: 2.5rem;
	bottom: 0;
	background: rgba(255,255,255,.9);
	text-transform: uppercase;
	font-weight: bold;
}

.ay-promobox {
	background: #e4e4e6;
	padding-top: 2%;
}

.ay-promobox .ay-promobox-6 li {
	width: 100%;
}

.ay-promobox .ay-promobox-3 li.ay-promobox-item-1,
.ay-promobox .ay-promobox-3 li.ay-promobox-item-2 {
	width: 50%;
}

.ay-promobox .ay-promobox-3 li.ay-promobox-item-3 {
	width: 100%;
}

.ay-promobox ul {
	padding: 1rem;
}

.ay-promobox li {
	vertical-align: top;
	padding: 0 5px 10px 5px;
}

.ay-promobox-item {
	padding: 5px;
	background: #fff;
}

.ay-promobox-item span {
	background: #cda955;
	color: #fff;
	font-size: 15px;
	right: 5px;
	bottom: 5px;
	min-height: auto;
	padding: 10px 16px 8px 16px;
	line-height: 20px;
	text-transform: uppercase !important;
	display: inline-block;
	left: auto;
}

.special-title {
    color: #cda955;
}


div[data-sub-layout-container="5e7f3256-830e-47d3-ac8f-4c815db0bee2"], 
div[data-sub-layout-container="4958883d-5514-41eb-be8a-95ade0fe8321"] {
    max-width: calc(1440px + 12rem);
    margin-left: auto;
    margin-right: auto;
    @include breakpoint("small") {
		padding: 0 .75rem;
	}
    @include breakpoint("medium") {
		padding: 0 2.25rem;
	}
	@include breakpoint("large") {
		padding: 0 5.25rem;
	}
}

    
// Styling when over 550px 
// -----------------------------------------------------------------------------

@media (min-width: 551px) {

	.ay-promobox .ay-promobox-14 li {
		width: 33.33333%;
	}
	
	.ay-promobox-item span {
		line-height: 2rem;
	}
	
}



// Styling when over 800px 
// -----------------------------------------------------------------------------

@media only screen and (min-width: 801px) {

	.ay-promobox .ay-promobox-14 li {
		width: 25%;
	}
	
}


// Styling when over 1023px 
// -----------------------------------------------------------------------------

@media only screen and (min-width: 1024px) {
		
	.ay-promobox .ay-promobox-6 li {
		width: 33.3333%;
	}
	
	.ay-promobox .ay-promobox-8 li {
		width: 25%;
	}
	
	.ay-promobox .ay-promobox-14 li {
		width: 20%;
	}

}


// Styling when over 1260px 
// -----------------------------------------------------------------------------

@media only screen and (min-width: 1261px) {

	.ay-promobox .container {
		padding: 0 4.5rem;
	}
	
	.ay-promobox .ay-promobox-14 li {
		width: 14.28571%;
	}
	
}
.ay-promobox h1,
.ay-promobox h2 {
    text-align: center;
}

.ay-promobox.ay-as-seen-in {
    background: #fff !important;
}

.ay-promobox.ay-as-seen-in .ay-promobox-6 li {
    width: 33.33333%;
    padding: 10px;
    @include breakpoint("medium") {
		width: 16.6666667%;
	}
}

.ay-promobox.ay-as-seen-in .ay-promobox-6 li img {
    height: auto;
    width: auto;
    max-height: 40px;
    min-height: 40px;
}

.ay-promobox.ay-three-boxes .ay-promobox-3 li img {
    width: 100%;
    height: auto;
}

.ay-promobox.ay-three-boxes .ay-promobox-3 li.ay-promobox-item-1, .ay-promobox .ay-promobox-3 li.ay-promobox-item-2 {
    @include breakpoint("medium") {
		width: 25%;
	}
}

.ay-promobox.ay-three-boxes .ay-promobox-3 li.ay-promobox-item-3 {
    @include breakpoint("medium") {
		width: 50%;
	}
}


// WIDGET (content for 3 heart boxes)
// =============================================================================

div[data-sub-layout-container="d29ca040-0a8e-4d8c-b2e5-fa191f8794b2"] {
	margin-left: auto;
	margin-right: auto;
	padding-left: $container-padding;
	padding-right: $container-padding;
	width: layout("fixed");
	max-width: layout("max") + ($container-padding * 4);
	@include breakpoint("large") {
		padding-left: ($container-padding * 4);
		padding-right: ($container-padding * 4);
	}
}


// WIDGET (for customer quotes)
// =============================================================================


.custom-widget-quotes .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include breakpoint("medium") {
	    padding-top: 3rem;
        padding-bottom: 3rem;
	}
}

.custom-widget-quotes .custom-widget-item {
    display: flex;
    justify-content: center;
    align-items: center
}

.custom-widget-quotes .custom-widget-link {
    display: flex;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    flex-direction: column;
}

.custom-widget-quotes .custom-widget-image,.custom-widget-quotes .custom-widget-placeholder {
    height: auto;
}

.custom-widget-quotes .custom-widget-placeholder {
    display: none;
}

.custom-widget-quotes .custom-widget-content {
    position: static;
    transform: none;
    height: calc(100% - 1.5rem);
    margin: .75rem;
    padding: .75rem;
    background: #fff;
}

.custom-widget-quotes .custom-widget-heading {
    font-weight: 700;
}

.custom-widget-quotes .custom-widget-subtext {
    color: #666666 !important;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
}

.custom-widget-quotes .custom-widget-button {
    margin-top: 0;
    padding: 0;
    background-color: none !important;
    border-radius: 0;
    font-weight: 400;
}



// WIDGET (for gallery)
// =============================================================================

.custom-widget-gallery .custom-widget-list {
	position: relative;
}

.custom-widget-gallery .custom-widget-list .custom-widget-item {
	order: 2;
	display: flex;
	border: 1px solid #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 2px #e4e4e6; 
	box-shadow: inset 0px 0px 0px 2px #e4e4e6;
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand {
	order: 1;
	min-width: 100% !important;
	background: #e4e4e6;
}

.custom-widget-gallery .custom-widget-list .custom-widget-link {
	padding: .5rem;
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-link {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: static;
	text-decoration: none;
    @include breakpoint("large") {
	    flex-direction: row;
	}
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-image {
	border: 2px solid #fff;
    @include breakpoint("large") {
	    width: 50%;
	}
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-link:hover .custom-widget-image {
    opacity: 1;
}

.custom-widget-gallery .custom-widget-list .custom-widget-heading,
.custom-widget-gallery .custom-widget-list .custom-widget-subtext,
.custom-widget-gallery .custom-widget-list .custom-widget-button {
    display: none;
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-heading,
.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-subtext, 
.custom-widget-gallery .custom-widget-list .custom-widget-link:hover .custom-widget-button {
    display: flex;
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-button,
.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-link:hover .custom-widget-button {
    display: none;
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: static;
	transform: none;
    @include breakpoint("large") {
	    width: 50%;
	}
}

.custom-widget-gallery .custom-widget-list .custom-widget-expand .custom-widget-heading {
	margin-top: 1.5rem;
}
