// =============================================================================
// Custom > Client
// =============================================================================

header.header {
	/*
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	@include breakpoint("medium") {
		-webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.2);
	}
	*/
}

.header-logo--left {
	@include breakpoint("medium") {
		padding-right: 0;
	}
}

.header-logo-image {
	max-height: 45px;
	@include breakpoint("medium") {
		max-width: 200px;
		max-height: 60px;
	}
}

.header-logo-image-container {
	@include breakpoint("medium") {
		min-height: 60px;
	}
}

.dropdown--quickSearch.is-open {
	@include breakpoint("large") {
	    height: calc(100vh - 74px);
	    top: 74px !important;
	}
}

body.with-bar .dropdown--quickSearch.is-open {
    top: 102px !important;
    height: calc(100vh - 102px);
}

.navUser ul li.navUser-item--iconsearch {
	@include breakpoint("medium") {
		padding-left: 2rem;
	}
}



// =============================================================================
// Header Bar
// =============================================================================
/*
.header-bar {
	background: stencilColor('custom-header-menu-background');
	background: -moz-linear-gradient(left,  stencilColor('custom-header-bar-background') 0%, #ffffff 50%, stencilColor('custom-header-bar-background') 100%); 
	background: -webkit-linear-gradient(left,  stencilColor('custom-header-bar-background') 0%,#ffffff 50%,stencilColor('custom-header-bar-background') 100%);
	background: linear-gradient(to right,  stencilColor('custom-header-bar-background') 0%,#ffffff 50%,stencilColor('custom-header-bar-background') 100%); 
}
*/


// =============================================================================
// Search dropdown
// =============================================================================


.dropdown--quickSearch .form-field-submit .button {
	line-height: 24px;
	padding: .75rem 1.5rem;
}

.dropdown--quickSearch .form-field-input .form-input {
	line-height: 24px;
}



// =============================================================================
// Nav User
// =============================================================================


.navUser-item--iconsearch .navUser-action {
    @include breakpoint("medium") {
        border-left: 1px solid #ccc;
        padding-left: 1.5rem;
		padding-right: 1.5rem;
		min-width: 140px;
		max-width: 140px;
    }
}

.navUser-item--iconsearch .navUser-text {
	@include breakpoint("medium") {
		min-width: 60px;
		width: 60px;
	}
}

.navUser ul li.navUser-item--custom-desktop {
	display: none;
	@include breakpoint("medium") {
		display: inline-block;
		min-height: 49px;
		padding-top: 2px;
		padding-right: 1rem;
	}
}

.navUser-item--custom-mobile {
	display: inline-block;
	@include breakpoint("medium") {
		display: none;
	}
}

.navUser-item--custom span {
    font-size: 12px;
    line-height: 1;
	@include breakpoint("medium") {
		font-size: 14px;
	}
}

.navUser-item--custom strong {
    font-size: 16px;
    line-height: 1;
	color: #f89a1c;
	@include breakpoint("medium") {
		font-size: 24px;
	}
}

.navUser-item--custom .dropdown-menu-item {
	padding: .75rem 1.5rem;
	text-align: center;
}

.navUser ul li.navUser-item--custom-strap {
	display: none;
	@include breakpoint("large") {
		display: inline-block;
		padding: 1rem 2rem 1rem 0;
		border-right: 1px solid #ccc;
		font-weight: 700;
		margin-right: 1.75rem;
		color: #666;
		line-height: 21px;
	}
	@include breakpoint("xlarge") {
		font-size: 20px;
		font-weight: 400;
	}
}

.navUser-section.navUser-section--alt.navUser-section-left {
	@include breakpoint("medium") {
		min-width: 360px;
	}
	@include breakpoint("large") {
		min-width: 680px;
	}
}


// =============================================================================
// Main Menu
// =============================================================================

.navPages-list > .navPages-item > .navPages-action {
	text-transform: uppercase;
	@include breakpoint("medium") {
		-moz-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		-webkit-transition: all .3s ease-in;
		border-bottom: 5px solid stencilColor('custom-header-menu-background');
		padding-bottom: calc(1.14286rem - 5px);
	}
}

.navPages-list > .navPages-item > .navPages-action.is-open,
.navPages-list > .navPages-item > .navPages-action:hover,
.navPages-list > .navPages-item > .navPages-action.is-open:hover {
	@include breakpoint("medium") {
		border-bottom: 5px solid stencilColor('button--primary-backgroundColor');
		color: stencilColor('custom-header-menu-link-hover') !important;
	}
}


body.scroll .navPages > ul > li > .navPages-action.is-open,
body.scroll .navPages > ul > li > .navPages-action:hover,
body.scroll .navPages > ul > li > .navPages-action.is-open:hover {
	@include breakpoint("medium") {
		padding-bottom: calc(0.375rem - 5px);
		max-height: 35px;
	}
}

.navPage-subMenu {
    @include breakpoint("medium") {
        border-top: 5px solid stencilColor('button--primary-backgroundColor');
		-webkit-box-shadow: 0px 13px 15px -7px rgba(0,0,0,0.15);
		box-shadow: 0px 13px 15px -7px rgba(0,0,0,0.15);
    }
}

.navPage-subMenu-item {
    @include breakpoint("large") {
        width: 25%;
    }
}

.navPage-subMenu-item.navPage-subMenu-mobile {
    @include breakpoint("medium") {
        display: none;
    }
}

.navPage-subMenu-image img {
	border: 5px solid stencilColor('navPages-color');
}


.navPages-list-simple .navPages-item-category {
    @include breakpoint("medium") {
		position: relative;
	}
}

.navPages-click .navPages-list-simple .navPages-item-category .navPage-subMenu.is-open,
.navPages-hover .navPages-list-simple .navPages-item-category:hover div.navPage-subMenu {
    @include breakpoint("medium") {
		min-width: 250px;
		left: 0;
		right: auto;
	}
}

.navPages-list-simple .navPages-item-category .navPage-subMenu-item {
    @include breakpoint("medium") {
		width: 100%;
	}
}


// =============================================================================
// Hero Carousel
// =============================================================================

.heroCarousel--split .heroCarousel-content {
	padding-bottom: 6rem !important;
	@include breakpoint("small") {
		padding-bottom: 5rem !important;
	}
	@include breakpoint("medium") {
		padding-bottom: 6rem !important;
	}
	@include breakpoint("large") {
		padding-bottom: 7rem !important;
	}
}


.heroCarousel--split .slick-dots {
	bottom: 1.5rem;
	@include breakpoint("small") {
		width: auto;
		display: inline-block !important;
		left: 50%;
		margin-left: .75rem;
	}
	@include breakpoint("medium") {
		margin-left: 1.75rem;
	}
}

.heroCarousel--split .slick-dots li {
	height: 4rem;
	width: 4rem;
	padding: 0;
	margin: 0 .25rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 100%;
	@include breakpoint("small") {
		height: 3rem;
		width: 3rem;
	}
	@include breakpoint("medium") {
		height: 4rem;
		width: 4rem;
	}
	@include breakpoint("large") {
		height: 5rem;
		width: 5rem;
	}
}

.heroCarousel--split .slick-dots li:hover {
	opacity: 0.8;
}

.heroCarousel--split .slick-dots li button {
	color: stencilColor('carousel-description-color');
	height: 100%;
	width: 100%;
	border: 2px solid #1f8cc5;
}

.heroCarousel--split .slick-dots li.slick-active button {
	color: stencilColor('custom-homepage-carousel-button-background');
	border: 2px solid stencilColor('custom-homepage-carousel-button-background');
}

.heroCarousel--split .slick-dots li button::before,
.heroCarousel--split .slick-dots .carousel-tooltip {
	display: none;
}

.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 2"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 2, active"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 3"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 3, active"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 4"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 4, active"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 5"]::before,
.heroCarousel--split .slick-dots li button[aria-label="Go to slide 1 of 5, active"]::before {
	
}


.heroCarousel--split .slick-dots li:first-child {
	background-image: url('https://cdn10.bigcommerce.com/s-4mg16ped09/images/stencil/original/image-manager/carousel-icon-1.png');
}

.heroCarousel--split .slick-dots li:nth-child(2) {
	background-image: url('https://cdn10.bigcommerce.com/s-4mg16ped09/images/stencil/original/image-manager/carousel-icon-2.png');
}

.heroCarousel--split .slick-dots li:nth-child(3) {
	background-image: url('https://cdn10.bigcommerce.com/s-4mg16ped09/images/stencil/original/image-manager/carousel-icon-3.png');
}

.heroCarousel--split .slick-dots li:nth-child(4) {
	background-image: url('https://cdn10.bigcommerce.com/s-4mg16ped09/images/stencil/original/image-manager/carousel-icon-4.png');
}

.heroCarousel--split .slick-dots li:nth-child(5) {
	background-image: url('https://cdn10.bigcommerce.com/s-4mg16ped09/images/stencil/original/image-manager/carousel-icon-5.png');
}


.heroCarousel--split .heroCarousel-action:hover {
	padding-left: 1rem;
	padding-right: 1rem;
	@include breakpoint("small") {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	@include breakpoint("medium") {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	@include breakpoint("large") {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}


// =============================================================================
// Footer
// =============================================================================





// =============================================================================
// Custom Blocks Sleek
// =============================================================================

.custom-widget-blocks.custom-widget-sleek .custom-widget-list {
	flex-direction: row;
	flex-wrap: wrap;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-item {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1px;
	padding-right: 1px;
}

@media screen and (max-width: 800px) {
	.custom-widget-blocks.custom-widget-sleek .custom-widget-item {
		min-width: 50%;
	}
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-content {
	flex-direction: row;
	top: auto !important;
	bottom: 1.5rem !important;
	justify-content: flex-start;
	left: 1px;
	right: 1px;
	transform: none;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-heading {
	flex: 1 0 auto;
	padding: .75rem;
	text-align: left;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-subtext {
	display: none;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-button {
	margin-top: 0;
	border-radius: 0;
	flex: 0 1 auto;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-link {
	padding-bottom: 1.5rem;
	background-image:url("../img/custom/boxshadow.png");
	    background-repeat: no-repeat;
	    background-size: 100% 1.5rem;
		background-position: bottom;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-link .custom-widget-button,
.custom-widget-blocks.custom-widget-sleek .custom-widget-link:hover .custom-widget-button {
	transition: all .5s ease;
}

.custom-widget-blocks.custom-widget-sleek .custom-widget-link:hover .custom-widget-button {
	padding: 0.75rem 0.75rem 0.75rem 2.25rem;
}

// =============================================================================
// Custom Header Bar
// =============================================================================

.custom-bar {
	display: flex;
	flex-direction: column;
	background: #1f8cc5;
	max-width: 100%;
	//background: -moz-linear-gradient(top,  #ffffff 0%, stencilColor('custom-header-bar-background') 100%); /* FF3.6-15 */
	//background: -webkit-linear-gradient(top,  #ffffff 0%,stencilColor('custom-header-bar-background') 100%); /* Chrome10-25,Safari5.1-6 */
	//background: linear-gradient(to bottom,  #ffffff 0%,stencilColor('custom-header-bar-background') 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    @include breakpoint("medium") {
		flex-direction: row;
		justify-content: center;
    }
}

/*
.page-default .custom-bar {
	background: rgba(31,140,197, 0.75);
}
*/

@media screen and (max-width: 800px) {
	.header-globalregion .custom-bar {
		display: none;
	}
}

@media screen and (min-width: 801px) {
	.footer-globalregion .custom-bar {
		display: none;
	}
}

.custom-bar-item {
	display: flex;
	align-items: center;
	padding: 5px 0;
	flex: 1 1 0;
	max-width: 480px;
	justify-content: center;
}

.custom-bar-icon {
	flex: 0 1 auto;
}

.custom-bar-icon-wrap {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid #fff;
	display: inline-block;
	padding: 5px;
}

.custom-bar-icon .icon {
	width: 26px;
	height: 26px;
	color: stencilColor('custom-header-menu-link-hover');
}

.custom-bar-icon .icon svg {
	fill: stencilColor('custom-header-menu-link-hover');
}

.custom-bar-item-3 .custom-bar-icon-wrap {
	padding: 5px;
}

.custom-bar-item-3 .custom-bar-icon .icon {
	width: 26px;
	height: 26px;
}

.custom-bar-text {
	flex: 1 1 auto;
	padding-right: 20px;
	padding-left: 10px;
	font-weight: 700;
	color: #fff;
	line-height: 1.1;
}

.footer-globalregion .custom-bar {
	padding: 0;
	background: #072A3A;
}

.footer-globalregion .custom-bar-item {
	border-bottom: 1px solid #1f8cc5;
	padding: 1rem 1.5rem;
	max-width: 100%;
}

.footer-globalregion .custom-bar-icon-wrap {
	border: 2px solid #fff;
}

/*
.page-default .header-globalregion {
	position: relative;
	z-index: 2;
}

.page-default div[data-content-region="header_bottom--global"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.page-default .container-hero {
	z-index: 1;
}
*/
// =============================================================================
// Footer
// =============================================================================

.footer-blog-summary {
	color: stencilColor('custom-footer-blog-heading');
}

.footer-blog-img {
	border: 2px solid stencilColor('custom-footer-blog-text');
}

.footer-info-heading {
	font-size: 20px;
}


// =============================================================================
// Product page
// =============================================================================

.productView-details .productView-title {
	@include breakpoint("large") {
		font-size: 30px;
	}
}

.productView-images .productView-warranty {
	display: none;
}

.productView-info-name.upc-label,
.productView-info-value.upc-value,
.productView-info-name.customfield-label,
.productView-info-value.customfield-value {
	display: none !important;
}


.page-product .form-increment .form-input--incrementTotal {
	padding: 12px 0;
}


// =============================================================================
// Page Header
// =============================================================================

.page-header:not(.page-header-image) {
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	margin-bottom: 3rem;
}

.page-header.page-header-image {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	background-color: #eff3f4;
	@include breakpoint("medium") {
		background-image: url('../img/custom/cat-corner.png');
		background-position: 39% top;
		background-repeat: no-repeat;
		background-size: 600px, 600px;
	}
	@include breakpoint("large") {
		background-position: 45% top;
	}
	@include breakpoint("xlarge") {
		background-position: 50% top;
	}
}

.page-header.page-header-image:before {
	@include breakpoint("medium") {
	    content: '';
	    position: absolute;
	    //border-left: 50% solid #1f8cc5;
		//border-right: 5% solid #7ac3de;
	    top: 0;
	    left: 49%;
	    height: 100%;
	    z-index: 3;
		width: 50%;
		background-color: #1f8cc5;
		//transform: rotate(19deg) translateY(-50%);
		//-webkit-box-shadow: -100% 0px 0px 0px #072A3A;
		-webkit-clip-path: polygon(15% 0, 17% 0, 2% 100%, 0% 100%);
		clip-path: polygon(15% 0, 17% 0, 2% 100%, 0% 100%);
	}
}

.page-header.page-header-image:after {
	@include breakpoint("medium") {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 50%;
	    height: 100%;
	    z-index: 3;
		width: 50%;
		background-color: #7ac3de;
		//transform: rotate(19deg) translateY(-50%);
		//-webkit-box-shadow: -100% 0px 0px 0px #072A3A;
		opacity: 0.8;
		-webkit-clip-path: polygon(15% 0, 17% 0, 2% 100%, 0% 100%);
		clip-path: polygon(15% 0, 17% 0, 2% 100%, 0% 100%);
	}
}

.page-header.page-header-image img {
	transform: none;
	position: static;
	@include breakpoint("medium") {
		float: right;
		width: 50%;
		height: auto;
		-webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}

.page-header.page-header-image .page-heading {
	text-transform: uppercase;
	border-top: 10px solid #1f8cc5;
	-webkit-box-shadow: 0px -10px 0px 0px #7ac3de; 
	box-shadow: 0px -10px 0px 0px #7ac3de;
	margin-left: 0;
	margin-right: 0;
	padding-top: 80px;
	padding-bottom: .75rem;
	background: url('../img/custom/cat-icon.png') center 10px no-repeat;
	background-size: 60px, 60px;	
	@include breakpoint("medium") {
		padding-left: 3rem;
		border-top: 20px solid #072A3A;
		margin-right: calc(42.5% + 10px);
		text-align: left;
		background: url('../img/custom/cat-icon.png') 3rem 10px no-repeat;
		background-size: 60px, 60px;
	}
	@include breakpoint("large") {
		padding-left: 6rem;
		font-size: 30px;
		padding-top: 130px;
		background: url('../img/custom/cat-icon.png') 6rem 40px no-repeat;
		background-size: 80px, 80px;
	}
	@include breakpoint("xlarge") {
		font-size: 40px;
		padding-top: 170px;
		background: url('../img/custom/cat-icon.png') 6rem 80px no-repeat;
		background-size: 80px, 80px;
	}
}

.page-header.page-header-image nav {
	@include breakpoint("medium") {
		margin: 0 50% 0 0;
	}
}

.page-header.page-header-image .page-heading + nav .breadcrumbs {
	background: none;
	@include breakpoint("medium") {
		text-align: left;
		margin: 0;
		padding-left: 3rem;
	}
	@include breakpoint("large") {
		text-align: left;
		margin: 0;
		padding-left: 6rem;
	}
}

.widget-home-banner .custom-widget-container {
    padding: 0 !important;
    max-width: none !important;
}

@media (max-width: 1260px) {
	.widget-home-banner .custom-widget-heading {
		font-size: 40px !important;
		margin-bottom: 20px !important;
	}
	.widget-home-banner .custom-widget-subheading {
		font-size: 20px !important;
	}
	.widget-home-banner .custom-widget-content {
	    padding: 1.5rem 3rem !important;
	}
}

@media (max-width: 800px) {
	.widget-home-banner .custom-widget-heading {
		font-size: 30px !important;
		margin-bottom: 15px !important;
	}
	.widget-home-banner .custom-widget-subheading {
		font-size: 18px !important;
	}
	.widget-home-banner .custom-widget-content {
	    padding: 1.5rem 3rem !important;
	}
}

@media (max-width: 550px) {
	.widget-home-banner .custom-widget-heading {
		font-size: 30px !important;
		margin-bottom: 15px !important;
	}
	.widget-home-banner .custom-widget-subheading {
		font-size: 16px !important;
	}
	.widget-home-banner .custom-widget-content {
	    padding: 1.5rem !important;
	}
}

@media (min-width: 1261px) {
	.widget-home-banner .custom-widget-heading {
		margin-bottom: 25px !important;
	}
	.widget-home-banner .custom-widget-content {
	    padding: 1.5rem 6rem !important;
	}
}
