// =============================================================================
// Custom > Client
// =============================================================================
//

// Header

.why-buy-bar {
	background-color: #f4f4f4;
}

.why-buy-bar .container {
	padding: 0;
}

.why-buy-wrapper {
	
}

.why-buy-blocks {
	display: flex;
	flex: 1 0 0;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100vw;
}

.why-buy-block {
	flex: 1 1 0;
	text-align: center;
	padding: .75rem;
	white-space: nowrap;
}



// navUser

.navUser-text {
	display: none;
}

.header-logo {
	@include breakpoint("medium") {
        max-width: calc(50% + 30px);
		justify-content: flex-end;
	}
}

.header-logo__link {
	@include breakpoint("medium") {
		justify-content: flex-end;
	}
}

.header-logo--left .header-logo-image-container {
	@include breakpoint("medium") {
        justify-content: flex-end;
		max-width: 60px;
	}
	@include breakpoint("large") {
        justify-content: flex-end;
		max-width: 80px;
	}
}

.navUser-section--norm.navUser-section-left {
	@include breakpoint("medium") {
        min-width: 120px;
		flex: 0 1 0;
		margin-left: auto;
	}
}

.navUser-section--alt.navUser-section-left {
	@include breakpoint("medium") {
        min-width: 200px;
		flex: 0 1 0;
	}
}

.navUser-item--iconsearch .navUser-action {
	@include breakpoint("medium") {
        background-color: #f4f4f4;
		border-radius: 50px;
		padding-top: .25rem;
		padding-bottom: .25rem;
	}
}

.navUser-item--iconsearch .navUser-action .navUser-icon-search {
	@include breakpoint("large") {
        margin-top: .25rem;
	}
}

.navUser-item--iconsearch .navUser-action .navUser-icon-search,
.navUser-item--iconsearch .navUser-action .navUser-icon-search .icon {
	@include breakpoint("medium") {
        width: 1.5rem;
		height: 1.5rem;
	}
	@include breakpoint("large") {
		width: 1.5rem;
        height: 1.5rem;
	}
}

.navUser-item--iconsearch .navUser-text {
	@include breakpoint("medium") {
        min-width: 0;
		font-weight: 400;
	}
}

.navUser-item--currency .navUser-icon-outline {
	border: 1px solid stencilColor("navUser-color");
	padding-top: 5px;
	@include breakpoint("large") {
        padding-top: 8px;
	}
}



// navPages

.navPages {
	@include breakpoint("medium") {
		-webkit-box-shadow: inset 0px 1px 0px 0px #ddd; 
		box-shadow: inset 0px 1px 0px 0px #ddd;
	}
}

.navPages-list:not(.navPages-list-depth-max) .navPages-action-moreIcon {
	@include breakpoint("medium") {
        display: none;
	}
}

.header-logo {
	@include breakpoint("medium") {
        max-width: calc(50% + 30px);
	}
}


// Footer

.footer {
	background-image: url("https://cdn11.bigcommerce.com/s-8hl787wvsy/product_images/uploaded_images/fotter-bg.png");
	background-position: center bottom;
	background-repeat: no-repeat;
}

.footer-bar {
	padding-top: 1rem;
	border-top: 0;
}

section.footer-info {
	display: flex;
	flex-wrap: wrap;
}

.footer-info-col {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.footer-info article[data-section-type="storeInfo"] {
	order: 1;
	flex-direction: row;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	@include breakpoint("medium") {
        width: 40%;
	}
}

.footer-info article[data-section-type="footer-categories"] {
	order: 2;
	@include breakpoint("medium") {
        width: 15%;
	}
}

.footer-info article[data-section-type="footer-webPages"] {
	order: 3;
	@include breakpoint("medium") {
        width: 15%;
	}
}

.footer-info-left {
	width: 180px;
	text-align: left;
}

.footer-info-right {
	text-align: left;
}

.footer-info-heading {
	display: none;
}

.footer-info address {
	margin-top: .75rem;
}

.footer-info-logo {
	margin-bottom: 1.5rem;
}

.footer .socialLinks .socialLinks-item {
	margin-right: .5rem;
}

.footer .socialLinks--alt .icon {
	width: 1rem;
	height: 1rem;
}


// Homepage 

.page-default .container-hero {
	max-width: none;
}

div[data-content-region="home_below_carousel"] + .container {
	padding: 0 !important;
	max-width: 100% !important;
}

div[data-content-region="home_below_top_banner"] > div div[data-layout-name="Layout"],
div[data-content-region="home_below_featured_products"] > div div[data-layout-name="Layout"],
div[data-content-region="home_below_top_products"] > div div[data-layout-name="Layout"],
div[data-content-region="home_below_new_products"] > div div[data-layout-name="Layout"] {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem;
	@include breakpoint("medium") {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	@include breakpoint("large") {
		padding-left: 6rem !important;
		padding-right: 6rem !important;
	}
}

.page-default .productCarousel {
	margin-left: auto;
	margin-right: auto;
	min-width: calc(100% - 3rem);
	max-width: calc(100% - 3rem);
	@include breakpoint("medium") {
		min-width: calc(100% - 6rem);
		max-width: calc(100% - 6rem);
	}
	@include breakpoint("large") {
		min-width: calc(100% - 12rem);
		max-width: calc(100% - 12rem);
	}
}

.page-default .container-hero .slick-track,
.page-default .container-hero .slick-track .slick-slide {
	width: 100% !important;
}

.heroCarousel--left .heroCarousel-slide {
	background: #000;
	height: 480px;
}

.heroCarousel--left .heroCarousel-slide .heroCarousel-image-wrapper {
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.heroCarousel--left .heroCarousel-slide .heroCarousel-image {
	opacity: 0.6;
	height: 100%;
	width: 100%;
	object-fit: cover;
	@include breakpoint("medium") {
        opacity: 1;
	}
}

.heroCarousel--left .heroCarousel-content {
	background: none;
	padding: 2rem !important;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	text-align: center;
	@include breakpoint("medium") {
        background: rgba(0,0,0, 0.4);
		left: 10%;
		right: 10%;
		width: 80%;
	}
	@include breakpoint("large") {
		left: 50%;
		transform: translate(-50%, -50%);
		right: auto;
		width: 50%;
		max-width: 756px;
		margin-left: -22.5vw;
	}
}

.heroCarousel--left .heroCarousel-title {
	width: 100%;
	background: none;
	text-align: center;
	font-size: 2rem;
	@include breakpoint("large") {
        text-align: left;
		font-size: 2.5rem;
	}
}

.heroCarousel--left .heroCarousel-description {
	font-weight: 400;
	line-height: 1.5;
	font-size: 1rem;
	width: 100%;
	background: none;
	@include breakpoint("medium") {
        font-size: 1.25rem;
	}
	@include breakpoint("large") {
        text-align: left;
	}
}

.heroCarousel--left .heroCarousel-inner {
	align-items: center;
	@include breakpoint("large") {
        align-items: flex-start;
	}
}

.heroCarousel-button {
	@include breakpoint("medium") {
        padding-left: 2rem;
		padding-right: 2rem;
		margin-bottom: 1.5rem;
	}
}

.heroCarousel--left .heroCarousel-action,
.heroCarousel--right .heroCarousel-action,
.heroCarousel--center .heroCarousel-action,
.heroCarousel--split .heroCarousel-action {
	padding: .75rem 1.5rem;
	border-radius: .75rem;
	font-size: 1rem;
	@include breakpoint("medium") {
        font-size: 1.25rem;
	}
}


.home-awards {
	display: flex;
	align-items: center;
	padding-right: 1.5rem;
}

.home-awards div {
	padding: .5rem;
}

.home-awards div:first-child {
	padding-left: 0;
}

.home-awards div:last-child {
	padding-right: 0;
}


.community-social {
	background-color: #f4f4f4;
	padding: .75rem;
	display: flex;
	margin: .75rem 0;
}

.community-instagram,
.community-facebook {
	border-radius: .25rem;
	flex: 1 1 0;
	background-color: #f4f4f4;
	padding: .5rem;
	border-radius: .25rem;
	display: flex;
}

.community-instagram {
	margin-right: .375rem;
	background: #D04B7E;
	background: linear-gradient(90deg,rgba(247, 135, 85, 1) 0%, rgba(208, 75, 126, 1) 50%, rgba(129, 74, 199, 1) 100%);
}

.community-facebook {
	margin-left: .375rem;
	background: #0164E2;
	background: linear-gradient(90deg,rgba(16, 172, 254, 1) 0%, rgba(1, 100, 226, 1) 50%);
}

.community-instagram a,
.community-facebook a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding-top: .125rem;
	padding-left: 32px;
	padding-bottom: .125rem;
	background-position: left 8px center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	transition: opacity 0.4s;
	opacity: 1;
}

.community-instagram a {
	background-image: url("../img/client/community-instagram.png");
}

.community-facebook a {
	background-image: url("../img/client/community-facebook.png");
}

.community-instagram a:hover,
.community-facebook a:hover {
	opacity: 0.8;
}



.custom-blocks-style-2  {
	padding-top: 1rem;
}

.custom-blocks-style-1 .slick-track,
.custom-blocks-style-2 .slick-track  {
	width: 100% !important;
}

.custom-blocks-style-1 .custom-widget-item,
.custom-blocks-style-2 .custom-widget-item {
	width: 25% !important;
}

.custom-blocks-style-1 .custom-widget-content {
		top: .75rem;
		left: .75rem;
		right: .75rem;
		bottom: .75rem;
		background: rgba(0,0,0, 0.4);
		transform: none;
		border-radius: .5rem;
		align-items: flex-start;
		justify-content: space-between;
		transition: transform .5s;
}

.custom-blocks-style-1 .custom-widget-link {
	transition: opacity 0.4s;
	opacity: 1;
	border-radius: .5rem;
	overflow: hidden;
}

.custom-blocks-style-2 .custom-widget-link {
	transition: opacity 0.4s;
	opacity: 1;
	padding: 0;
	box-shadow: none;
}

.custom-blocks-style-1 .custom-widget-link:hover,
.custom-blocks-style-2 .custom-widget-link:hover {
	opacity: 0.75;
}

.custom-blocks-style-2.custom-widget-text-underneath .custom-widget-link {
	padding: 0;
	box-shadow: none;
}

.custom-blocks-style-1 .custom-widget-link img,
.custom-blocks-style-2 .custom-widget-link img {
	border-radius: .5rem;
}

.custom-blocks-style-1 .custom-widget-none .custom-widget-heading, 
.custom-blocks-style-1 .custom-widget-none .custom-widget-subtext {
	padding: 1rem 0 0 1rem;
	text-align: left;
}

.custom-blocks-style-1 .custom-widget-button {
	background: none !important;
}

.custom-blocks-style-2 .custom-widget-button {
	padding-left: 0;
	font-size: 1.25rem !important;
}






.custom-widget-blocks.custom-widget-brand-logo .custom-widget-link {
	padding-bottom: 40%;
	border: 0;
}



// Category header

.category-header {
	background: #000;
}

.category-header img {
	opacity: 0.5;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.category-header nav {
	display: none;
}

.category-header .page-heading {
	color: #fff;
	background: none;
	padding-bottom: 0;
}



// Category description

.category-description {
	display: none;
}

.page-header .category-description {
	display: block;
	position: relative;
	z-index: 2;
	text-align: center;
	color: #fff;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	@include breakpoint("medium") {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	@include breakpoint("large") {
		padding-left: 25%;
		padding-right: 25%;
	}
}

.page-header .category-description a {
	text-decoration: none;
	color: #1dba63;
	font-weight: 700;
}

.page-header .category-description a:hover {
	text-decoration: underline;
	color: #1dba63;
}



// Category subcats

.subcategories-above {
	display: none;
}

.page-header .subcategories-above {
	display: block;
	position: relative;
	z-index: 2;
	padding-left: 1.5rem;
	padding-right: 0;
	@include breakpoint("medium") {
		padding-left: 3rem;
	}
	@include breakpoint("large") {
		padding-right: 3rem;
	}
}

.page-header .subcategories-grid {
	justify-content: flex-start;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	flex-wrap: nowrap;
	gap: 10px;
	@include breakpoint("large") {
		justify-content: center;
		flex-wrap: wrap;
		overflow-x: none;
	}
}

.page-header .subcategories-grid .subcategories-grid-item {
	flex-shrink: 0;
	scroll-snap-align: start;
}

.page-header .subcategories-grid li:last-child {
	margin-right: 1.5rem;
	@include breakpoint("medium") {
		margin-right: 3rem;
	}
	@include breakpoint("large") {
		margin-right: 0;
	}
}

.page-header .subcategories-grid .subcategories-grid-item a {
	border: 0;
	background: #f4f4f4;
	color: #000;
	border-radius: .5rem;
	padding-top: .25rem;
	padding-bottom: .25rem;
}



// blog

.footer-blog {
	border-top: 1px solid #ddd;
}

.container-blog-heading {
	padding-top: 1rem;
}

.container-blog-heading h3 {
	color: #000;
	font-size: 20px;
	padding-bottom: 1rem;
	border-bottom: 1px solid #FF7000;
}

.footer-blog-list {
	padding-top: 0;
}

.footer-blog-list li {
	position: relative;
}

.footer-blog-content {
	position: absolute;
	top: 50%;
	left: 1.5rem;
	bottom: 1.5rem;
	right: 1.5rem;
}

.footer-blog-img {
	background: #000;
	border-radius: .75rem;
	overflow: hidden;
}

.footer-blog-img img {
	opacity: 0.6;
}

.footer-blog-button {
	background: none;
	border: 1px solid stencilColor("custom-footer-blog-button-background");
	border-radius: .5rem;
	padding: .5rem 1rem;
}

.footer-blog-button:hover {
	background: rgba(255,255,255, 0.25);
}


// newsletter

.footer-newsletter {
	padding-top: 1.5rem;
}

.footer-newsletter .container {
	background-image: url("../img/client/newsletter-bg.png");
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 180px;
	@include breakpoint("medium") {
		justify-content: flex-start;
		background-position: right 3rem bottom;
		background-size: auto 100%;
		padding-top: 45px;
		padding-bottom: 45px;
	}
	@include breakpoint("large") {
		background-position: right 6rem bottom;
	}
}

.footer-newsletter .footer-newsletter-col {
	background-color: #f4f4f4;
	@include breakpoint("medium") {
		max-width: 50%;
		background: none;
	}
}

.footer-newsletter article:only-child {
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	border-radius: .75rem;
	@include breakpoint("medium") {
		padding: 0;
	}
}

.footer-newsletter .newsletter-heading,
.footer-newsletter .newsletter-subtext {
	text-align: left;
}

.footer-newsletter .form-prefixPostfix {
	flex-direction: row;
	flex-wrap: nowrap;
}

.footer-newsletter .form-prefixPostfix .form-input {
	flex: 1 1 0;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.footer-newsletter .form-prefixPostfix .button {
	display: flex;
	flex: 1 1 0;
	margin: 0;
	font-weight: 700;
	width: 100%;
	max-width: 130px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
	box-shadow: -2px 0px 1px 0px rgba(0,0,0,0.15);
}


// cards

.card-message {
	color: #999;
	font-weight: 400;
}





