// =============================================================================
// Custom > Client
// =============================================================================
//


// Header 
// =============================================================================

@media (max-width: 800px) {
    #privy-widget {
        display: none !important;
    }
}

.header-bar-text {
	
}


// navUser 
// =============================================================================

.navUser .navUser-item--social {
	display: none;
	@include breakpoint("large") {
		display: inline-block;
		margin-top: .875rem;
	}
}



// Pages
// =============================================================================

.page-page .page-sidebar-parent {
	display: none;
}

.page-page .page-sidebar-parent + .page-content {
	@include breakpoint("medium") {
		width: 100%;
	}
}


// Category
// =============================================================================

/*
@media (max-width: 800px) {
    .cat-side-promo {
        display: none;
    }
}
*/
.category-description .page-heading,
.category-description .category-banner {
    display: none;
}

.productGrid {
	grid-template-columns: repeat(2, 1fr);
}

/*
div[data-content-region="category_aside--global"],
div[data-content-region="category_aside"] {
    display: none;
    @include breakpoint("medium") {
		display: block;
	}
}
*/
/*
.category-header {
	display: none;
}

.category-description {
	position: relative;
	text-align: center;
	margin-top: 1.5rem;
	padding: 1.5rem;
}

.category-description .category-banner {
    position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 1;
}

.category-description .page-heading {
    background: rgba(0,0,0,.6);
    color: #fff;
	position: relative;
	z-index: 2;
	padding: 1.5rem;
	width: 90%;
	margin-top: 1.5rem;
	margin-bottom: 0;
	margin-left: 5%;
	margin-right: 5%;
	@include breakpoint("medium") {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	@include breakpoint("large") {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

.category-description .category-summary {
    background: rgba(255,255,255,.85);
	color: #000;
	position: relative;
	z-index: 3;
	padding: 1.5rem;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1.5rem;
	@include breakpoint("medium") {
		width: 70%;	
		margin-left: 15%;
		margin-right: 15%;
	}
	@include breakpoint("large") {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
	
}

*/

// Main Menu
// =============================================================================

.navPages-item-brands .navPage-childList {
	display: none !important;
}



// Banners
// =============================================================================

.banners .banner {
	border: 1px solid #0A3404;
	padding: 1.5rem;
}

.banners a {
	color: #0A3404;
}



// Product page
// =============================================================================

.productView-info-name.customfield-label,
.productView-info-value.customfield-value,
.productView-info-name.upc-label,
.productView-info-value.upc-value {
    display: none !important;
}

.productView-options div[data-product-attribute="swatch"] .form-option-swatch {
	border-radius: 40px;
}



// Footer
// =============================================================================

.footer {
	background: #ede4d5;
	background: -moz-linear-gradient(top,  #ede4d5 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ede4d5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ede4d5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede4d5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
}

.footer-newsletter {
	border-bottom: 2px solid #fff;
}

.footer-newsletter article:first-child {
	@include breakpoint("medium") {
		border-right: 1px solid #fff;
	}
}

.footer-newsletter article:last-child {
	@include breakpoint("medium") {
		border-left: 1px solid #fff;
	}
}

.footer-blog-img {
	border: 4px solid #ede4d5;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.page-iframe #privy-widget {
	display: none !important;
}

