{{#if bulk_discount_rates.length}}
<div class="bulkpricing-container">
	<ul>
	{{#each bulk_discount_rates}}
		<li>
			<div class="bulkpricing-heading">
				{{lang 'products.bulk_pricing.range' min=min max=max}}
			</div>
			<div class="bulkpricing-saving">
		    {{#if type '===' 'percent'}}
				{{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
		    {{else if type '===' 'fixed'}}
				{{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
		    {{else if type '===' 'price'}}
				{{lang 'products.bulk_pricing.price' discount=discount.formatted}}
		    {{/if}}
			</div>
		</li>
	{{/each}}
	</ul>
</div>
{{/if}}