{{#if bulk_discount_rates.length}}
<div class="bulkpricing-container">
	<ul>
	{{#each bulk_discount_rates}}
		<li>
			<div class="bulkpricing-heading">
				{{lang 'products.bulk_pricing.range' min=min max=max}}
			</div>
			<div class="bulkpricing-saving">
		    {{#if type '===' 'percent'}}
				{{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
		    {{else if type '===' 'fixed'}}
                {{#if discount_inc_tax}}
                    {{lang 'products.bulk_pricing.fixed_both.prefix'}}
                    <br>
                    {{discount_inc_tax.formatted}}
                    {{lang 'products.price_with_tax' tax_label=../product.price.tax_label}}
                    <br>
                    {{discount.formatted}}
                    {{lang 'products.price_without_tax' tax_label=../product.price.tax_label}}
                    {{lang 'products.bulk_pricing.fixed_both.suffix'}}
                {{else}}
                    {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                {{/if}}
		    {{else if type '===' 'price'}}
				{{lang 'products.bulk_pricing.price' discount=discount.formatted}}
		    {{/if}}
			</div>
		</li>
	{{/each}}
	</ul>
</div>
{{/if}}
