{{assignVar "spotlight" "inactive"}}
{{assignVar "warranty" "inactive"}}
{{#filter custom_fields 'hidden' property='name'}}
	{{#if value '==' 'spotlight'}}
		{{assignVar "spotlight" "active"}}
	{{/if}}
	{{#if value '==' 'warranty'}}
		{{assignVar "warranty" "active"}}
	{{/if}}
{{/filter}}
<article
    class="card
	{{#if brand.name}} card-brand-{{first (split brand.name ' ')}}{{/if}}
    {{#if alternate}} card--alternate{{/if}}"
    data-test="card-{{id}}"
    data-event-type="{{event}}"
    data-entity-id="{{id}}"
    data-position="{{position}}"
    data-name="{{name}}"
    data-product-category="
    {{#each category}}
        {{#if @last}}
            {{this}}
        {{else}}
            {{this}},
        {{/if}}
    {{/each}}"
    data-product-brand="{{brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
>
    <figure class="card-figure">
		<div class="card-figure-badges">
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
			{{#if pre_order}}
				{{#if release_date}}
		            {{> components/products/product-badge
		                badge-type='sold-out'
		                badge_view=theme_settings.product_sold_out_badges
		                badge_label=release_date
		            }}
				{{else}}
		            {{> components/products/product-badge
		                badge-type='sold-out'
		                badge_view=theme_settings.product_sold_out_badges
		                badge_label='Pre-Order'
		            }}
				{{/if}}
			{{else}}
	            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
	                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
	                    {{> components/products/product-badge
	                        badge-type='sale'
	                        badge_view=theme_settings.product_sale_badges
	                        badge_label=(lang "page_builder.pdp_sale_badge_label")
	                    }}
	                {{else}}
	                    {{> components/products/product-badge
	                        badge-type='sale'
	                        badge_view=theme_settings.product_sale_badges
	                        badge_label=theme_settings.pdp_sale_badge_label
	                    }}
	                {{/if}}
	            {{/or}}
			{{/if}}
        {{/if}}
		{{#if (getVar "spotlight") '===' 'active'}}
			{{#if theme_settings.product_sale_badges '===' 'sash'}}
			    <div class="sale-flag-sash spotlight-sash">
					<span class="sale-text">
						{{theme_settings.custom_card_spotlight_name}}
					</span>
			    </div>
			{{else if theme_settings.product_sold_out_badges '===' 'topleft'}}
			    <div class="sale-flag-side spotlight-topleft">
					<span class="sale-text">
						{{theme_settings.custom_card_spotlight_name}}
					</span>
			    </div>
			{{else if theme_settings.product_sold_out_badges '===' 'burst'}}
			    <div class="starwrap spotlight-burst">
			        <div class="sale-text-burst">
			        	{{theme_settings.custom_card_spotlight_name}}
			        </div>
			        <div class="sale-flag-star"></div>
			    </div>
			{{/if}}
		{{/if}}
		
		{{#filter custom_fields '_badge' property='name'}}
			{{#if ../theme_settings.product_sold_out_badges '===' 'sash'}}
			    <div class="sold-out-flag-sash custom-badge-sash custom-badge-{{dashcase (lowercase (sanitize value))}}">
					<span class="sold-out-text">
						{{value}}
					</span>
			    </div>
			{{else if ../theme_settings.product_sold_out_badges '===' 'topleft'}}
			    <div class="sold-out-flag-side custom-badge-topleft custom-badge-{{dashcase (lowercase (sanitize value))}}">
					<span class="sold-out-text">
						{{value}}
					</span>
			    </div>
			{{else if ../theme_settings.product_sold_out_badges '===' 'burst'}}
			    <div class="starwrap custom-badge-burst custom-badge-{{dashcase (lowercase (sanitize value))}}">
			        <div class="sold-out-text-burst">
			        	{{value}}
			        </div>
			        <div class="sold-out-flag-star"></div>
			    </div>
			{{/if}}
		{{/filter}}

		</div>
		{{#if show_cart_action}}
			{{#if has_options}}
				<a href="{{url}}" 
					class="card-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}}{{#if theme_settings.custom_card_show_swatches}} figure__swatches{{/if}} card-figure__normal"
					aria-label="{{> components/products/product-info}}" 
					data-event-type="product-click"
				>
			{{else}}
				<a href="{{url}}" 
					class="card-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}} card-figure__normal"
					aria-label="{{> components/products/product-info}}" 
					data-event-type="product-click"
				>
			{{/if}}
		{{else}}
			<a href="{{url}}" 
				class="card-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}} card-figure__normal"
				aria-label="{{> components/products/product-info}}" 
				data-event-type="product-click"
			>
		{{/if}}
            <div class="card-img-container card-img-normal">
				{{#if theme_settings.custom_card_show_alt_image}}
	                {{#each (limit images 2)}}
	                    {{#unless this.data '===' ../../image.data}}
	                        <span class="card-image card-image-{{@index}}">
	                            {{> components/common/responsive-img
	                                image=this
	                                class="card-image"
	                                fallback_size=theme_settings.productgallery_size
	                                lazyload=theme_settings.lazyload_mode
	                                default_image=theme_settings.default_image_product
	                            }}
	                        </span>
	                    {{/unless}}
	                {{/each}}
                        {{> components/common/responsive-img
                            image=default
                            class="card-image card-image-default"
                            fallback_size=theme_settings.productgallery_size
                            lazyload=theme_settings.lazyload_mode
                            default_image=theme_settings.default_image_product
                        }}
				{{else}}
					{{> components/common/responsive-img
	                    image=image
	                    class="card-image"
	                    fallback_size=theme_settings.productgallery_size
	                    lazyload=theme_settings.lazyload_mode
	                    default_image=theme_settings.default_image_product
	                }}
				{{/if}}
            </div>
			</a>
			{{#if (getVar "spotlight") '===' 'active'}}
				<ul class="spotlight-carousel">
		        {{#each images}}
		            {{#unless this.data '===' ../../image.data}}
		                <li class="spotlight-carousel-item">
							<span class="card-figure__link card-figure__slider">
							<div class="card-img-container card-img-slider">
							<a href="{{../url}}">
		                    {{> components/common/responsive-img
		                        image=this
		                        class="card-image card-image-slide"
		                        fallback_size=theme_settings.productgallery_size
		                        lazyload=theme_settings.lazyload_mode
		                        default_image=theme_settings.default_image_product
		                    }}
							</a>
							</div>
						</span>
		                </li>
		            {{/unless}}
		        {{/each}}
				</ul>
			{{/if}}

        <figcaption class="card-figcaption">
            <div class="card-figcaption-body">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <button type="button" class="button button--small card-figcaption-button quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</button>
                    {{/if}}
                {{/unless}}
                {{#if show_compare}}
                    <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                        {{lang 'products.compare'}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                {{/if}}
				{{#if theme_settings.custom_b2b}}
					{{#if (getVar "b2b-prices") '===' 'show'}}
                		{{#if show_cart_action}}
                    		{{#if has_options}}
                        		<a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}"><strong>{{lang 'products.choose_options'}}</strong></a>
                    		{{/if}}
                    		{{#if pre_order}}
                        		<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button"><strong>{{lang 'products.pre_order'}}</strong></a>
                   			{{/if}}
                    		{{#if add_to_cart_url }}
                        	<a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--small card-figcaption-button"><strong>{{lang 'products.add_to_cart'}}</strong></a>
                        	<span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                    		{{/if}}
                    		{{#if out_of_stock_message }}
                        		<a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}"><strong>{{out_of_stock_message}}</strong></a>
                    		{{/if}}
                		{{/if}}
					{{/if}}
				{{else}}
            		{{#if show_cart_action}}
                		{{#if has_options}}
                    		<a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}"><strong>{{lang 'products.choose_options'}}</strong></a>
                		{{/if}}
                		{{#if pre_order}}
                    		<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small card-figcaption-button"><strong>{{lang 'products.pre_order'}}</strong></a>
               			{{/if}}
                		{{#if add_to_cart_url }}
                    	<a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--small card-figcaption-button"><strong>{{lang 'products.add_to_cart'}}</strong></a>
                    	<span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                		{{/if}}
                		{{#if out_of_stock_message }}
                    		<a href="{{url}}" data-event-type="product-click" class="button button--small card-figcaption-button" data-product-id="{{id}}"><strong>{{out_of_stock_message}}</strong></a>
                		{{/if}}
            		{{/if}}
				{{/if}}
            </div>
        </figcaption>
		{{#if theme_settings.custom_card_show_wishlist}}
		{{#if customer.wishlists}}
		<span class="card-wishlist">
		    <a aria-controls="wishlist-dropdown-{{id}}"
		       aria-expanded="false"
		       class="dropdown-menu-button"
		       data-dropdown="wishlist-dropdown-{{id}}"
		       href="#"
		    >
				<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-heart{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		    </a>
			<ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown-{{id}}">
	            {{#each customer.wishlists}}
				<li>
					<form action="{{this.add_url}}&product_id={{../id}}" class="form" method="post">
				    	<input type="submit" class="button button--primary button--small" value="{{this.name}}">
				    </form>
				</li>
	            {{/each}}
	        	<li>
	            	<a data-wishlist class="button button--primary button--small" href="/wishlist.php?action=addwishlist&product_id={{id}}">{{lang 'account.wishlists.create_new'}}</a>
	        	</li>
			</ul>
		</span>
		{{else}}
		<span class="card-wishlist">
		    <a aria-controls="wishlist-dropdown-{{id}}"
		       aria-expanded="false"
		       class="dropdown-menu-button"
		       data-dropdown="wishlist-dropdown-{{id}}"
		       href="#"
		    >
				<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-heart{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		    </a>
			<ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown-{{id}}">
	        	<li>
	            	<a data-wishlist class="button button--primary button--small" href="/wishlist.php?action=addwishlist&product_id={{id}}">{{lang 'account.wishlists.create_new'}}</a>
	        	</li>
			</ul>
		</span>
		{{/if}}
		{{/if}}
    </figure>
    <div class="card-body">
        {{#and rating show_rating}}
            <p class="card-text card-rating" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating_target=name rating=rating}}
                </span>
            </p>
        {{/and}}
        {{#if brand.name}}
            <p class="card-text card-brand" data-test-info-type="brandName">{{brand.name}}</p>
        {{/if}}
        <h3 class="card-title">
            <a aria-label="{{> components/products/product-info}}"
               href="{{url}}"
               data-event-type="product-click"
            >
                {{name}}
            </a>
        </h3>
		{{#if (getVar "spotlight") '===' 'active'}}
        	{{#if summary}}
            <p class="card-summary">{{{summary}}}</p>
        	{{/if}}
		{{/if}}
        <div class="card-text card-price" data-test-info-type="price">
            {{#or customer (unless settings.hide_price_from_guests)}}
				{{#if theme_settings.custom_b2b}}
					{{#if (getVar "b2b-prices") '===' 'show'}}
                		{{> components/products/price price=price}}
					{{/if}}
				{{else}}
					{{> components/products/price price=price}}
				{{/if}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
		{{#if theme_settings.custom_b2b}}
			{{#if (getVar "b2b-prices") '===' 'show'}}
        		{{> components/products/bulk-discount-rates}}
			{{/if}}
		{{else}}
			{{> components/products/bulk-discount-rates}}
		{{/if}}
	    {{#if show_cart_action}}
			{{#if has_options}}
				{{#if theme_settings.custom_card_show_swatches}}
		        	<div class="card-swatches"></div>
				{{/if}}
			{{/if}}
		{{/if}}
		{{#if (getVar "warranty") '===' 'active'}}
			<div class="card-warranty" style="display: none;">
				<a class="button button--small button--secondary has-dropdown" href="" data-dropdown="warranty{{id}}" aria-expanded="false">
					{{theme_settings.custom_product_warranty_title}}
				</a>
				<div class="dropdown-menu" id="warranty{{id}}" data-dropdown-content="" aria-hidden="true">
					<div class="dropdown-wrap"></div>
				</div>
			</div>
		{{/if}}
		{{#if (getVar "spotlight") '===' 'active'}}
        	<div class="card-spotlight-actions">
				{{#if theme_settings.custom_b2b}}
					{{#if (getVar "b2b-prices") '===' 'show'}}
                    	{{#if show_cart_action}}
                        	{{#if has_options}}
                            	<a href="{{url}}" data-event-type="product-click" class="button button--large button--primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        	{{/if}}
                        	{{#if pre_order}}
                            	<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--large button--secondary">{{lang 'products.pre_order'}}</a>
                        	{{/if}}
                        	{{#if add_to_cart_url }}
                            	<a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--large button--primary">{{lang 'products.add_to_cart'}}</a>
                            	<span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                        	{{/if}}
                        	{{#if out_of_stock_message }}
                            	<a href="{{url}}" data-event-type="product-click" class="button button--large button--secondary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        	{{/if}}
                    	{{/if}}
					{{/if}}
				{{else}}
                	{{#if show_cart_action}}
                    	{{#if has_options}}
                        	<a href="{{url}}" data-event-type="product-click" class="button button--large button--primary" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    	{{/if}}
                    	{{#if pre_order}}
                        	<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--large button--secondary">{{lang 'products.pre_order'}}</a>
                    	{{/if}}
                    	{{#if add_to_cart_url }}
                        	<a href="{{add_to_cart_url}}" data-event-type="product-click" data-button-type="add-cart" class="button button--large button--primary">{{lang 'products.add_to_cart'}}</a>
                        	<span class="product-status-message aria-description--hidden">{{lang 'category.add_cart_announcement'}}</span>
                    	{{/if}}
                    	{{#if out_of_stock_message }}
                        	<a href="{{url}}" data-event-type="product-click" class="button button--large button--secondary" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    	{{/if}}
                	{{/if}}
				{{/if}}
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                    	<button class="button button--large button--secondary quickview" data-event-type="product-click" data-product-id="{{id}}">{{lang 'products.quick_view'}}</button>
                    {{/if}}
                {{/unless}}
			</div>
		{{/if}}
		{{#if theme_settings.custom_card_show_message}}
			<div class="card-message">
				{{theme_settings.custom_card_message_text}}
				{{> components/custom/client/client-card}}
			</div>
		{{/if}}
    </div>
</article>
