<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "infinite": false,
        "mobileFirst": true,
        "swipe": true,
		"draggable": true,
		"touchMove": true,
		"speed": 1000,
		{{#if theme_settings.custom_homepage_carousel_transition "==" "fade"}}"fade": true,{{/if}}
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "slide": "[data-product-slide]",
        "responsive": [
            {
                "breakpoint": 1400,
                "settings": {
                    "slidesToShow": {{ columns }},
                    "slidesToScroll": {{ columns }}
                }
            },
            {
                "breakpoint": 1261,
                "settings": {
                    "slidesToShow": 4,
                    "slidesToScroll": 4
                }
            },
            {
                "breakpoint": 801,
                "settings": {
                    "slidesToShow": 3,
                    "slidesToScroll": 3
                }
            },
            {
                "breakpoint": 551,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2
                }
            }
        ]
    }'
>
    {{#each products}}
    <div data-product-slide class="productCarousel-slide js-product-slide {{#filter custom_fields 'hidden' property='name' }}{{#if value '==' 'spotlight'}} spotlight{{else if value '==' 'payment'}} payment{{/if}}{{/filter}}{{#each custom_fields}}{{#if name '==' '_class'}} {{value}}{{/if}}{{/each}}">
        {{> components/products/card show_rating=../settings.show_product_rating settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}}
</section>
