{{assignVar "customfields" "inactive"}}
{{#each product.custom_fields}}
	{{#unless name '==' 'hidden'}}
		{{#startsWith '_' name}}
		{{else}}
           	{{assignVar "customfields" "active"}}
		{{/startsWith}}
	{{/unless}}
{{/each}}
{{assignVar "downloads" "inactive"}}
{{#filter product.custom_fields '_download' property='name'}}
	{{assignVar "downloads" "active"}}
{{/filter}}
{{#if product.description}}
	<h4 class="productView-title">
		{{#if theme_settings.custom_product_description_title.length}}{{theme_settings.custom_product_description_title}}{{else}}{{lang 'products.description'}}{{/if}}
	</h4>
    <div class="productView-description description-content" id="tab-description" data-event-type="product">
        {{{product.description}}}
		{{> components/custom/client/client-product-description}}
    </div>
	{{{region name="product_description"}}}
{{/if}}

{{#if (getVar "downloads") '===' 'active'}}
	<h4 class="productView-title">{{lang 'orders.details.download_items'}}</h4>
	<div class="productView-description downloads-content" id="tab-downloads">
		<ul class="productView-download">
		{{#each product.custom_fields}}
			{{#if name '==' '_download'}}
	   			<li class="productView-download-item">
					<a class="productView-download-link button button--primary" target="_blank" href="{{cdn (concat 'webdav:' value)}}">
					     <i aria-hidden="true" class="icon">
							 <svg>
								 <use xlink:href="#icon-arrow-down" />
							 </svg>
					    </i>
						<span>{{{uppercase (last (split value '.'))}}}&nbsp; : &nbsp;<strong>{{{first (split value '.')}}}</strong></span>
					</a>
				</li>
			{{/if}}
		{{/each}}
		</ul>
	</div>
{{/if}}

{{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
	{{#if (getVar "customfields") '===' 'active'}}
	{{#if theme_settings.pdp-custom-fields-tab-label.length}}
	<h4 class="productView-title">{{sanitize theme_settings.pdp-custom-fields-tab-label}}</h4>
	{{/if}}
    <div class="productView-description customfields-content" id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
        <dl class="productView-info">
			{{#each product.custom_fields}}
			{{#unless name '==' 'hidden'}}
				{{#startsWith '_' name}}
				{{else}}
           			<dt class="productView-info-name customfield-label customfield-{{dashcase name}}">{{name}}:</dt>
           			<dd class="productView-info-value customfield-value customfield-{{dashcase name}}">{{{value}}}</dd>
				{{/startsWith}}
			{{/unless}}
			{{/each}}
        </dl>
		{{> components/custom/client/client-product-fields}}
    </div>
	{{{region name="product_fields"}}}
	{{/if}}
{{/all}}

{{#if theme_settings.custom_product_warranty_location '==' 'normal'}}
{{#if product.warranty}}
	<h4 class="productView-title">
		{{#if theme_settings.custom_product_warranty_title.length}}{{theme_settings.custom_product_warranty_title}}{{else}}{{lang 'products.warranty'}}{{/if}}
	</h4>
    <div class="productView-description warranty-content" id="tab-warranty">
        {{{product.warranty}}}
		{{> components/custom/client/client-product-warranty}}
    </div>
	{{{region name="product_warranty"}}}
{{/if}}
{{/if}}

{{#if theme_settings.custom_product_tab1_show}}
	{{#if theme_settings.custom_product_tab1_title.length}}
	<h4 class="productView-title">{{theme_settings.custom_product_tab1_title}}</h4>
	{{/if}}
	<div class="tab-custom1"><a href="#tab-custom1" class="tab-title tab-title-alt">Show Content</a></div>
    <div class="productView-description tab1-content" id="tab-custom1">
        <span class="tab1-page">{{{theme_settings.custom_product_tab1_content}}}</span>
		{{> components/custom/client/client-product-tab1}}
    </div>
	{{{region name="product_tab1"}}}
{{/if}}

{{#if theme_settings.custom_product_tab2_show}}
	{{#if theme_settings.custom_product_tab2_title.length}}
	<h4 class="productView-title">{{theme_settings.custom_product_tab2_title}}</h4>
	{{/if}}
	<div class="tab-custom2"><a href="#tab-custom2" class="tab-title tab-title-alt">Show Content</a></div>
    <div class="productView-description tab2-content" id="tab-custom2">
        <span class="tab2-page">{{{theme_settings.custom_product_tab2_content}}}</span>
		{{> components/custom/client/client-product-tab2}}
    </div>
	{{{region name="product_tab2"}}}
{{/if}}

{{#if theme_settings.custom_product_tab3_show}}
	{{#if theme_settings.custom_product_tab3_title.length}}
	<h4 class="productView-title">{{theme_settings.custom_product_tab3_title}}</h4>
	{{/if}}
	<div class="tab-custom3"><a href="#tab-custom3" class="tab-title tab-title-alt">Show Content</a></div>
    <div class="productView-description tab3-content" id="tab-custom3">
        <span class="tab3-page">{{{theme_settings.custom_product_tab3_content}}}</span>
		{{> components/custom/client/client-product-tab3}}
    </div>
	{{{region name="product_tab3"}}}
{{/if}}

{{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
    <h4 class="productView-title">{{lang 'products.reviews.header' total=product.reviews.total}}</h4>
    <div class="productView-description review-content" id="tab-reviews">
        {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
    </div>
	{{{region name="product_reviews"}}}
{{/all}}

{{> components/custom/client/client-product-reviews}}