{{assignVar "customfields" "inactive"}}
{{#each product.custom_fields}}
	{{#unless name '==' 'hidden'}}
		{{#startsWith '_' name}}
		{{else}}
           	{{assignVar "customfields" "active"}}
        {{/startsWith}}
	{{/unless}}
{{/each}}
{{assignVar "downloads" "inactive"}}
{{#filter product.custom_fields '_download' property='name'}}
	{{assignVar "downloads" "active"}}
{{/filter}}
<ul class="tabs" data-tab>
    {{#if product.description}}
        <li class="tab tab-description is-active">
            <a class="tab-title" href="#tab-description">{{#if theme_settings.custom_product_description_title.length}}{{theme_settings.custom_product_description_title}}{{else}}{{lang 'products.description'}}{{/if}}</a>
        </li>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
		{{#if (getVar "customfields") '===' 'active'}}
        <li class="tab tab-customfields {{#unless product.description}}is-active{{/unless}}">
            <a class="tab-title"
               href="#tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}"
            >
                {{sanitize theme_settings.pdp-custom-fields-tab-label}}
            </a>
        </li>
		{{/if}}
    {{/all}}
	{{#if theme_settings.custom_product_warranty_location '==' 'normal'}}
    {{#if product.warranty}}
        <li class="tab tab-warranty">
            <a class="tab-title" href="#tab-warranty">{{#if theme_settings.custom_product_warranty_title.length}}{{theme_settings.custom_product_warranty_title}}{{else}}{{lang 'products.warranty'}}{{/if}}</a>
        </li>
    {{/if}}
	{{/if}}
    {{#if theme_settings.custom_product_tab1_show}}
		{{#filter product.custom_fields '_tab1' property='name'}}
        	<li class="tab tab-custom1">
            	<a class="tab-title" href="#tab-custom1">{{../theme_settings.custom_product_tab1_title}}</a>
        	</li>
		{{else}}
			{{#unless theme_settings.custom_product_tab1_content '==' 'hidden'}}
		        <li class="tab tab-custom1">
		            <a class="tab-title" href="#tab-custom1">{{theme_settings.custom_product_tab1_title}}</a>
		        </li>
			{{/unless}}
		{{/filter}}
    {{/if}}
    {{#if theme_settings.custom_product_tab2_show}}
		{{#filter product.custom_fields '_tab2' property='name'}}
        	<li class="tab tab-custom2">
            	<a class="tab-title" href="#tab-custom2">{{../theme_settings.custom_product_tab2_title}}</a>
        	</li>
		{{else}}
			{{#unless theme_settings.custom_product_tab2_content '==' 'hidden'}}
		        <li class="tab tab-custom2">
		            <a class="tab-title" href="#tab-custom2">{{theme_settings.custom_product_tab2_title}}</a>
		        </li>
			{{/unless}}
		{{/filter}}
    {{/if}}
    {{#if theme_settings.custom_product_tab3_show}}
		{{#filter product.custom_fields '_tab3' property='name'}}
        	<li class="tab tab-custom3">
            	<a class="tab-title" href="#tab-custom3">{{../theme_settings.custom_product_tab3_title}}</a>
        	</li>
		{{else}}
			{{#unless theme_settings.custom_product_tab3_content '==' 'hidden'}}
		        <li class="tab tab-custom3">
		            <a class="tab-title" href="#tab-custom3">{{theme_settings.custom_product_tab3_title}}</a>
		        </li>
			{{/unless}}
		{{/filter}}
    {{/if}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
        <li class="tab tab-reviews">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}}
</ul>
<div class="tabs-contents">
    {{#if product.description}}
        <div class="tab-content is-active" id="tab-description">
            {{{product.description}}}
			{{> components/custom/client/client-product-description}}
			{{{region name="product_description"}}}
        </div>
    {{/if}}
    {{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
	  {{#if (getVar "customfields") '===' 'active'}}
      <div class="tab-content {{#unless product.description}}is-active{{/unless}}" id="tab-{{dashcase (lowercase (sanitize theme_settings.pdp-custom-fields-tab-label))}}">
         <dl class="productView-info">
            {{> components/products/custom-fields }}
         </dl>
		 {{> components/custom/client/client-product-fields}}
		 {{{region name="product_fields"}}}
      </div>
	  {{/if}}
    {{/all}}
	{{#if theme_settings.custom_product_warranty_location '==' 'normal'}}
	    {{#if product.warranty}}
	        <div class="tab-content warranty-content" id="tab-warranty">
	            {{{product.warranty}}}
				{{> components/custom/client/client-product-warranty}}
				{{{region name="product_warranty"}}}
	        </div>
	    {{/if}}
	{{/if}}
	{{#if theme_settings.custom_product_tab1_show}}
		{{#filter product.custom_fields '_tab1' property='name'}}
			<div class="tab-content" id="tab-custom1">
				<span class="tab1-page">{{#startsWith '/' value}}{{value}}{{else}}/{{value}}{{/startsWith}}</span>
				{{> components/custom/client/client-product-tab1}}
				{{{region name="product_tab1"}}}
			</div>
		{{else}}
			{{#unless theme_settings.custom_product_tab1_content '==' 'hidden'}}
		        <div class="tab-content" id="tab-custom1">
					<span class="tab1-page">{{#if theme_settings.custom_product_tab1_content}}{{#startsWith '/' theme_settings.custom_product_tab1_content}}{{{theme_settings.custom_product_tab1_content}}}{{else}}/{{{theme_settings.custom_product_tab1_content}}}{{/startsWith}}{{/if}}</span>
					{{> components/custom/client/client-product-tab1}}
					{{{region name="product_tab1"}}}
				</div>
			{{/unless}}
		{{/filter}}
	{{/if}}
	{{#if theme_settings.custom_product_tab2_show}}
		{{#filter product.custom_fields '_tab2' property='name'}}
			<div class="tab-content" id="tab-custom2">
				<span class="tab2-page">{{#startsWith '/' value}}{{value}}{{else}}/{{value}}{{/startsWith}}</span>
				{{> components/custom/client/client-product-tab2}}
				{{{region name="product_tab2"}}}
			</div>
		{{else}}
			{{#unless theme_settings.custom_product_tab2_content '==' 'hidden'}}
		        <div class="tab-content" id="tab-custom2">
					<span class="tab2-page">{{#if theme_settings.custom_product_tab2_content}}{{#startsWith '/' theme_settings.custom_product_tab2_content}}{{{theme_settings.custom_product_tab2_content}}}{{else}}/{{{theme_settings.custom_product_tab2_content}}}{{/startsWith}}{{/if}}</span>
					{{> components/custom/client/client-product-tab2}}
					{{{region name="product_tab2"}}}
				</div>
			{{/unless}}
		{{/filter}}
	{{/if}}
	{{#if theme_settings.custom_product_tab3_show}}
		{{#filter product.custom_fields '_tab3' property='name'}}
			<div class="tab-content" id="tab-custom3">
				<span class="tab3-page">{{#startsWith '/' value}}{{value}}{{else}}/{{value}}{{/startsWith}}</span>
				{{> components/custom/client/client-product-tab3}}
				{{{region name="product_tab3"}}}
			</div>
		{{else}}
			{{#unless theme_settings.custom_product_tab3_content '==' 'hidden'}}
		        <div class="tab-content" id="tab-custom3">
					<span class="tab3-page">{{#if theme_settings.custom_product_tab3_content}}{{#startsWith '/' theme_settings.custom_product_tab3_content}}{{{theme_settings.custom_product_tab3_content}}}{{else}}/{{{theme_settings.custom_product_tab3_content}}}{{/startsWith}}{{/if}}</span>
					{{> components/custom/client/client-product-tab3}}
					{{{region name="product_tab3"}}}
				</div>
			{{/unless}}
		{{/filter}}
	{{/if}}
    {{#all settings.show_product_reviews theme_settings.show_product_reviews product.reviews.total}}
       <div class="tab-content" id="tab-reviews">
           {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
		   {{{region name="product_reviews"}}}
       </div>
    {{/all}}
	
	{{#if (getVar "downloads") '===' 'active'}}
	<ul class="productView-download">
	{{#each product.custom_fields}}
		{{#if name '==' '_download'}}
   			<li class="productView-download-item">
				<a class="productView-download-link button button--primary" target="_blank" href="{{cdn (concat 'webdav:' value)}}">
				     <i aria-hidden="true" class="icon">
						 <svg>
							 <use xlink:href="#icon-arrow-down" />
						 </svg>
				    </i>
					<span>{{{uppercase (last (split value '.'))}}}&nbsp; : &nbsp;<strong>{{{first (split value '.')}}}</strong></span>
				</a>
			</li>
		{{/if}}
	{{/each}}
	</ul>
	{{/if}}
	
	{{> components/custom/client/client-product-reviews}}
</div>
