{{#if product.description}}
    <h4 class="productView-title">{{lang 'products.description'}}</h4>
    <div class="productView-description description-content" {{#if settings.data_tag_enabled}} data-event-type="product" {{/if}}>
        {{{product.description}}}
    </div>
{{/if}}

{{#all product.custom_fields theme_settings.show_custom_fields_tabs}}
    <h4 class="productView-title">{{sanitize theme_settings.pdp-custom-fields-tab-label}}</h4>
    <div class="productView-description customfields-content">
        <dl class="productView-info">
			{{#each product.custom_fields}}
			{{#unless name '==' 'hidden'}}
           		<dt class="productView-info-name customfield-label">{{name}}:</dt>
           		<dd class="productView-info-value customfield-value">{{{value}}}</dd>
			{{/unless}}
			{{/each}}
        </dl>
    </div>
{{/all}}

{{#unless theme_settings.custom_product_warranty_gallery}}
{{#if product.warranty}}
    <h4 class="productView-title">{{theme_settings.custom_product_warranty_title}}</h4>
    <div class="productView-description warranty-content">
        {{{product.warranty}}}
    </div>
{{/if}}
{{/unless}}

{{#if theme_settings.custom_product_tab1_show}}
    <h4 class="productView-title">{{theme_settings.custom_product_tab1_title}}</h4>
    <div class="productView-description tab1-content">
        {{{theme_settings.custom_product_tab1_content}}}
		{{> components/custom/client/client-product-tab1}}
    </div>
{{/if}}

{{#if theme_settings.custom_product_tab2_show}}
    <h4 class="productView-title">{{theme_settings.custom_product_tab2_title}}</h4>
    <div class="productView-description tab2-content">
        {{{theme_settings.custom_product_tab2_content}}}
		{{> components/custom/client/client-product-tab2}}
    </div>
{{/if}}