<ul class="productGrid productGrid-{{theme_settings.custom_category_max_columns}}">
    {{#each products}}
	{{assignVar "productpayment" "inactive"}}
	{{#filter custom_fields 'hidden' property='name'}}
	{{#if value '==' 'payment'}}
		{{assignVar "productpayment" "active"}}
	{{/if}}
	{{/filter}}
	{{#if (getVar "productpayment") '===' 'inactive'}}
    <li class="product{{#filter custom_fields 'hidden' property='name' }}{{#if value '==' 'spotlight'}} spotlight{{else if value '==' 'payment'}} payment{{else if value '==' 'search'}}{{#unless ../../page_type '==' 'category'}} search{{/unless}}{{/if}}{{/filter}}{{#filter custom_fields '_class' property='name' }} {{value}}{{/filter}}" data-price-asc="{{#if price.price_range}}{{#if price.price_range.min.with_tax}}{{round price.price_range.min.with_tax.value}}{{else}}{{round price.price_range.min.without_tax.value}}{{/if}}{{else}}{{#if price.with_tax}}{{round price.with_tax.value}}{{else}}{{round price.without_tax.value}}{{/if}}{{/if}}" data-price-desc="{{#if price.price_range}}{{#if price.price_range.min.with_tax}}-{{round price.price_range.min.with_tax.value}}{{else}}-{{round price.price_range.min.without_tax.value}}{{/if}}{{else}}{{#if price.with_tax}}-{{round price.with_tax.value}}{{else}}-{{round price.without_tax.value}}{{/if}}{{/if}}">
            {{>components/products/card settings=../settings show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event position=(add @index 1)}}
    </li>
	{{/if}}
    {{/each}}
</ul>
