{{assignVar "spotlight" "inactive"}}
{{assignVar "warranty" "inactive"}}
{{#filter custom_fields 'hidden' property='name'}}
	{{#if value '==' 'spotlight'}}
		{{assignVar "spotlight" "active"}}
	{{/if}}
	{{#if value '==' 'warranty'}}
		{{assignVar "warranty" "active"}}
	{{/if}}
{{/filter}}

<article class="listItem{{#if brand.name}} card-brand-{{first (split brand.name ' ')}}{{/if}}" data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="
	{{#or customer (unless settings.hide_price_from_guests)}}
        {{#if price.with_tax}}
            {{price.with_tax.value}}
        {{else}}
            {{price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}
	">
    <figure class="listItem-figure">
		<div class="listItem-figure-badges">
        {{#if stock_level '===' 0}}
            {{#if theme_settings.pdp_sold_out_label '===' ''}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=(lang "page_builder.pdp_sold_out_label")
                }}
            {{else}}
                {{> components/products/product-badge
                    badge-type='sold-out'
                    badge_view=theme_settings.product_sold_out_badges
                    badge_label=theme_settings.pdp_sold_out_label
                }}
            {{/if}}
        {{else}}
			{{#if pre_order}}
				{{#if release_date}}
		            {{> components/products/product-badge
		                badge-type='sold-out'
		                badge_view=theme_settings.product_sold_out_badges
		                badge_label=release_date
		            }}
				{{else}}
		            {{> components/products/product-badge
		                badge-type='sold-out'
		                badge_view=theme_settings.product_sold_out_badges
		                badge_label='Pre-Order'
		            }}
				{{/if}}
			{{else}}
	            {{#or price.sale_price_with_tax.value price.sale_price_without_tax.value}}
	                {{#if theme_settings.pdp_sale_badge_label '===' ''}}
	                    {{> components/products/product-badge
	                        badge-type='sale'
	                        badge_view=theme_settings.product_sale_badges
	                        badge_label=(lang "page_builder.pdp_sale_badge_label")
	                    }}
	                {{else}}
	                    {{> components/products/product-badge
	                        badge-type='sale'
	                        badge_view=theme_settings.product_sale_badges
	                        badge_label=theme_settings.pdp_sale_badge_label
	                    }}
	                {{/if}}
	            {{/or}}
			{{/if}}
        {{/if}}
		{{#if (getVar "spotlight") '===' 'active'}}
			{{#if theme_settings.product_sale_badges '===' 'sash'}}
			    <div class="sale-flag-sash spotlight-sash">
					<span class="sale-text">
						{{theme_settings.custom_card_spotlight_name}}
					</span>
			    </div>
			{{else if theme_settings.product_sold_out_badges '===' 'topleft'}}
			    <div class="sale-flag-side spotlight-topleft">
					<span class="sale-text">
						{{theme_settings.custom_card_spotlight_name}}
					</span>
			    </div>
			{{else if theme_settings.product_sold_out_badges '===' 'burst'}}
			    <div class="starwrap spotlight-burst">
			        <div class="sale-text-burst">
			        	{{theme_settings.custom_card_spotlight_name}}
			        </div>
			        <div class="sale-flag-star"></div>
			    </div>
			{{/if}}
		{{/if}}
		
		{{#filter custom_fields '_badge' property='name'}}
			{{#if ../theme_settings.product_sold_out_badges '===' 'sash'}}
			    <div class="sold-out-flag-sash custom-badge-sash custom-badge-{{dashcase (lowercase (sanitize value))}}">
					<span class="sold-out-text">
						{{value}}
					</span>
			    </div>
			{{else if ../theme_settings.product_sold_out_badges '===' 'topleft'}}
			    <div class="sold-out-flag-side custom-badge-topleft custom-badge-{{dashcase (lowercase (sanitize value))}}">
					<span class="sold-out-text">
						{{value}}
					</span>
			    </div>
			{{else if ../theme_settings.product_sold_out_badges '===' 'burst'}}
			    <div class="starwrap custom-badge-burst custom-badge-{{dashcase (lowercase (sanitize value))}}">
			        <div class="sold-out-text-burst">
			        	{{value}}
			        </div>
			        <div class="sold-out-flag-star"></div>
			    </div>
			{{/if}}
		{{/filter}}
		</div>
		
		{{#if show_cart_action}}
			{{#if has_options}}
				<a href="{{url}}" 
					class="listItem-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}}{{#if theme_settings.custom_card_show_swatches}} figure__swatches{{/if}} listItem-figure__normal"
					aria-label="{{> components/products/product-info}}" 
					data-event-type="product-click"
				>
			{{else}}
				<a href="{{url}}" 
					class="listItem-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}} listItem-figure__normal"
					aria-label="{{> components/products/product-info}}" 
					data-event-type="product-click"
				>
			{{/if}}
		{{else}}
			<a href="{{url}}" 
				class="listItem-figure__link{{#if (getVar 'warranty') '===' 'active'}} figure__warranty{{/if}}  listItem-figure__normal"
				aria-label="{{> components/products/product-info}}" 
				data-event-type="product-click"
			>
		{{/if}}
        <div class="card-img-container card-img-normal">
			{{#if theme_settings.custom_card_show_alt_image}}
                {{#each (limit images 2)}}
                    {{#unless this.data '===' ../../image.data}}
                        <span class="card-image card-image-{{@index}}">
                            {{> components/common/responsive-img
								theme_settings=../theme_settings
                                image=this
                                class="card-image"
                                fallback_size=theme_settings.productgallery_size
                                lazyload=theme_settings.lazyload_mode
                                default_image=theme_settings.default_image_product
                            }}
                        </span>
                    {{/unless}}
                {{/each}}
                    {{> components/common/responsive-img
						theme_settings=theme_settings
                        image=default
                        class="card-image card-image-default"
                        fallback_size=theme_settings.productgallery_size
                        lazyload=theme_settings.lazyload_mode
                        default_image=theme_settings.default_image_product
                    }}
			{{else}}
				{{> components/common/responsive-img
					theme_settings=theme_settings
                    image=image
                    class="card-image"
                    fallback_size=theme_settings.productgallery_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                }}
			{{/if}}
        </div>
        </a>
		{{#if (getVar "spotlight") '===' 'active'}}
			<ul class="spotlight-carousel">
	        {{#each images}}
	            {{#unless this.data '===' ../../image.data}}
	                <li class="spotlight-carousel-item">
						<span class="card-figure__link card-figure__slider">
						<div class="card-img-container card-img-slider">
						<a href="{{../url}}">
	                    {{> components/common/responsive-img
							theme_settings=../theme_settings
	                        image=this
	                        class="card-image card-image-slide"
	                        fallback_size=theme_settings.productgallery_size
	                        lazyload=theme_settings.lazyload_mode
	                        default_image=theme_settings.default_image_product
	                    }}
						</a>
						</div>
					</span>
	                </li>
	            {{/unless}}
	        {{/each}}
			</ul>
		{{/if}}
		{{#if theme_settings.custom_card_show_wishlist}}
		{{#if customer.wishlists}}
		<span class="card-wishlist">
		    <a aria-controls="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}"
		       aria-expanded="false"
		       class="dropdown-menu-button"
		       data-dropdown="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}"
		       href="#"
		    >
				<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-heart{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		    </a>
			<ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}">
	            {{#each customer.wishlists}}
				<li>
					<form action="{{this.add_url}}&product_id={{../id}}" class="form" method="post">
				    	<input type="submit" class="button button--primary button--small" value="{{this.name}}">
				    </form>
				</li>
	            {{/each}}
	        	<li>
	            	<a data-wishlist class="button button--primary button--small" href="/wishlist.php?action=addwishlist&product_id={{id}}">{{lang 'account.wishlists.create_new'}}</a>
	        	</li>
			</ul>
		</span>
		{{else}}
		<span class="card-wishlist">
		    <a aria-controls="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}"
		       aria-expanded="false"
		       class="dropdown-menu-button"
		       data-dropdown="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}"
		       href="#"
		    >
				<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-heart{{#if theme_settings.custom_header_icon_style '===' 'outline'}}-outline{{/if}}" /></svg></i>
		    </a>
			<ul aria-hidden="true" class="dropdown-menu" data-dropdown-content id="wishlist-dropdown-{{id}}{{#if card_group}}-{{card_group}}{{/if}}">
	        	<li>
	            	<a data-wishlist class="button button--primary button--small" href="/wishlist.php?action=addwishlist&product_id={{id}}">{{lang 'account.wishlists.create_new'}}</a>
	        	</li>
			</ul>
		</span>
		{{/if}}
		{{/if}}
    </figure>
    <div class="listItem-body card-body">
        <div class="listItem-content">
            <div class="listItem-details">
                {{#if show_rating}}
                    <p class="listItem-rating">{{> components/products/ratings rating_target=name rating=rating}}</p>
                {{/if}}
                {{#if brand.name}}
                <p class="listItem-brand">{{brand.name}}</p>
                {{/if}}
                <h4 class="listItem-title">
                    <a href="{{url}}"
                    aria-label="{{> components/products/product-info}}"
                    data-event-type="product-click"
                    >
                        {{name}}
                    </a>
                </h4>
                {{#if summary}}
                    <p class="listItem-summary">{{{summary}}}</p>
                {{/if}}
				{{#if theme_settings.custom_card_show_message}}
					<div class="listItem-message">
						{{theme_settings.custom_card_message_text}}
						{{> components/custom/client/client-listitem}}
					</div>
				{{/if}}
            </div>
            <div class="listItem-actions">
                {{#or customer (unless settings.hide_price_from_guests)}}
					{{#if theme_settings.custom_b2b}}
						{{#if (getVar "b2b-prices") '===' 'show'}}
                    		{{#if price}}
                        		<div class="listItem-price">{{> components/products/price price=price}}</div>
                   			{{/if}}
						{{/if}}
					{{else}}
                		{{#if price}}
                    		<div class="listItem-price">{{> components/products/price price=price}}</div>
               			{{/if}}
					{{/if}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
			    {{#if show_cart_action}}
					{{#if has_options}}
						{{#if theme_settings.custom_card_show_swatches}}
				        	<div class="card-swatches"></div>
						{{/if}}
					{{/if}}
				{{/if}}
				{{#if (getVar "warranty") '===' 'active'}}
					<div class="card-warranty">
						<a class="button button--small button--secondary has-dropdown" href="#" data-warranty-url="{{url}}" data-dropdown="warranty{{id}}" aria-expanded="false">
							{{theme_settings.custom_product_warranty_title}}
						</a>
						<div class="dropdown-menu" id="warranty{{id}}" data-dropdown-content="" aria-hidden="true">
							<div class="dropdown-wrap"></div>
						</div>
					</div>
				{{/if}}
				{{#if theme_settings.custom_b2b}}
					{{#if (getVar "b2b-prices") '===' 'show'}}
                    	{{#if show_cart_action}}
                        	{{#if has_options}}
                            	<a href="{{url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                        	{{/if}}
                        	{{#if pre_order}}
                           		<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}">{{lang 'products.pre_order'}}</a>
					        	{{#unless theme_settings.show_product_quick_view}}
									<a href="{{url}}" data-event-type="product-click" class="button button--secondary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'text_truncate.view_more'}}</a>
                    			{{/unless}}
							{{/if}}
                        	{{#if add_to_cart_url }}
                            	<a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}">{{lang 'products.add_to_cart'}}</a>
					        	{{#unless theme_settings.show_product_quick_view}}
									<a href="{{url}}" data-event-type="product-click" class="button button--secondary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'text_truncate.view_more'}}</a>
                    			{{/unless}}
							{{/if}}
                        	{{#if out_of_stock_message }}
                            	<a href="{{url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                        	{{/if}}
                    	{{/if}}
					{{/if}}
				{{else}}
                	{{#if show_cart_action}}
                    	{{#if has_options}}
                        	<a href="{{url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    	{{/if}}
                    	{{#if pre_order}}
                       		<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}">{{lang 'products.pre_order'}}</a>
					        {{#unless theme_settings.show_product_quick_view}}
								<a href="{{url}}" data-event-type="product-click" class="button button--secondary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'text_truncate.view_more'}}</a>
                    		{{/unless}}
						{{/if}}
                    	{{#if add_to_cart_url}}
                        	<a href="{{add_to_cart_url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}">{{lang 'products.add_to_cart'}}</a>
					        {{#unless theme_settings.show_product_quick_view}}
								<a href="{{url}}" data-event-type="product-click" class="button button--secondary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'text_truncate.view_more'}}</a>
                    		{{/unless}}
						{{/if}}
                    	{{#if out_of_stock_message }}
                        	<a href="{{url}}" data-event-type="product-click" class="button button--primary {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    	{{/if}}
                	{{/if}}
				{{/if}}
				{{#if (getVar "spotlight") '===' 'inactive'}}
                	{{#if show_compare}}
                    <label class="button {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" for="compare-{{id}}">
                        {{lang "products.compare"}} <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">
                    </label>
                	{{/if}}
				{{/if}}
		        {{#unless hide_product_quick_view}}
		            {{#if theme_settings.show_product_quick_view}}
		                <button type="button" data-event-type="product-click" class="button button quickview {{#if (getVar 'spotlight') '===' 'active'}}button--large{{else}}button--small{{/if}}" data-product-id="{{id}}">{{lang 'products.quick_view'}}</button>
		            {{/if}}
		        {{/unless}}
            </div>
        </div>
    </div>
</article>
