<ul class="productList" data-price-asc="{{#if price.with_tax}}{{round price.with_tax.value}}{{else}}{{round price.without_tax.value}}{{/if}}" data-price-desc="{{#if price.with_tax}}-{{round price.with_tax.value}}{{else}}-{{round price.without_tax.value}}{{/if}}">
    {{#each products}}
	{{assignVar "productpayment" "inactive"}}
	{{#filter custom_fields 'hidden' property='name'}}
	{{#if value '==' 'payment'}}
		{{assignVar "productpayment" "active"}}
	{{/if}}
	{{/filter}}
	{{#if (getVar "productpayment") '===' 'inactive'}}
    <li class="product{{#filter custom_fields 'hidden' property='name' }}{{#if value '==' 'spotlight'}} spotlight{{else if value '==' 'payment'}} payment{{else if value '==' 'search'}}{{#unless ../../page_type '==' 'category'}} search{{/unless}}{{/if}}{{/filter}}{{#each custom_fields}}{{#if name '==' '_class'}} {{value}}{{/if}}{{/each}}">
		{{>components/products/list-item show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event settings=../settings position=(add @index 1)}}
    </li>
	{{/if}}
    {{/each}}
</ul>

	
