{{inject 'outOfStockDefaultMessage' (lang 'products.out_of_stock_default_message')}}

{{assignVar "b2b-products" "show"}}
{{assignVar "b2b-prices" "show"}}
{{#if theme_settings.custom_b2b}}
	{{#if customer.id}}
		{{#if customer_group_name '==' theme_settings.custom_b2b_pending_group}}
			{{#if theme_settings.custom_b2b_pending_hide_products}}
				{{assignVar "b2b-products" "hide"}}
			{{/if}}
			{{#if theme_settings.custom_b2b_pending_hide_prices}}
				{{assignVar "b2b-prices" "hide"}}
			{{/if}}
		{{/if}}
	{{else}}
		{{#if theme_settings.custom_b2b_guest_hide_products}}
			{{assignVar "b2b-products" "hide"}}
		{{/if}}
		{{#if settings.hide_price_from_guests}}
			{{assignVar "b2b-prices" "hide"}}
		{{/if}}
	{{/if}}
{{/if}}

<div class="productView{{#each product.custom_fields}}{{#if name '==' '_class'}} {{value}}{{/if}}{{/each}}"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option"{{/if}}>

    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-images productView-images-{{theme_settings.custom_product_gallery_size}}" data-image-gallery>
        {{!--
            Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
            for variant/rule image replacement
        --}}
        {{#if product.images.length '>' 1 }}
        {{> components/carousel-content-announcement}}
        {{/if}}
		{{> components/custom/client/client-product-gallery-top}}
        <figure class="productView-image toggle-content is-open"
                data-image-gallery-main
                {{#if product.main_image}}
                data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                {{/if}}
                >
            <div class="productView-img-container">
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                        target="_blank">
                {{/if}}
                {{> components/common/responsive-img
                    image=product.main_image
                    class="productView-image--default"
                    fallback_size=theme_settings.product_size
                    lazyload=theme_settings.lazyload_mode
                    default_image=theme_settings.default_image_product
                    otherAttributes="data-main-image"
                }}
                {{!-- Remove the surrounding a-element if there is no main image. --}}
                {{#if product.main_image}}
                    </a>
                {{/if}}
				{{#filter product.custom_fields '_badge' property='name'}}
		        	<div class="productView-img-badge">{{value}}</div>
				{{/filter}}
            </div>
        </figure>
		{{assignVar "thumbs" "hide"}}
		{{#each product.images}}
			{{#if @last}}
				{{#if @index 0}}
					{{assignVar "thumbs" "hide"}}
				{{else}}
					{{assignVar "thumbs" "show"}}
				{{/if}}
			{{/if}}
		{{/each}}
		{{#if product.videos.list.length}}
			{{#if theme_settings.custom_product_description_location '==' 'underneath'}}
				{{> components/custom/video-player product.videos}}
        	{{/if}}
		{{/if}}
		{{#and product.videos.list.length (if theme_settings.custom_product_description_location '==' 'underneath')}}
			<ul class="productView-thumbnails"{{#gt product.images.length 3}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "swipe": true,
                "dots": false,
                "accessibility": false,
                "slidesToShow": 4,
                "slidesToScroll": 4
            }'{{/gt}}>
				{{> components/custom/video-toggle}}
		{{else}}
			{{#if (getVar "thumbs") '===' 'show'}}
			<ul class="productView-thumbnails"{{#gt product.images.length 4}} data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "swipe": true,
                "dots": false,
                "accessibility": false,
                "slidesToShow": 4,
                "slidesToScroll": 4
            }'{{/gt}}>
			{{/if}}
		{{/and}}
		{{#if (getVar "thumbs") '===' 'show'}}
            {{#each product.images}}
                <li class="productView-thumbnail productView-thumbnail-image">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
            {{/each}}
		{{/if}}
		{{#and product.videos.list.length (if theme_settings.custom_product_description_location '==' 'underneath')}}
		</ul>
		{{else}}
			{{#if (getVar "thumbs") '===' 'show'}}
			</ul>
			{{/if}}
		{{/and}}
		{{#if product.videos.list.length}}
			{{#if theme_settings.custom_product_description_location '==' 'side'}}
				{{> components/products/videos product.videos}}
			{{/if}}
		{{/if}}

		{{#if theme_settings.custom_product_warranty_location '==' 'gallery'}}
        	{{#if product.warranty}}
				<div class="productView-warranty">
					{{#if theme_settings.custom_product_warranty_title.length}}
			    	<h4 class="toggle-title">{{theme_settings.custom_product_warranty_title}}</h4>
					{{/if}}
			    	<div class="warranty-content">
			        	{{{product.warranty}}}
						{{> components/custom/client/client-product-warranty}}
			    	</div>
					{{{region name="product_warranty"}}}
				</div>
        	{{/if}}
		{{/if}}
		{{> components/custom/client/client-product-gallery-bottom}}
    </section>

    <section class="productView-details{{#if product.brand}} productView-details-{{first (split product.brand.name ' ')}}{{/if}} productView-details-{{theme_settings.custom_product_gallery_size}} product-data">
        <div class="productView-product">
			{{> components/custom/client/client-product-top}}
			<div class="productView-top-global">
			{{{region name="product_top--global"}}}
			</div>
			{{{region name="product_top"}}}
			{{#if theme_settings.custom_product_title_left}}
            <h1 class="productView-title">{{product.title}}</h1>
			{{/if}}
            {{#if product.brand}}
                <h2 class="productView-brand">
					{{#if (getVar "b2b-products") '===' 'show'}}
                    	<a href="{{product.brand.url}}"><span>{{product.brand.name}}</span></a>
					{{else}}
						<span>{{product.brand.name}}</span>
					{{/if}}
                </h2>
            {{/if}}
			{{#if theme_settings.custom_product_warranty_location '==' 'minidesc'}}
	        	{{#if product.warranty}}
					<div class="productView-minidesc">
						{{#if theme_settings.custom_product_warranty_title.length}}
				    	<h4 class="minidesc-title">{{theme_settings.custom_product_warranty_title}}</h4>
						{{/if}}
				    	<div class="minidesc-content">
				        	{{{product.warranty}}}
							{{> components/custom/client/client-product-warranty}}
				    	</div>
						{{{region name="product_warranty"}}}
					</div>
	        	{{/if}}
			{{/if}}
			{{#if (getVar "b2b-prices") '===' 'show'}}
            	{{#if product.call_for_price}}
				<p class="productView-price">
				{{#contains product.call_for_price "//"}}
					<span>{{after (split product.call_for_price '//') 1}}</span>
				{{else}}
					<span>{{product.call_for_price}}</span>
				{{/contains}}
				</p>
            	{{/if}}
			{{/if}}
            <div class="productView-price">
                {{#or customer (unless settings.hide_price_from_guests)}}
					{{#if (getVar "b2b-prices") '===' 'show'}}
                    	{{> components/products/price price=product.price}}
					{{/if}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
			<div class="productView-below-price-global">
			{{{region name="product_below_price--global"}}}
			</div>
            {{{region name="product_below_price"}}}
            <div class="productView-rating">
                <dl class="productView-info">
				{{#if settings.show_product_rating}}
					<dt class="productView-info-name"{{#unless theme_settings.show_product_reviews}} style="display: none;"{{/unless}}>
                    {{> components/products/ratings rating=product.rating}}
                    {{#if product.num_reviews '>' 0}}
                        <a href="{{product.url}}{{#if is_ajax}}#product-reviews{{/if}}" id="productReview_link">
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        </a>
                    {{else}}
                        <span>{{lang 'products.reviews.link_to_review' total=product.num_reviews}}</span>
                    {{/if}}
					</dt>
                {{/if}}				
                {{#if settings.show_product_reviews}}		
					<dd class="productView-info-value"{{#unless theme_settings.show_product_reviews}} style="display: none;"{{/unless}}>
                    	<a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}" 
						class="productView-reviewLink productView-reviewLink--new" 
						{{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}} 
						role="button"
                    	>
                       		{{lang 'products.reviews.new'}}
                    	</a>
						{{#unless is_ajax}}
                    	{{> components/products/modals/writeReview}}
						{{/unless}}
					</dd>
                {{/if}}
				</dl>
            </div>
            {{product.detail_messages}}
            <dl class="productView-info">
                <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                <dd class="productView-info-value sku-value"{{#unless product.sku}} style="display: none;"{{/unless}} data-product-sku>{{product.sku}}</dd>
                <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                <dd class="productView-info-value upc-value"{{#unless product.upc}} style="display: none;"{{/unless}} data-product-upc>{{product.upc}}</dd>
                {{#if product.condition}}
                    <dt class="productView-info-name condition-label">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value condition-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name availability-label">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value availability-value">{{product.availability}}</dd>
                {{/if}}
                {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name weight-label">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value weight-value" data-product-weight>{{product.weight}}</dd>
                {{/all}}
                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name dimensions-label">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value dimensions-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name height-label">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value height-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name depth-label">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value depth-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                {{/all}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name minpurchase-label">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value minpurchase-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name maxpurchase-label">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value maxpurchase-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name giftwrappping-label">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value giftwrapping-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name shipping-label">{{lang 'products.shipping'}}</dt>
                      	<dd class="productView-info-value shipping-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name shipping-label">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value shipping-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name shipping-label">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value shipping-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}
				
                {{#if theme_settings.show_custom_fields_tabs '!==' true}}
					{{> components/products/custom-fields }}
                {{/if}}
				{{#if (getVar "b2b-prices") '===' 'show'}}
                {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing">
                        {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                {{/if}}
				{{/if}}
            </dl>
			{{#if theme_settings.show_custom_fields_tabs '!==' true}}
				{{> components/custom/client/client-product-fields}}
				{{{region name="product_fields"}}}
			{{/if}}
        </div>
    </section>

    <section class="productView-details{{#if product.brand}} productView-details-{{first (split product.brand.name ' ')}}{{/if}} productView-details-{{theme_settings.custom_product_gallery_size}} product-options">
        <div class="productView-options">
            {{#if product.release_date }}
				<div class="alertBox productAttributes-message" style="">
					<div class="alertBox-column alertBox-icon">
						<icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
					</div>
					<p class="alertBox-column alertBox-message">{{product.release_date}}</p>
				</div>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                <div data-product-option-change style="display:none;">
                    {{inject 'showSwatchNames' theme_settings.show_product_swatch_names}}
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
					{{> components/custom/client/client-product-options}}
                </div>
                <div class="form-field form-field--stock{{#if product.options}} form-field--stock-options{{else}} form-field--stock-single{{/if}}{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                    </label>
					<span data-product-stock>
						<i class="icon" aria-hidden="true"><svg><use xlink:href="#icon-tick" /></svg></i><strong class="in-stock-number">{{product.stock_level}} </strong><span class="in-stock-label">In Stock</span>
					</span>
                </div>
				{{#if (getVar "b2b-prices") '===' 'show'}}
                	{{> components/products/add-to-cart with_wallet_buttons=true}}
				{{/if}}
				{{> components/custom/client/client-product-add}}
				{{#if (getVar "b2b-prices") '===' 'show'}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
				{{/if}}
            </form>
			{{#if (getVar "b2b-prices") '===' 'show'}}
			{{#or customer (unless settings.hide_price_from_guests)}}
            {{#all settings.show_wishlist theme_settings.custom_product_wishlist_show}}
                {{> components/common/wishlist-dropdown}}
            {{/all}}
			{{/or}}
			{{/if}}
			{{> components/custom/client/client-product-bottom}}
			<div class="productView-bottom-global">
			{{{region name="product_bottom--global"}}}
			</div>
			{{{region name="product_bottom"}}}
			{{#filter product.custom_fields '_upsell' property='name' }}
				<div class="productView-upsell-regions">
				{{{region name="product_upsell--global"}}}
				{{{region name="product_upsell"}}}
				</div>
	  			<div class="productView-upsell" data-upsell-id="{{../product.id}}">
			
	  			</div>
			{{/filter}}
        </div>
        {{> components/common/share url=product.url}}
    </section>

    <article class="productView-description productView-description-{{theme_settings.custom_product_description_location}} productView-description-{{theme_settings.custom_product_gallery_size}}">
        {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
        {{else}}
            {{> components/products/description}}
        {{/if}}
    </article>
</div>
{{#if theme_settings.custom_product_addtocart_modal}}
<div id="previewModal" class="modal modal--large" data-reveal>
    {{> components/common/modal/modal-close-btn }}
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>
{{/if}}