<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": {{{JSONstringify product.title}}},
        {{#if product.sku}}"sku": "{{product.sku}}",{{/if}}
        {{#if product.mpn}}"mpn": "{{product.mpn}}",{{/if}}
        {{#if product.gtin}}"gtin{{length product.gtin}}": "{{product.gtin}}",{{/if}}
        "url" : "{{product.url}}",
        {{#if product.brand}}
        "brand": {
            "@type": "Brand",
            "url": "{{product.brand.url}}",
            "name": {{{JSONstringify product.brand.name}}}
        },
        {{/if}}
        "description": {{{json (ellipsis (sanitize product.description) 4000) }}},
        "image": "{{getImage product.main_image 'zoom_size' (cdn theme_settings.default_image_product)}}",
        {{#and settings.show_product_reviews product.reviews.list.length}}
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{product.rating}}",
            "reviewCount": "{{product.num_reviews}}"
        },
        "review": [
        {{#each product.reviews.list}}
            {
                "@type": "Review",
                "author": {
                    "@type": "Person",
                    "name": {{#if name}}{{{JSONstringify name}}}{{else}}{{{JSONstringify (lang 'products.reviews.anonymous_poster')}}}{{/if}}
                },
                "datePublished": "{{date}}",
                "reviewBody": {{{JSONstringify text}}},
                "name": {{{JSONstringify title}}},
                "reviewRating": {
                    "@type": "Rating",
                    "bestRating": "5",
                    "ratingValue": "{{rating}}",
                    "worstRating": "1"
                }
            }{{#unless @last}},{{/unless}}
        {{/each}}
        ],
        {{/and}}
        "offers": {
            "@type": "Offer",
            "priceCurrency": "{{currency_selector.active_currency_code}}",
            {{#if product.call_for_price}}
            {{#contains product.call_for_price "//"}}
            "price": "{{{before (split product.call_for_price '//') 1}}}",
            {{else}}
            "price": "",
            {{/contains}}
            {{else}}
			{{#if product.price.price_range}}
			"priceSpecification": {
				"minPrice": "{{#if product.price.price_range.min.with_tax}}{{product.price.price_range.min.with_tax.value}}{{else}}{{product.price.price_range.min.without_tax.value}}{{/if}}",
				"maxPrice": "{{#if product.price.price_range.max.with_tax}}{{product.price.price_range.max.with_tax.value}}{{else}}{{product.price.price_range.max.without_tax.value}}{{/if}}"
			},
			"price": "{{#if product.price.price_range.min.with_tax}}{{product.price.price_range.min.with_tax.value}}{{else}}{{product.price.price_range.min.without_tax.value}}{{/if}}",
			{{else}}
            "price": "{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}",
            {{/if}}
            {{/if}}
            "itemCondition" : "https://schema.org/{{#if product.condition}}{{product.condition}}{{else}}New{{/if}}Condition",
            "availability" : "https://schema.org/{{#if product.pre_order}}PreOrder{{else if product.out_of_stock}}OutOfStock{{else if product.can_purchase '===' false}}OutOfStock{{else}}InStock{{/if}}",
            "url" : "{{product.url}}",
            "priceValidUntil": "{{moment (moment add='31536000000') 'YYYY-MM-DD' }}",
	        "shippingDetails": [
	            {
	                "@type": "OfferShippingDetails",
	                "shippingRate": {
	                    "@type": "MonetaryAmount",
	                    "value": 0,
	                    "currency": "GBP"
	                },
	                "freeShippingThreshold": {
	                    "@type": "DeliveryChargeSpecification",
	                    "eligibleTransactionVolume": {
	                        "@type": "PriceSpecification",
	                        "value": 60,
	                        "currency": "GBP"
	                    }
	                },
	                "shippingDestination": {
	                    "@type": "DefinedRegion",
	                    "addressCountry": "GB"
	                },
	                "deliveryTime": {
	                    "@type": "ShippingDeliveryTime",
	                    "handlingTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 0,
	                        "maxValue": 1,
	                        "unitCode": "DAY"
	                    },
	                    "transitTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 3,
	                        "maxValue": 5,
	                        "unitCode": "DAY"
	                    }
	                }
	            },
	            {
	                "@type": "OfferShippingDetails",
	                "shippingRate": {
	                    "@type": "MonetaryAmount",
	                    "value": 3.99,
	                    "currency": "GBP"
	                },
	                "shippingDestination": {
	                    "@type": "DefinedRegion",
	                    "addressCountry": "GB"
	                },
	                "deliveryTime": {
	                    "@type": "ShippingDeliveryTime",
	                    "handlingTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 0,
	                        "maxValue": 1,
	                        "unitCode": "DAY"
	                    },
	                    "transitTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 3,
	                        "maxValue": 5,
	                        "unitCode": "DAY"
	                    }
	                }
	            },
	            {
	                "@type": "OfferShippingDetails",
	                "shippingRate": {
	                    "@type": "MonetaryAmount",
	                    "value": 6.95,
	                    "currency": "GBP"
	                },
	                "shippingDestination": {
	                    "@type": "DefinedRegion",
	                    "addressCountry": "GB"
	                },
	                "deliveryTime": {
	                    "@type": "ShippingDeliveryTime",
	                    "handlingTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 0,
	                        "maxValue": 1,
	                        "unitCode": "DAY"
	                    },
	                    "transitTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 0,
	                        "maxValue": 1,
	                        "unitCode": "DAY"
	                    }
	                }
	            },
	            {
	                "@type": "OfferShippingDetails",
	                "shippingRate": {
	                    "@type": "MonetaryAmount",
	                    "value": 7,
	                    "currency": "EUR"
	                },
	                "shippingDestination": [
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "FR"
	                    },
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "DE"
	                    },
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "IE"
	                    },
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "IT"
	                    },
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "NL"
	                    },
	                    {
	                        "@type": "DefinedRegion",
	                        "addressCountry": "ES"
	                    }
	                ],
	                "deliveryTime": {
	                    "@type": "ShippingDeliveryTime",
	                    "handlingTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 0,
	                        "maxValue": 1,
	                        "unitCode": "DAY"
	                    },
	                    "transitTime": {
	                        "@type": "QuantitativeValue",
	                        "minValue": 1,
	                        "maxValue": 101,
	                        "unitCode": "DAY"
	                    }
	                }
	            }
	        ],
	        "hasMerchantReturnPolicy": {
	            "@type": "MerchantReturnPolicy",
	            "applicableCountry": [
	                "GB",
	                "FR",
	                "DE",
	                "IE",
	                "IT",
	                "NL",
	                "ES"
	            ],
	            "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
	            "merchantReturnDays": 30,
	            "returnMethod": "https://schema.org/ReturnByMail",
	            "returnFees": "https://schema.org/ReturnFeesCustomerResponsibility",
	            "returnPolicyCountry": "GB",
	            "merchantReturnLink": "https://olproshop.com/returns/"
	        }
        }
    }
</script>
